<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.yiban.erp.entities"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapping/UserMapper.xml"/>
        <mapper resource="mapping/UserRoleMapper.xml"/>
        <mapper resource="mapping/UserAuthMapper.xml"/>
        <mapper resource="mapping/GoodCategoryMapper.xml"/>
        <mapper resource="mapping/GoodsMapper.xml"/>
        <mapper resource="mapping/FactoryMapper.xml"/>
        <mapper resource="mapping/SupplierMapper.xml"/>
        <mapper resource="mapping/UnitMapper.xml"/>
        <mapper resource="mapping/SupplierContactMapper.xml"/>
        <mapper resource="mapping/CustomerCategoryMapper.xml"/>
        <mapper resource="mapping/CustomerCertMapper.xml"/>
        <mapper resource="mapping/CustomerMapper.xml"/>
        <mapper resource="mapping/CustomerRepMapper.xml"/>
        <mapper resource="mapping/FileInfoMapper.xml"/>
        <mapper resource="mapping/FileTypeMapper.xml"/>
        <mapper resource="mapping/FileUploadMapper.xml"/>
        <mapper resource="mapping/OptionsMapper.xml"/>
        <mapper resource="mapping/WarehouseMapper.xml"/>
        <mapper resource="mapping/BuyOrderMapper.xml"/>
        <mapper resource="mapping/BuyOrderDetailMapper.xml"/>
        <mapper resource="mapping/SellOrderMapper.xml"/>
    </mappers>
</configuration>