<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.yiban.erp.entities"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapping/GoodCategoryMapper.xml"/>
        <mapper resource="mapping/GoodsMapper.xml"/>
        <mapper resource="mapping/FactoryMapper.xml"/>
        <mapper resource="mapping/UnitMapper.xml"/>
    </mappers>
</configuration>