.ivu-input-group-with-prepend {
  .ivu-input-group-prepend {
    :not(.ivu-btn-small) .ivu-icon {
      font-size: 16px;
    }
  }
  .ivu-select-selection {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
  }
}

.ivu-input-group-with-append {
  .ivu-input-icon {
    right: 24px;
  }
  .ivu-select-selection {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
  }
}

.cust-modal {
  .ivu-modal-mask, .ivu-modal-wrap {z-index: 1001;}
  .ivu-modal-header {
      background-color: #07889B;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
  }
  .ivu-modal-header-inner,
  .ivu-modal-close,
  .ivu-icon-ios-close-empty { color: white; }
}

.goods-modal {
  .ivu-modal-mask, .ivu-modal-wrap {z-index: 1001;}
  .ivu-modal-header {
      background-color: #2b85e4;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
  }
  .ivu-modal-header-inner,
  .ivu-modal-close,
  .ivu-icon-ios-close-empty { color: white; }
}

.factory-modal,
.supplier-modal {
  .ivu-modal-mask, .ivu-modal-wrap {z-index: 1001;}
  .ivu-modal-header {
      background-color: #495060;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
  }
  .ivu-modal-header-inner,
  .ivu-modal-close,
  .ivu-icon-ios-close-empty { color: white; }
}