<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.BizWxApplyMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.BizWxApply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="license" property="license" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
    <result column="contact_idcard" property="contactIdcard" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="contact_mobile" property="contactMobile" jdbcType="VARCHAR" />
    <result column="apply_amount" property="applyAmount" jdbcType="INTEGER" />
    <result column="apply_months" property="applyMonths" jdbcType="INTEGER" />
    <result column="license_url" property="licenseUrl" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, license, name, legal_person, contact_idcard, contact, contact_mobile, apply_amount, 
    apply_months, license_url, created_time, created_by, updated_time, updated_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from biz_wx_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from biz_wx_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.BizWxApply" useGeneratedKeys="true" keyProperty="id">
    insert into biz_wx_apply (license, name,
      legal_person, contact_idcard, contact, 
      contact_mobile, apply_amount, apply_months, 
      license_url, created_time, created_by, 
      updated_time, updated_by)
    values (#{license,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{legalPerson,jdbcType=VARCHAR}, #{contactIdcard,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, 
      #{contactMobile,jdbcType=VARCHAR}, #{applyAmount,jdbcType=INTEGER}, #{applyMonths,jdbcType=INTEGER}, 
      #{licenseUrl,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yiban.erp.entities.BizWxApply" useGeneratedKeys="true" keyProperty="id">
    insert into biz_wx_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="license != null" >
        license,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="legalPerson != null" >
        legal_person,
      </if>
      <if test="contactIdcard != null" >
        contact_idcard,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="contactMobile != null" >
        contact_mobile,
      </if>
      <if test="applyAmount != null" >
        apply_amount,
      </if>
      <if test="applyMonths != null" >
        apply_months,
      </if>
      <if test="licenseUrl != null" >
        license_url,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="license != null" >
        #{license,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactIdcard != null" >
        #{contactIdcard,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null" >
        #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="applyAmount != null" >
        #{applyAmount,jdbcType=INTEGER},
      </if>
      <if test="applyMonths != null" >
        #{applyMonths,jdbcType=INTEGER},
      </if>
      <if test="licenseUrl != null" >
        #{licenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.BizWxApply" >
    update biz_wx_apply
    <set >
      <if test="license != null" >
        license = #{license,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactIdcard != null" >
        contact_idcard = #{contactIdcard,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null" >
        contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="applyAmount != null" >
        apply_amount = #{applyAmount,jdbcType=INTEGER},
      </if>
      <if test="applyMonths != null" >
        apply_months = #{applyMonths,jdbcType=INTEGER},
      </if>
      <if test="licenseUrl != null" >
        license_url = #{licenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.erp.entities.BizWxApply" >
    update biz_wx_apply
    set license = #{license,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      legal_person = #{legalPerson,jdbcType=VARCHAR},
      contact_idcard = #{contactIdcard,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      apply_amount = #{applyAmount,jdbcType=INTEGER},
      apply_months = #{applyMonths,jdbcType=INTEGER},
      license_url = #{licenseUrl,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>