<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.BuyOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.BuyOrderDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="buy_order_id" property="buyOrderId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="DECIMAL" />
    <result column="buy_price" property="buyPrice" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="shipped_quantity" property="shippedQuantity" jdbcType="DECIMAL" />
    <result column="already_fapiao" property="alreadyFapiao" jdbcType="BIT" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, buy_order_id, goods_id, goods_name, quantity, buy_price, amount, retail_price,
    shipped_quantity, already_fapiao, created_by, updated_by, created_time, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from buy_order_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
      bd.*, bo.warehouse_id as warehouseId
    from buy_order_detail bd, buy_order bo
    where
      bd.buy_order_id = bo.id
      and bd.buy_order_id = #{buyOrderId,jdbcType=BIGINT}
      <if test="companyId != null" >
          and bo.company_id = #{companyId, jdbcType=INTEGER}
      </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from buy_order_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByBuyOrderId" parameterType="java.lang.Long" >
    delete from buy_order_detail
    where buy_order_id = #{buyOrderId,jdbcType=BIGINT}
  </delete>


  <insert id="insert" parameterType="com.yiban.erp.entities.BuyOrderDetail" useGeneratedKeys="true" keyProperty="id">
    insert into buy_order_detail (buy_order_id, goods_id,
      goods_name, quantity, buy_price, amount,
      shipped_quantity, already_fapiao, created_by, 
      updated_by, created_time, updated_time
      )
    values (#{buyOrderId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT},
      #{goodsName,jdbcType=VARCHAR}, #{quantity,jdbcType=DECIMAL}, #{buyPrice,jdbcType=DECIMAL}, 
      #{amount,jdbcType=DECIMAL},
      #{shippedQuantity,jdbcType=DECIMAL}, #{alreadyFapiao,jdbcType=BIT}, #{createdBy,jdbcType=VARCHAR}, 
      #{updatedBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.BuyOrderDetail" >
    update buy_order_detail
    <set >
      <if test="buyOrderId != null" >
        buy_order_id = #{buyOrderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="buyPrice != null" >
        buy_price = #{buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="shippedQuantity != null" >
        shipped_quantity = #{shippedQuantity,jdbcType=DECIMAL},
      </if>
      <if test="alreadyFapiao != null" >
        already_fapiao = #{alreadyFapiao,jdbcType=BIT},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>