<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.BuyOrderMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.BuyOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
    <result column="supplier_contact_id" property="supplierContactId" jdbcType="BIGINT" />
    <result column="buyer_id" property="buyerId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="ship_method_id" property="shipMethodId" jdbcType="BIGINT" />
    <result column="ship_tool_id" property="shipToolId" jdbcType="BIGINT" />
    <result column="temper_control_id" property="temperControlId" jdbcType="BIGINT" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
    <result column="eta" property="eta" jdbcType="TIMESTAMP" />
    <result column="ref_no" property="refNo" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="check_by" property="checkBy" jdbcType="VARCHAR"/>
    <result column="check_result" property="checkResult" jdbcType="VARCHAR" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_number, supplier_id, supplier_contact_id, buyer_id, status, ship_method_id, ship_tool_id,
    temper_control_id, warehouse_id, eta, ref_no, comment, company_id, created_by, updated_by,
    created_time, updated_time, check_by, check_result, check_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from buy_order
    where id = #{id,jdbcType=BIGINT} and status != 'DELETE'
  </select>
    <select id="queryOrders" resultMap="BaseResultMap" parameterType="com.yiban.erp.entities.BuyOrderQuery" >
        select
        bo.*,
        su.name as supplier, su.is_cold_business as supplierColdManage, su.can_special as supplierSpecialManage,
        sc.name as supplierContact, w.name as warehouse,
        o.value as shipMethod, o1.value as shipTool, o2.value as temperControl
        from buy_order bo
            left join supplier su on bo.supplier_id = su.id
            left join supplier_contact sc on bo.supplier_contact_id = sc.id
            left join warehouse w on w.id=bo.warehouse_id
            left join options o on o.id = bo.ship_method_id
            left join options o1 on o1.id = bo.ship_tool_id
            left join options o2 on o2.id = bo.temper_control_id
        where 1=1 and bo.status != 'DELETE'
        <if test="supplierId != null" >
          and bo.supplier_id = #{supplierId, jdbcType=BIGINT}
        </if>
        <if test="status != null" >
          and bo.status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="startDate != null" >
            and bo.created_time >= #{startDate,jdbcType=TIMESTAMP}
        </if>
        <if test="endDate != null" >
            and #{endDate,jdbcType=TIMESTAMP} > bo.created_time
        </if>
        <if test="statusNames != null" >
            and bo.status in
            <foreach collection="statusNames" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="companyId != null" >
          and bo.company_id = #{companyId,jdbcType=VARCHAR}
        </if>
    </select>

  <select id="getOrderById" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
        bo.*,
        su.name as supplier, su.is_cold_business as supplierColdManage, su.can_special as supplierSpecialManage,
        sc.name as supplierContact, w.name as warehouse,
        o.value as shipMethod, o1.value as shipTool, o2.value as temperControl
        from buy_order bo
            left join supplier su on bo.supplier_id = su.id
            left join supplier_contact sc on bo.supplier_contact_id = sc.id
            left join warehouse w on w.id=bo.warehouse_id
            left join options o on o.id = bo.ship_method_id
            left join options o1 on o1.id = bo.ship_tool_id
            left join options o2 on o2.id = bo.temper_control_id
        where bo.id = #{orderId} and bo.status != 'DELETE'
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from buy_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.BuyOrder" useGeneratedKeys="true" keyProperty="id">
    insert into buy_order (order_number, supplier_id, supplier_contact_id,
      buyer_id, status, ship_method_id, 
      ship_tool_id, temper_control_id, warehouse_id, 
      eta, ref_no, comment,
      company_id, created_by, updated_by, 
      created_time, updated_time, check_by, check_result, check_time)
    values (#{orderNumber, jdbcType=VARCHAR}, #{supplierId,jdbcType=BIGINT}, #{supplierContactId,jdbcType=BIGINT},
      #{buyerId,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR}, #{shipMethodId,jdbcType=BIGINT},
      #{shipToolId,jdbcType=BIGINT}, #{temperControlId,jdbcType=BIGINT}, #{warehouseId,jdbcType=INTEGER},
      #{eta,jdbcType=TIMESTAMP}, #{refNo,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR},
      #{companyId,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP},
      #{checkBy,jdbcType=VARCHAR}, #{checkResult,jdbcType=VARCHAR}, #{checkTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.BuyOrder" >
    update buy_order
    <set >
      <if test="orderNumber != null">
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="supplierContactId != null" >
        supplier_contact_id = #{supplierContactId,jdbcType=BIGINT},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="shipMethodId != null" >
        ship_method_id = #{shipMethodId,jdbcType=BIGINT},
      </if>
      <if test="shipToolId != null" >
        ship_tool_id = #{shipToolId,jdbcType=BIGINT},
      </if>
      <if test="temperControlId != null" >
        temper_control_id = #{temperControlId,jdbcType=BIGINT},
      </if>
      <if test="warehouseId != null" >
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="eta != null" >
        eta = #{eta,jdbcType=TIMESTAMP},
      </if>
      <if test="refNo != null" >
        ref_no = #{refNo,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkBy != null" >
        check_by = #{checkBy,jdbcType=VARCHAR},
      </if>
      <if test="checkResult != null" >
        check_result = #{checkResult,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime, jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
    <if test="companyId != null" >
      and company_id = #{companyId,jdbcType=INTEGER}
    </if>
  </update>

  <select id="getGoodsOrderCount" parameterType="map" resultType="com.yiban.erp.dto.CurrentBalanceResp">
      select d.goods_id as goodsId, count(b.id) as buyOrderCount, sum(quantity) as ongoingCount
      from buy_order b, buy_order_detail d
      where b.id = d.buy_order_id
      and b.status in ('INIT', 'CHECKING', 'CHECKED')
      and d.goods_id in
      <foreach collection="goodsIdList" item="item" open="(" close=")" separator=",">
        #{item}
      </foreach>
      group by d.goods_id
  </select>

</mapper>