<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.Company" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="license" property="license" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="expired_time" property="expiredTime" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="account_amount" property="accountAmount" jdbcType="DECIMAL" />
    <result column="in_amount" property="inAmount" jdbcType="DECIMAL" />
    <result column="out_amount" property="outAmount" jdbcType="DECIMAL" />
    <result column="industry" property="industry" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="contact_person" property="contactPerson" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="account_bank" property="accountBank" jdbcType="VARCHAR" />
    <result column="account_num" property="accountNum" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="billing" property="billing" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, license, enabled, created_time, updated_time, expired_time, created_by, updated_by, account_amount, in_amount, out_amount, industry, city, address, email,
    fax, contact_person, contact_phone, account_name, account_bank, account_num,introduce, billing
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from company
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getByLicense" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from company
    where license = #{license}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.Company" keyProperty="id" useGeneratedKeys="true" >
    insert into company (name, license,
      enabled, created_time, updated_time, expired_time,
      created_by, updated_by, account_amount, in_amount, out_amount, industry, city, address, email,
    fax, contact_person, contact_phone, account_name, account_bank, account_num, billing,introduce)
    values (#{name,jdbcType=VARCHAR}, #{license,jdbcType=VARCHAR},
      #{enabled,jdbcType=BIT}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, #{expiredTime,jdbcType=TIMESTAMP},
      #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}, #{accountAmount, jdbcType=DECIMAL},
      #{inAmount, jdbcType=DECIMAL}, #{outAmount, jdbcType=DECIMAL},
      #{industry,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},
      #{fax,jdbcType=VARCHAR},#{contactPerson,jdbcType=VARCHAR},#{contactPhone,jdbcType=VARCHAR},#{accountName,jdbcType=VARCHAR},
      #{accountBank,jdbcType=VARCHAR},#{accountNum,jdbcType=VARCHAR},#{billing,jdbcType=VARCHAR},#{introduce,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.Company" >
    update company
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="license != null" >
        license = #{license,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiredTime != null" >
        expired_time = #{expiredTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null" >
        contact_person = #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountBank != null" >
        account_bank = #{accountBank,jdbcType=VARCHAR},
      </if>
      <if test="accountNum != null" >
        account_num = #{accountNum,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="billing != null" >
        billing = #{billing,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateAccountAmount" parameterType="map" >
    update company
      set account_amount = #{accountAmount},
          in_amount = #{inAmount},
          out_amount = #{outAmount}
    where id = #{id}
  </update>
</mapper>