<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.Customer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="customer_no" property="customerNo" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="shor_name" property="shorName" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="can_sale_special" property="canSaleSpecial" jdbcType="BIT" />
    <result column="is_limit_special" property="isLimitSpecial" jdbcType="BIT" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="postcode" property="postcode" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="legal_persion" property="legalPersion" jdbcType="VARCHAR" />
    <result column="employee" property="employee" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="contact_fax" property="contactFax" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="is_direction" property="isDirection" jdbcType="BIT" />
    <result column="sale_area" property="saleArea" jdbcType="VARCHAR" />
    <result column="salesman" property="salesman" jdbcType="VARCHAR" />
    <result column="member_level" property="memberLevel" jdbcType="VARCHAR" />
    <result column="class_att_one" property="classAttOne" jdbcType="VARCHAR" />
    <result column="class_att_two" property="classAttTwo" jdbcType="VARCHAR" />
    <result column="seal_model" property="sealModel" jdbcType="VARCHAR" />
    <result column="bill_model" property="billModel" jdbcType="VARCHAR" />
    <result column="business_scope" property="businessScope" jdbcType="VARCHAR" />
    <result column="account_period" property="accountPeriod" jdbcType="INTEGER" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="bank_account" property="bankAccount" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="duty_account" property="dutyAccount" jdbcType="VARCHAR" />
    <result column="qua_check" property="quaCheck" jdbcType="VARCHAR" />
    <result column="file_no" property="fileNo" jdbcType="VARCHAR" />
    <result column="supervise_no" property="superviseNo" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, customer_no, name, shor_name, pinyin, status, enabled, can_sale_special,
    is_limit_special, city, address, postcode, category_id, legal_persion, employee, 
    contact_phone, contact_fax, email, is_direction, sale_area, salesman, member_level, 
    class_att_one, class_att_two, seal_model, bill_model, business_scope, account_period, 
    account_name, bank_account, bank_name, duty_account, qua_check, file_no, supervise_no, comment, create_time,
    update_time, create_by, update_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.Customer" keyProperty="id" useGeneratedKeys="true" >
    insert into customer (company_id, customer_no,
      name, shor_name, pinyin, status,
      enabled, can_sale_special, is_limit_special, 
      city, address, postcode, 
      category_id, legal_persion, employee, 
      contact_phone, contact_fax, email, 
      is_direction, sale_area, salesman, 
      member_level, class_att_one, class_att_two, 
      seal_model, bill_model, business_scope, 
      account_period, account_name, bank_account, 
      bank_name, duty_account, qua_check, file_no, supervise_no,
      comment, create_time, update_time, 
      create_by, update_by)
    values (#{companyId,jdbcType=INTEGER}, #{customerNo,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{shorName,jdbcType=VARCHAR}, #{pinyin,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{enabled,jdbcType=BIT}, #{canSaleSpecial,jdbcType=BIT}, #{isLimitSpecial,jdbcType=BIT}, 
      #{city,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, 
      #{categoryId,jdbcType=INTEGER}, #{legalPersion,jdbcType=VARCHAR}, #{employee,jdbcType=VARCHAR}, 
      #{contactPhone,jdbcType=VARCHAR}, #{contactFax,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{isDirection,jdbcType=BIT}, #{saleArea,jdbcType=VARCHAR}, #{salesman,jdbcType=VARCHAR}, 
      #{memberLevel,jdbcType=VARCHAR}, #{classAttOne,jdbcType=VARCHAR}, #{classAttTwo,jdbcType=VARCHAR}, 
      #{sealModel,jdbcType=VARCHAR}, #{billModel,jdbcType=VARCHAR}, #{businessScope,jdbcType=VARCHAR},
      #{accountPeriod,jdbcType=INTEGER}, #{accountName,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, 
      #{bankName,jdbcType=VARCHAR}, #{dutyAccount,jdbcType=VARCHAR},
      #{quaCheck,jdbcType=VARCHAR}, #{fileNo,jdbcType=VARCHAR}, #{superviseNo,jdbcType=VARCHAR},
      #{comment,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yiban.erp.entities.Customer" keyProperty="id" useGeneratedKeys="true">
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="customerNo != null" >
        customer_no,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="shorName != null" >
        shor_name,
      </if>
      <if test="pinyin != null" >
        pinyin,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="canSaleSpecial != null" >
        can_sale_special,
      </if>
      <if test="isLimitSpecial != null" >
        is_limit_special,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="postcode != null" >
        postcode,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="legalPersion != null" >
        legal_persion,
      </if>
      <if test="employee != null" >
        employee,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
      <if test="contactFax != null" >
        contact_fax,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="isDirection != null" >
        is_direction,
      </if>
      <if test="saleArea != null" >
        sale_area,
      </if>
      <if test="salesman != null" >
        salesman,
      </if>
      <if test="memberLevel != null" >
        member_level,
      </if>
      <if test="classAttOne != null" >
        class_att_one,
      </if>
      <if test="classAttTwo != null" >
        class_att_two,
      </if>
      <if test="sealModel != null" >
        seal_model,
      </if>
      <if test="billModel != null" >
        bill_model,
      </if>
      <if test="businessScope != null" >
        business_scope,
      </if>
      <if test="accountPeriod != null" >
        account_period,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="bankAccount != null" >
        bank_account,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="dutyAccount != null" >
        duty_account,
      </if>
      <if test="quaCheck != null" >
        qua_check,
      </if>
      <if test="fileNo != null" >
        file_no,
      </if>
      <if test="superviseNo != null" >
        supervise_no,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="customerNo != null" >
        #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shorName != null" >
        #{shorName,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
      <if test="canSaleSpecial != null" >
        #{canSaleSpecial,jdbcType=BIT},
      </if>
      <if test="isLimitSpecial != null" >
        #{isLimitSpecial,jdbcType=BIT},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="legalPersion != null" >
        #{legalPersion,jdbcType=VARCHAR},
      </if>
      <if test="employee != null" >
        #{employee,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactFax != null" >
        #{contactFax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="isDirection != null" >
        #{isDirection,jdbcType=BIT},
      </if>
      <if test="saleArea != null" >
        #{saleArea,jdbcType=VARCHAR},
      </if>
      <if test="salesman != null" >
        #{salesman,jdbcType=VARCHAR},
      </if>
      <if test="memberLevel != null" >
        #{memberLevel,jdbcType=VARCHAR},
      </if>
      <if test="classAttOne != null" >
        #{classAttOne,jdbcType=VARCHAR},
      </if>
      <if test="classAttTwo != null" >
        #{classAttTwo,jdbcType=VARCHAR},
      </if>
      <if test="sealModel != null" >
        #{sealModel,jdbcType=VARCHAR},
      </if>
      <if test="billModel != null" >
        #{billModel,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null" >
        #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="accountPeriod != null" >
        #{accountPeriod,jdbcType=INTEGER},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="dutyAccount != null" >
        #{dutyAccount,jdbcType=VARCHAR},
      </if>
      <if test="quaCheck != null" >
        #{quaCheck,jdbcType=VARCHAR},
      </if>
      <if test="fileNo != null" >
        #{fileNo,jdbcType=VARCHAR},
      </if>
      <if test="superviseNo != null" >
        #{superviseNo,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.Customer" >
    update customer
    <set >
      <if test="customerNo != null" >
        customer_no = #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shorName != null" >
        shor_name = #{shorName,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="canSaleSpecial != null" >
        can_sale_special = #{canSaleSpecial,jdbcType=BIT},
      </if>
      <if test="isLimitSpecial != null" >
        is_limit_special = #{isLimitSpecial,jdbcType=BIT},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="legalPersion != null" >
        legal_persion = #{legalPersion,jdbcType=VARCHAR},
      </if>
      <if test="employee != null" >
        employee = #{employee,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactFax != null" >
        contact_fax = #{contactFax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="isDirection != null" >
        is_direction = #{isDirection,jdbcType=BIT},
      </if>
      <if test="saleArea != null" >
        sale_area = #{saleArea,jdbcType=VARCHAR},
      </if>
      <if test="salesman != null" >
        salesman = #{salesman,jdbcType=VARCHAR},
      </if>
      <if test="memberLevel != null" >
        member_level = #{memberLevel,jdbcType=VARCHAR},
      </if>
      <if test="classAttOne != null" >
        class_att_one = #{classAttOne,jdbcType=VARCHAR},
      </if>
      <if test="classAttTwo != null" >
        class_att_two = #{classAttTwo,jdbcType=VARCHAR},
      </if>
      <if test="sealModel != null" >
        seal_model = #{sealModel,jdbcType=VARCHAR},
      </if>
      <if test="billModel != null" >
        bill_model = #{billModel,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null" >
        business_scope = #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="accountPeriod != null" >
        account_period = #{accountPeriod,jdbcType=INTEGER},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="dutyAccount != null" >
        duty_account = #{dutyAccount,jdbcType=VARCHAR},
      </if>
      <if test="quaCheck != null" >
        qua_check = #{quaCheck,jdbcType=VARCHAR},
      </if>
      <if test="fileNo != null" >
        file_no = #{fileNo,jdbcType=VARCHAR},
      </if>
      <if test="superviseNo != null" >
        supervise_no = #{superviseNo,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.erp.entities.Customer" >
    update customer
    set
      customer_no = #{customerNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      shor_name = #{shorName,jdbcType=VARCHAR},
      pinyin = #{pinyin,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=BIT},
      can_sale_special = #{canSaleSpecial,jdbcType=BIT},
      is_limit_special = #{isLimitSpecial,jdbcType=BIT},
      city = #{city,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      legal_persion = #{legalPersion,jdbcType=VARCHAR},
      employee = #{employee,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      contact_fax = #{contactFax,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      is_direction = #{isDirection,jdbcType=BIT},
      sale_area = #{saleArea,jdbcType=VARCHAR},
      salesman = #{salesman,jdbcType=VARCHAR},
      member_level = #{memberLevel,jdbcType=VARCHAR},
      class_att_one = #{classAttOne,jdbcType=VARCHAR},
      class_att_two = #{classAttTwo,jdbcType=VARCHAR},
      seal_model = #{sealModel,jdbcType=VARCHAR},
      bill_model = #{billModel,jdbcType=VARCHAR},
      business_scope = #{businessScope,jdbcType=VARCHAR},
      account_period = #{accountPeriod,jdbcType=INTEGER},
      account_name = #{accountName,jdbcType=VARCHAR},
      bank_account = #{bankAccount,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      duty_account = #{dutyAccount,jdbcType=VARCHAR},
      qua_check = #{quaCheck,jdbcType=VARCHAR},
      file_no = #{fileNo,jdbcType=VARCHAR},
      supervise_no = #{superviseNo,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="CUSTOMER_DETAIL_MAP" type="com.yiban.erp.entities.Customer">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="customer_no" property="customerNo" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="shor_name" property="shorName" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="can_sale_special" property="canSaleSpecial" jdbcType="BIT" />
    <result column="is_limit_special" property="isLimitSpecial" jdbcType="BIT" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="postcode" property="postcode" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="legal_persion" property="legalPersion" jdbcType="VARCHAR" />
    <result column="employee" property="employee" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="contact_fax" property="contactFax" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="is_direction" property="isDirection" jdbcType="BIT" />
    <result column="sale_area" property="saleArea" jdbcType="VARCHAR" />
    <result column="salesman" property="salesman" jdbcType="VARCHAR" />
    <result column="member_level" property="memberLevel" jdbcType="VARCHAR" />
    <result column="class_att_one" property="classAttOne" jdbcType="VARCHAR" />
    <result column="class_att_two" property="classAttTwo" jdbcType="VARCHAR" />
    <result column="seal_model" property="sealModel" jdbcType="VARCHAR" />
    <result column="bill_model" property="billModel" jdbcType="VARCHAR" />
    <result column="business_scope" property="businessScope" jdbcType="VARCHAR" />
    <result column="account_period" property="accountPeriod" jdbcType="INTEGER" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="bank_account" property="bankAccount" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="duty_account" property="dutyAccount" jdbcType="VARCHAR" />
    <result column="qua_check" property="quaCheck" jdbcType="VARCHAR" />
    <result column="file_no" property="fileNo" jdbcType="VARCHAR" />
    <result column="supervise_no" property="superviseNo" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <association property="customerCategory" javaType="com.yiban.erp.entities.CustomerCategory">
      <id column="category_id" property="id" jdbcType="INTEGER" />
      <result column="company_id" property="companyId" jdbcType="INTEGER" />
      <result column="category_no" property="categoryNo" jdbcType="VARCHAR" />
      <result column="cat_name" property="name" jdbcType="VARCHAR" />
      <result column="parent_id" property="parentId" jdbcType="INTEGER" />
      <result column="sequence_no" property="sequenceNo" jdbcType="INTEGER" />
      <result column="cat_comment" property="comment" jdbcType="VARCHAR" />
    </association>
    <collection property="customerCerts" javaType="com.yiban.erp.entities.CustomerCert">
      <id column="cert_id" property="id" jdbcType="INTEGER" />
      <result column="cert_customer_id" property="customerId" jdbcType="INTEGER" />
      <result column="cert_license_name" property="licenseName" jdbcType="VARCHAR" />
      <result column="cert_license_exp" property="licenseExp" jdbcType="DATE" />
      <result column="cert_image_no" property="imageNo" jdbcType="VARCHAR" />
      <result column="cert_comment" property="comment" jdbcType="VARCHAR" />
      <result column="cert_create_time" property="createTime" jdbcType="TIMESTAMP" />
      <result column="cert_update_time" property="updateTime" jdbcType="TIMESTAMP" />
      <result column="cert_create_by" property="createBy" jdbcType="VARCHAR" />
      <result column="cert_update_by" property="updateBy" jdbcType="VARCHAR" />
    </collection>
    <collection property="customerReps" javaType="com.yiban.erp.entities.CustomerRep">
      <id column="rep_id" property="id" jdbcType="INTEGER" />
      <result column="rep_customer_id" property="customerId" jdbcType="INTEGER" />
      <result column="rep_name" property="name" jdbcType="VARCHAR" />
      <result column="rep_contact_phone" property="contactPhone" jdbcType="VARCHAR" />
      <result column="rep_repertory_address" property="repertoryAddress" jdbcType="VARCHAR" />
      <result column="rep_postcode" property="postcode" jdbcType="VARCHAR" />
      <result column="rep_enabled" property="enabled" jdbcType="BIT" />
      <result column="rep_default_time" property="defaultTime" jdbcType="TIMESTAMP" />
      <result column="rep_comment" property="comment" jdbcType="VARCHAR" />
      <result column="rep_create_time" property="createTime" jdbcType="TIMESTAMP" />
      <result column="rep_update_time" property="updateTime" jdbcType="TIMESTAMP" />
      <result column="rep_create_by" property="createBy" jdbcType="VARCHAR" />
      <result column="rep_update_by" property="updateBy" jdbcType="VARCHAR" />
    </collection>
  </resultMap>

  <sql id="CUSTOMER_DETAIL_COL">
    t1.id, t1.company_id, t1.customer_no, t1.name, t1.shor_name, t1.pinyin, t1.status, t1.enabled, t1.can_sale_special,
    t1.is_limit_special, t1.city, t1.address, t1.postcode, t1.category_id, t1.legal_persion, t1.employee,
    t1.contact_phone, t1.contact_fax, t1.email, t1.is_direction, t1.sale_area, t1.salesman, t1.member_level,
    t1.class_att_one, t1.class_att_two, t1.seal_model, t1.bill_model, t1.business_scope, t1.account_period,
    t1.account_name, t1.bank_account, t1.bank_name, t1.duty_account,
    t1.qua_check, t1.file_no, t1.supervise_no, t1.comment, t1.create_time,
    t1.update_time, t1.create_by, t1.update_by,
    t2.category_no, t2.name as cat_name, t2.parent_id, t2.sequence_no, t2.comment as cat_comment,
    t3.id as cert_id, t3.customer_id as cert_customer_id, t3.license_name as cert_license_name,
    t3.license_exp as cert_license_exp,
    t3.image_no as cert_image_no, t3.comment as cert_comment,
    t3.create_time as cert_create_time, t3.update_time as cert_update_time,
    t3.create_by as cert_create_by, t3.update_by as cert_update_by,
    t4.id as rep_id, t4.customer_id as rep_customer_id, t4.name as rep_name,
    t4.contact_phone as rep_contact_phone, t4.repertory_address as rep_repertory_address,
    t4.postcode as rep_postcode, t4.enabled as rep_enabled, t4.default_time as rep_default_time,
    t4.comment as rep_comment, t4.create_time as rep_create_time,
    t4.update_time as rep_update_time, t4.create_by as rep_create_by, t4.update_by as rep_update_by
  </sql>

  <select id="getCustomerDetailById" resultMap="CUSTOMER_DETAIL_MAP" parameterType="map">
    select
      <include refid="CUSTOMER_DETAIL_COL"/>
    from customer_category t2, customer t1
      left join customer_cert t3 on t1.id = t3.customer_id
      left join customer_rep t4 on t1.id = t4.customer_id
    where 1=1
      and t1.status != 'delete'
      and t1.category_id = t2.id
      and t1.company_id = #{companyId}
      and t1.id = #{customerId}
  </select>
  
  <select id="getByCategoryId" parameterType="map" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from customer
    where status != 'delete'
      and category_id = #{categoryId}
      and company_id = #{companyId}
  </select>

  <select id="selectAllCount" parameterType="map" resultType="java.lang.Integer">
    select
      count(1) as count
    from customer
    where status != 'delete'
      and company_id = #{companyId}
    <if test="categoryId != null">
      and category_id = #{categoryId}
    </if>
    <if test="customerName != null" >
      <bind name="customerNameVal" value="'%' + customerName + '%'" />
      and name like #{customerNameVal}
    </if>
    <if test="customerNo != null" >
      <bind name="customerNoVal" value="customerNo + '%'" />
      and customer_no like #{customerNoVal}
    </if>
  </select>

  <select id="selectAll" parameterType="map" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from customer
    where status != 'delete'
      and company_id = #{companyId}
    <if test="categoryId != null">
      and category_id = #{categoryId}
    </if>
    <if test="customerName != null" >
      <bind name="customerNameVal" value="'%' + customerName + '%'" />
      and name like #{customerNameVal}
    </if>
    <if test="customerNo != null" >
      <bind name="customerNoVal" value="customerNo + '%'" />
      and customer_no like #{customerNoVal}
    </if>
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>

  <update id="deleteByIdList" parameterType="map" >
    update customer
      set
        status = 'delete',
        update_by = #{updateBy},
        update_time = #{updateTime}
    where company_id = #{companyId}
      and id in
      <foreach collection="ids" item="item" open="(" close=")" separator=", ">
        #{item}
      </foreach>
  </update>

</mapper>