<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.CustomerCertMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.CustomerCert" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="license_name" property="licenseName" jdbcType="VARCHAR" />
    <result column="license_exp" property="licenseExp" jdbcType="DATE" />
    <result column="license_number" property="licenseNumber" jdbcType="VARCHAR" />
    <result column="license_image" property="licenseImage" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_id, license_name, license_exp, license_number, license_image, comment, 
    create_time, update_time, create_by, update_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from customer_cert
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer_cert
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.CustomerCert" keyProperty="id" useGeneratedKeys="true">
    insert into customer_cert (customer_id, license_name,
      license_exp, license_number, license_image, 
      comment, create_time, update_time, 
      create_by, update_by)
    values (#{customerId,jdbcType=INTEGER}, #{licenseName,jdbcType=VARCHAR},
      #{licenseExp,jdbcType=DATE}, #{licenseNumber,jdbcType=VARCHAR}, #{licenseImage,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yiban.erp.entities.CustomerCert" keyProperty="id" useGeneratedKeys="true">
    insert into customer_cert
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="licenseName != null" >
        license_name,
      </if>
      <if test="licenseExp != null" >
        license_exp,
      </if>
      <if test="licenseNumber != null" >
        license_number,
      </if>
      <if test="licenseImage != null" >
        license_image,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="licenseName != null" >
        #{licenseName,jdbcType=VARCHAR},
      </if>
      <if test="licenseExp != null" >
        #{licenseExp,jdbcType=DATE},
      </if>
      <if test="licenseNumber != null" >
        #{licenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="licenseImage != null" >
        #{licenseImage,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.CustomerCert" >
    update customer_cert
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="licenseName != null" >
        license_name = #{licenseName,jdbcType=VARCHAR},
      </if>
      <if test="licenseExp != null" >
        license_exp = #{licenseExp,jdbcType=DATE},
      </if>
      <if test="licenseNumber != null" >
        license_number = #{licenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="licenseImage != null" >
        license_image = #{licenseImage,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.erp.entities.CustomerCert" >
    update customer_cert
    set customer_id = #{customerId,jdbcType=INTEGER},
      license_name = #{licenseName,jdbcType=VARCHAR},
      license_exp = #{licenseExp,jdbcType=DATE},
      license_number = #{licenseNumber,jdbcType=VARCHAR},
      license_image = #{licenseImage,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>