<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.FactoryMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.Factory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="origin" property="origin" jdbcType="VARCHAR" />
    <result column="permit" property="permit" jdbcType="VARCHAR" />
    <result column="permit_exp" property="permitExp" jdbcType="DATE" />
    <result column="license" property="license" jdbcType="VARCHAR" />
    <result column="license_exp" property="licenseExp" jdbcType="DATE" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="postcode" property="postcode" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="employee" property="employee" jdbcType="VARCHAR" />
    <result column="is_gmp" property="isGmp" jdbcType="BIT" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_account" property="bankAccount" jdbcType="VARCHAR" />
    <result column="tax_number" property="taxNumber" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="file_no" property="fileNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, origin, permit, permit_exp, license, license_exp, pinyin, address, city, 
    postcode, phone, fax, email, contact, contact_phone, employee, is_gmp, bank_name, 
    bank_account, tax_number, comment, created_time, created_by, updated_time, updated_by, 
    company_id, file_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from factory
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from factory
    where company_id = #{companyId}
    order by id desc
  </select>
  <select id="searchByNameOrContact" parameterType="map" resultMap="BaseResultMap" >
    <bind name="pattern" value="'%' + searchStr + '%'" />
    select
    <include refid="Base_Column_List" />
    from factory
    where
    company_id = #{companyId} and (
      name like #{pattern}
      or contact like #{pattern}
      or pinyin like #{pattern}
    ) order by id desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from factory
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.Factory" useGeneratedKeys="true" keyProperty="id">
    insert into factory (name, origin,
      permit, permit_exp, license, 
      license_exp, pinyin, address, 
      city, postcode, phone, 
      fax, email, contact, 
      contact_phone, employee, is_gmp, 
      bank_name, bank_account, tax_number, 
      comment, created_time, created_by, 
      updated_time, updated_by, company_id, file_no
      )
    values (#{name,jdbcType=VARCHAR}, #{origin,jdbcType=VARCHAR},
      #{permit,jdbcType=VARCHAR}, #{permitExp,jdbcType=DATE}, #{license,jdbcType=VARCHAR}, 
      #{licenseExp,jdbcType=DATE}, #{pinyin,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, 
      #{contactPhone,jdbcType=VARCHAR}, #{employee,jdbcType=VARCHAR}, #{isGmp,jdbcType=BIT}, 
      #{bankName,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, #{taxNumber,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER},
      #{fileNo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yiban.erp.entities.Factory" useGeneratedKeys="true" keyProperty="id">
    insert into factory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="origin != null" >
        origin,
      </if>
      <if test="permit != null" >
        permit,
      </if>
      <if test="permitExp != null" >
        permit_exp,
      </if>
      <if test="license != null" >
        license,
      </if>
      <if test="licenseExp != null" >
        license_exp,
      </if>
      <if test="pinyin != null" >
        pinyin,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="postcode != null" >
        postcode,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
      <if test="employee != null" >
        employee,
      </if>
      <if test="isGmp != null" >
        is_gmp,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankAccount != null" >
        bank_account,
      </if>
      <if test="taxNumber != null" >
        tax_number,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="fileNo != null" >
        file_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="permit != null" >
        #{permit,jdbcType=VARCHAR},
      </if>
      <if test="permitExp != null" >
        #{permitExp,jdbcType=DATE},
      </if>
      <if test="license != null" >
        #{license,jdbcType=VARCHAR},
      </if>
      <if test="licenseExp != null" >
        #{licenseExp,jdbcType=DATE},
      </if>
      <if test="pinyin != null" >
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="employee != null" >
        #{employee,jdbcType=VARCHAR},
      </if>
      <if test="isGmp != null" >
        #{isGmp,jdbcType=BIT},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="taxNumber != null" >
        #{taxNumber,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="fileNo != null" >
        #{fileNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.Factory" >
    update factory
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        origin = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="permit != null" >
        permit = #{permit,jdbcType=VARCHAR},
      </if>
      <if test="permitExp != null" >
        permit_exp = #{permitExp,jdbcType=DATE},
      </if>
      <if test="license != null" >
        license = #{license,jdbcType=VARCHAR},
      </if>
      <if test="licenseExp != null" >
        license_exp = #{licenseExp,jdbcType=DATE},
      </if>
      <if test="pinyin != null" >
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="employee != null" >
        employee = #{employee,jdbcType=VARCHAR},
      </if>
      <if test="isGmp != null" >
        is_gmp = #{isGmp,jdbcType=BIT},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="taxNumber != null" >
        tax_number = #{taxNumber,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="fileNo != null" >
        file_no = #{fileNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.erp.entities.Factory" >
    update factory
    set name = #{name,jdbcType=VARCHAR},
      origin = #{origin,jdbcType=VARCHAR},
      permit = #{permit,jdbcType=VARCHAR},
      permit_exp = #{permitExp,jdbcType=DATE},
      license = #{license,jdbcType=VARCHAR},
      license_exp = #{licenseExp,jdbcType=DATE},
      pinyin = #{pinyin,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      employee = #{employee,jdbcType=VARCHAR},
      is_gmp = #{isGmp,jdbcType=BIT},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_account = #{bankAccount,jdbcType=VARCHAR},
      tax_number = #{taxNumber,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      file_no = #{fileNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectAllCount" parameterType="map" resultType="java.lang.Integer">
        select
        count(1) as count
        from factory
        where company_id = #{companyId}
        <if test="search != null" >
            <bind name="pattern" value="'%' + search + '%'"/>
            and (name like #{pattern} or
            contact_phone like #{pattern} or
            lower(pinyin) like lower(#{pattern}) OR
            contact like #{pattern} )
        </if>
    </select>


    <select id="selectAllPaged" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from factory
        where company_id = #{companyId}
        <if test="search != null" >
            <bind name="pattern" value="'%' + search + '%'"/>
            and (name like #{pattern} or
            contact_phone like #{pattern} or
            lower(pinyin) like lower(#{pattern}) OR
            contact like #{pattern} )
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
</mapper>