<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.FinancialPrePaidMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.FinancialPreRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="flow_id" property="flowId" jdbcType="BIGINT" />
    <result column="biz_no" property="bizNo" jdbcType="VARCHAR" />
    <result column="log_date" property="logDate" jdbcType="TIMESTAMP" />
    <result column="cust_id" property="custId" jdbcType="BIGINT" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
    <result column="cust_account" property="custAccount" jdbcType="VARCHAR" />
    <result column="log_amount" property="logAmount" jdbcType="DECIMAL" />
    <result column="pay_method" property="payMethod" jdbcType="BIGINT"/>
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="doc_no" property="docNo" jdbcType="VARCHAR" />
    <result column="file_no" property="fileNo" jdbcType="VARCHAR" />
    <result column="key_word" property="keyWord" jdbcType="VARCHAR" />
    <result column="log_user_id" property="logUserId" jdbcType="BIGINT" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="offset_flow_no" property="offsetFlowNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, flow_id, biz_no, log_date, cust_id, cust_name, cust_account, log_amount, pay_method, status,
    doc_no, file_no, key_word, log_user_id, created_by, updated_by, created_time, updated_time, offset_flow_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from financial_pre_paid
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="com.yiban.erp.entities.FinancialPreRecord" keyProperty="id" useGeneratedKeys="true" >
    insert into financial_pre_paid (company_id, flow_id, biz_no,
      log_date, cust_id, cust_name, 
      cust_account, log_amount, pay_method, status,
      doc_no, file_no, key_word, 
      log_user_id, created_by, updated_by, 
      created_time, updated_time, offset_flow_no)
    values (#{companyId,jdbcType=INTEGER}, #{flowId, jdbcType=BIGINT}, #{bizNo,jdbcType=VARCHAR},
      #{logDate,jdbcType=TIMESTAMP}, #{custId,jdbcType=BIGINT}, #{custName,jdbcType=VARCHAR}, 
      #{custAccount,jdbcType=VARCHAR}, #{logAmount,jdbcType=DECIMAL}, #{payMethod,jdbcType=BIGINT},
      #{status,jdbcType=VARCHAR},
      #{docNo,jdbcType=VARCHAR}, #{fileNo,jdbcType=VARCHAR}, #{keyWord,jdbcType=VARCHAR}, 
      #{logUserId,jdbcType=BIGINT}, #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP},
      #{offsetFlowNo,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.FinancialPreRecord" >
    update financial_pre_paid
    <set >
      <if test="logDate != null" >
        log_date = #{logDate,jdbcType=TIMESTAMP},
      </if>
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=BIGINT},
      </if>
      <if test="custName != null" >
        cust_name = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custAccount != null" >
        cust_account = #{custAccount,jdbcType=VARCHAR},
      </if>
      <if test="logAmount != null" >
        log_amount = #{logAmount,jdbcType=DECIMAL},
      </if>
      <if test="payMethod != null" >
        pay_method = #{payMethod,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="docNo != null" >
        doc_no = #{docNo,jdbcType=VARCHAR},
      </if>
      <if test="fileNo != null" >
        file_no = #{fileNo,jdbcType=VARCHAR},
      </if>
      <if test="keyWord != null" >
        key_word = #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="logUserId != null" >
        log_user_id = #{logUserId,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="offsetFlowNo != null" >
        offset_flow_no = #{offsetFlowNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getSearchList" parameterType="com.yiban.erp.dto.FinancialQuery" resultMap="BaseResultMap">
    select
      f.*, o.value as payMethodName
    from financial_pre_paid f
    left join options o on f.pay_method = o.id
    where f.company_id = #{companyId}
    <if test="logStartDate != null" >
      and f.log_date >= #{logStartDate}
    </if>
    <if test="logEndDate != null" >
      and #{logEndDate} > f.log_date
    </if>
    <if test="custId != null" >
      and f.cust_id = #{custId}
    </if>
    <if test="status != null" >
      and f.status = #{status}
    </if>
    order by id desc
    limit #{offset}, #{limit}
  </select>

  <select id="getSearchListCount" parameterType="com.yiban.erp.dto.FinancialQuery" resultType="java.lang.Integer">
    select
     count(1) as countNumber
    from financial_pre_paid
    where company_id = #{companyId}
    <if test="logStartDate != null" >
      and log_date >= #{logStartDate}
    </if>
    <if test="logEndDate != null" >
      and #{logEndDate} > log_date
    </if>
    <if test="custId != null" >
      and cust_id = #{custId}
    </if>
    <if test="status != null" >
      and status = #{status}
    </if>
  </select>

  <select id="getByFlowId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from financial_pre_paid
    where flow_id = #{flowId, jdbcType=BIGINT}
  </select>

  <update id="setStatusByFlowId" parameterType="map" >
    update financial_pre_paid
      set status = #{status},
        updated_by = #{updatedBy},
        updated_time = #{updatedTime}
    where flow_id = #{flowId}
  </update>

</mapper>