<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.FinancialFlowMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.FinancialFlow" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="biz_no" property="bizNo" jdbcType="VARCHAR" />
    <result column="log_date" property="logDate" jdbcType="TIMESTAMP" />
    <result column="cust_type" property="custType" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="BIGINT" />
    <result column="log_account" property="logAccount" jdbcType="VARCHAR" />
    <result column="doc_no" property="docNo" jdbcType="VARCHAR" />
    <result column="file_no" property="fileNo" jdbcType="VARCHAR" />
    <result column="biz_type" property="bizType" jdbcType="VARCHAR" />
    <result column="biz_ref_id" property="bizRefId" jdbcType="BIGINT" />
    <result column="biz_ref_no" property="bizRefNo" jdbcType="VARCHAR" />
    <result column="key_word" property="keyWord" jdbcType="VARCHAR" />
    <result column="log_amount" property="logAmount" jdbcType="DECIMAL" />
    <result column="out_amount" property="outAmount" jdbcType="DECIMAL" />
    <result column="in_amount" property="inAmount" jdbcType="DECIMAL" />
    <result column="surplus_in_amount" property="surplusInAmount" jdbcType="DECIMAL" />
    <result column="surplus_out_amount" property="surplusOutAmount" jdbcType="DECIMAL" />
    <result column="company_amount" property="companyAmount" jdbcType="DECIMAL"/>
    <result column="cust_amount" property="custAmount" jdbcType="DECIMAL" />
    <result column="pay_method" property="payMethod" jdbcType="BIGINT" />
    <result column="company_account" property="companyAccount" jdbcType="VARCHAR" />
    <result column="cust_account" property="custAccount" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, biz_no, log_date, cust_type, cust_id, log_account, doc_no, file_no, biz_type, biz_ref_id, biz_ref_no, key_word,
    log_amount, out_amount, in_amount, surplus_in_amount, surplus_out_amount, company_amount, cust_amount, pay_method, company_account, cust_account, created_by,
    updated_by, created_time, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from financial_flow
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="getIncludeOptionById" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
      f.*, o.value as payMethodName
    from financial_flow f
    left join options o on f.pay_method = o.id
    where f.id = #{id,jdbcType=BIGINT}
  </select>

  <select id="getByFinancialBizNo" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
      <include refid="Base_Column_List" />
    from financial_flow
    where biz_no = #{bizNo,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="com.yiban.erp.entities.FinancialFlow" keyProperty="id" useGeneratedKeys="true" >
    insert into financial_flow (company_id, biz_no, log_date,
      cust_type, cust_id, log_account, doc_no, file_no,
      biz_type, biz_ref_id, biz_ref_no, key_word,
      log_amount, out_amount, in_amount, surplus_in_amount, surplus_out_amount, company_amount, cust_amount,
      pay_method, company_account, cust_account,
      created_by, updated_by, created_time, 
      updated_time)
    values (#{companyId,jdbcType=INTEGER}, #{bizNo,jdbcType=VARCHAR}, #{logDate,jdbcType=TIMESTAMP}, #{custType,jdbcType=VARCHAR},
      #{custId,jdbcType=BIGINT}, #{logAccount,jdbcType=VARCHAR}, #{docNo,jdbcType=VARCHAR}, #{fileNo,jdbcType=VARCHAR},
      #{bizType,jdbcType=VARCHAR}, #{bizRefId,jdbcType=BIGINT}, #{bizRefNo,jdbcType=VARCHAR}, #{keyWord,jdbcType=VARCHAR},
      #{logAmount,jdbcType=DECIMAL}, #{outAmount,jdbcType=DECIMAL}, #{inAmount,jdbcType=DECIMAL},
      #{surplusInAmount,jdbcType=DECIMAL}, #{surplusOutAmount,jdbcType=DECIMAL},
      #{companyAmount,jdbcType=DECIMAL}, #{custAmount,jdbcType=DECIMAL},
      #{payMethod,jdbcType=BIGINT}, #{companyAccount,jdbcType=VARCHAR}, #{custAccount,jdbcType=VARCHAR},
      #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.FinancialFlow" >
    update financial_flow
    <set >
      <if test="logDate != null" >
        log_date = #{logDate,jdbcType=TIMESTAMP},
      </if>
      <if test="custType != null" >
        cust_type = #{custType,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        cust_id = #{custId, jdbcType=BIGINT},
      </if>
      <if test="logAccount != null" >
        log_account = #{logAccount,jdbcType=VARCHAR},
      </if>
      <if test="docNo != null" >
        doc_no = #{docNo,jdbcType=VARCHAR},
      </if>
      <if test="fileNo != null" >
        file_no = #{fileNo,jdbcType=VARCHAR},
      </if>
      <if test="bizType != null" >
        biz_type = #{bizType,jdbcType=VARCHAR},
      </if>
      <if test="bizRefId != null" >
        biz_ref_id = #{bizRefId,jdbcType=BIGINT},
      </if>
      <if test="bizRefNo != null" >
        biz_ref_no = #{bizRefNo,jdbcType=VARCHAR},
      </if>
      <if test="keyWord != null" >
        key_word = #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="logAmount != null" >
        log_amount = #{logAmount,jdbcType=DECIMAL},
      </if>
      <if test="outAmount != null" >
        out_amount = #{outAmount,jdbcType=DECIMAL},
      </if>
      <if test="inAmount != null" >
        in_amount = #{inAmount,jdbcType=DECIMAL},
      </if>
      <if test="surplusInAmount != null">
        surplus_in_amount = #{surplusInAmount,jdbcType=DECIMAL},
      </if>
      <if test="surplusOutAmount != null">
        surplus_out_amount = #{surplusOutAmount,jdbcType=DECIMAL},
      </if>
      <if test="companyAmount != null" >
        company_amount = #{companyAmount},
      </if>
      <if test="custAmount != null" >
        cust_amount = #{custAmount},
      </if>
      <if test="payMethod != null" >
        pay_method = #{payMethod,jdbcType=BIGINT},
      </if>
      <if test="companyAccount != null" >
        company_account = #{companyAccount,jdbcType=VARCHAR},
      </if>
      <if test="custAccount != null" >
        cust_account = #{custAccount,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getByRefId" parameterType="map" resultMap="BaseResultMap">
    select
      f.*, o.value as payMethodName
    from financial_flow f
    left join options o on f.pay_method = o.id
    where f.biz_ref_id = #{bizRefId}
      and biz_type = #{bizType}
  </select>

  <select id="getByRefNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
      f.*, o.value as payMethodName
    from financial_flow f
    left join options o on f.pay_method = o.id
    where f.biz_ref_no = #{bizRefNo}
  </select>

  <select id="getFlowListCount" parameterType="com.yiban.erp.dto.FinancialQuery" resultType="java.lang.Integer">
    select count(1)
    from financial_flow
    where company_id = #{companyId}
    <if test="logStartDate != null" >
      and log_date >= #{logStartDate}
    </if>
    <if test="logEndDate != null">
      and log_date &lt; #{logEndDate}
    </if>
    <if test="createdStartTime != null" >
      and created_time >= #{createdStartTime}
    </if>
    <if test="createdEndTime != null" >
      and created_time &lt; #{createdEndTime}
    </if>
    <if test="custType != null and custId != null" >
      and cust_type = #{custType} and cust_id = #{custId}
    </if>
  </select>

  <select id="getFlowList" parameterType="com.yiban.erp.dto.FinancialQuery" resultMap="BaseResultMap">
    select
      f.*, o.value as payMethodName
    from financial_flow f
    left join options o on f.pay_method = o.id
    where f.company_id = #{companyId}
    <if test="logStartDate != null" >
      and log_date >= #{logStartDate,jdbcType=DATE}
    </if>
    <if test="logEndDate != null">
      and #{logEndDate,jdbcType=DATE} > log_date
    </if>
    <if test="createdStartTime != null" >
      and f.created_time >= #{createdStartTime}
    </if>
    <if test="createdEndTime != null" >
      and f.created_time &lt; #{createdEndTime}
    </if>
    <if test="custType != null and custId != null" >
      and cust_type = #{custType} and cust_id = #{custId}
    </if>
    order by id desc
    limit #{offset}, #{limit}
  </select>


</mapper>