<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.Goods" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="origin" property="origin" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="serial" property="serial" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="BIT" />
    <result column="is_proxy" property="isProxy" jdbcType="BIT" />
    <result column="factory_id" property="factoryId" jdbcType="BIGINT" />
    <result column="unit" property="unit" jdbcType="BIGINT" />
    <result column="pack_unit" property="packUnit" jdbcType="BIGINT" />
    <result column="medium_pack" property="mediumPack" jdbcType="DECIMAL" />
    <result column="big_pack" property="bigPack" jdbcType="DECIMAL" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="storage_condition" property="storageCondition" jdbcType="BIGINT" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="cert_no" property="certNo" jdbcType="VARCHAR" />
    <result column="cert_exp_date" property="certExpDate" jdbcType="DATE" />
    <result column="cert_file_no" property="certFileNo" jdbcType="VARCHAR" />
    <result column="brand_no" property="brandNo" jdbcType="VARCHAR" />
    <result column="brand_exp_date" property="brandExpDate" jdbcType="DATE" />
    <result column="brand_file_no" property="brandFileNo" jdbcType="VARCHAR" />
    <result column="permit_no" property="permitNo" jdbcType="VARCHAR" />
    <result column="permit_exp_date" property="permitExpDate" jdbcType="DATE" />
    <result column="permit_file_no" property="permitFileNo" jdbcType="VARCHAR" />
    <result column="archive_no" property="archiveNo" jdbcType="VARCHAR" />
    <result column="in_check" property="inCheck" jdbcType="BIT" />
    <result column="first_check" property="firstCheck" jdbcType="BIT" />
    <result column="special_managed" property="specialManaged" jdbcType="BIT" />
    <result column="need_care" property="needCare" jdbcType="BIT" />
    <result column="in_tax" property="inTax" jdbcType="DECIMAL" />
    <result column="out_tax" property="outTax" jdbcType="DECIMAL" />
    <result column="valid_months" property="validMonths" jdbcType="INTEGER" />
    <result column="warning_days" property="warningDays" jdbcType="INTEGER" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="cure_range" property="cureRange" jdbcType="VARCHAR" />
    <result column="sale_policy" property="salePolicy" jdbcType="VARCHAR" />
    <result column="is_foreign" property="isForeign" jdbcType="BIT" />
    <result column="prescription_id" property="prescriptionId" jdbcType="BIGINT" />
    <result column="med_type_id" property="medTypeId" jdbcType="BIGINT" />
    <result column="is_shebao" property="isShebao" jdbcType="BIT" />
    <result column="specific_med_id" property="specificMedId" jdbcType="BIGINT" />
    <result column="jx_id" property="jxId" jdbcType="BIGINT" />
    <result column="base_med_id" property="baseMedId" jdbcType="BIGINT" />
    <result column="func_cat_id" property="funcCatId" jdbcType="BIGINT" />
    <result column="medication_id" property="medicationId" jdbcType="BIGINT" />
    <result column="care_time_id" property="careTimeId" jdbcType="BIGINT" />
    <result column="gmp_type_id" property="gmpTypeId" jdbcType="BIGINT" />
    <result column="abc_type_id" property="abcTypeId" jdbcType="BIGINT" />
    <result column="scope_id" property="scopeId" jdbcType="BIGINT" />
    <result column="new_type_id" property="newTypeId" jdbcType="BIGINT" />
    <result column="retail_price" property="retailPrice" jdbcType="DECIMAL" />
    <result column="batch_price" property="batchPrice" jdbcType="DECIMAL" />
    <result column="member_price" property="memberPrice" jdbcType="DECIMAL" />
    <result column="online_price" property="onlinePrice" jdbcType="DECIMAL" />
    <result column="split_price" property="splitPrice" jdbcType="DECIMAL" />
    <result column="low_price" property="lowPrice" jdbcType="DECIMAL" />
    <result column="hight_price" property="hightPrice" jdbcType="DECIMAL" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, category_id, name, full_name, origin, spec, serial, enable, is_proxy,
    factory_id, unit, pack_unit, medium_pack, big_pack, pinyin, storage_condition, comment,
    cert_no, cert_exp_date, cert_file_no, brand_no, brand_exp_date, brand_file_no, permit_no,
    permit_exp_date, permit_file_no, archive_no, in_check, first_check, special_managed,
    need_care, in_tax, out_tax, valid_months, warning_days, contact, cure_range, sale_policy,
    is_foreign, prescription_id, med_type_id, is_shebao, specific_med_id, jx_id, base_med_id,
    func_cat_id, medication_id, care_time_id, gmp_type_id, abc_type_id, scope_id, new_type_id,
    retail_price, batch_price, member_price, online_price, split_price, low_price, hight_price,
    created_by, updated_by, created_time, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectCount" resultType="java.lang.Long">
      select
        count(1)
      from goods
      where 1=1
      and company_id = #{companyId}
      <if test="categoryId != null and categoryId > 0">
          and category_id = #{categoryId}
      </if>
      <if test="factoryId != null and factoryId > 0">
          and factory_id = #{factoryId}
      </if>
      <if test="search != null and search != ''">
          <bind name="pattern" value="'%' + search + '%'" />
          and ( name like #{pattern}  or lower(pinyin) like lower(#{pattern}) )
      </if>
  </select>
  <select id="selectAll" resultType="com.yiban.erp.entities.Goods">
      select
        g.*, c.name as categoryName, f.name as factory
      from goods g
      left join good_category c on g.category_id = c.id
      left join factory f on g.factory_id = f.id
      where 1 = 1
      and g.company_id = #{companyId}
      <if test="categoryId != null and categoryId > 0">
          and category_id = #{categoryId}
      </if>
      <if test="factoryId != null and factoryId > 0">
          and factory_id = #{factoryId}
      </if>
      <if test="search != null and search != ''">
          <bind name="pattern" value="'%' + search + '%'" />
          and ( g.name like #{pattern} or lower(g.pinyin) like lower(#{pattern}) )
      </if>
      <if test="offset != null and limit != null">
          limit #{offset}, #{limit}
      </if>
  </select>

  <select id="selectByIdList" parameterType="map" resultType="com.yiban.erp.entities.Goods">
      select
        g.*, c.name as categoryName, f.name as factory
      from goods g
      left join good_category c on g.category_id = c.id
      left join factory f on g.factory_id = f.id
      where 1 = 1 and g.id in
      <foreach collection="idList" item="id" open="(" close=")" separator=", ">
          #{id}
      </foreach>
  </select>

  <select id="selectById" parameterType="java.lang.Long" resultType="com.yiban.erp.entities.Goods">
    select
      g.*, c.name as categoryName, f.name as factory
    from goods g
    left join good_category c on g.category_id = c.id
    left join factory f on g.factory_id = f.id
    where 1 = 1 and g.id = #{id}
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from goods
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.yiban.erp.entities.Goods" keyProperty="id" useGeneratedKeys="true" >
    insert into goods_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="fullName != null" >
        full_name,
      </if>
      <if test="origin != null" >
        origin,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="serial != null" >
        serial,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="isProxy != null" >
        is_proxy,
      </if>
      <if test="factoryId != null" >
        factory_id,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="packUnit != null" >
        pack_unit,
      </if>
      <if test="mediumPack != null" >
        medium_pack,
      </if>
      <if test="bigPack != null" >
        big_pack,
      </if>
      <if test="pinyin != null" >
        pinyin,
      </if>
      <if test="storageCondition != null" >
        storage_condition,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="certNo != null" >
        cert_no,
      </if>
      <if test="certExpDate != null" >
        cert_exp_date,
      </if>
      <if test="certFileNo != null" >
        cert_file_no,
      </if>
      <if test="brandNo != null" >
        brand_no,
      </if>
      <if test="brandExpDate != null" >
        brand_exp_date,
      </if>
      <if test="brandFileNo != null" >
        brand_file_no,
      </if>
      <if test="permitNo != null" >
        permit_no,
      </if>
      <if test="permitExpDate != null" >
        permit_exp_date,
      </if>
      <if test="permitFileNo != null" >
        permit_file_no,
      </if>
      <if test="archiveNo != null" >
        archive_no,
      </if>
      <if test="inCheck != null" >
        in_check,
      </if>
      <if test="firstCheck != null" >
        first_check,
      </if>
      <if test="specialManaged != null" >
        special_managed,
      </if>
      <if test="needCare != null" >
        need_care,
      </if>
      <if test="inTax != null" >
        in_tax,
      </if>
      <if test="outTax != null" >
        out_tax,
      </if>
      <if test="validMonths != null" >
        valid_months,
      </if>
      <if test="warningDays != null" >
        warning_days,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="cureRange != null" >
        cure_range,
      </if>
      <if test="salePolicy != null" >
        sale_policy,
      </if>
      <if test="isForeign != null" >
        is_foreign,
      </if>
      <if test="prescriptionId != null" >
        prescription_id,
      </if>
      <if test="medTypeId != null" >
        med_type_id,
      </if>
      <if test="isShebao != null" >
        is_shebao,
      </if>
      <if test="specificMedId != null" >
        specific_med_id,
      </if>
      <if test="jxId != null" >
        jx_id,
      </if>
      <if test="baseMedId != null" >
        base_med_id,
      </if>
      <if test="funcCatId != null" >
        func_cat_id,
      </if>
      <if test="medicationId != null" >
        medication_id,
      </if>
      <if test="careTimeId != null" >
        care_time_id,
      </if>
      <if test="gmpTypeId != null" >
        gmp_type_id,
      </if>
      <if test="abcTypeId != null" >
        abc_type_id,
      </if>
      <if test="scopeId != null" >
        scope_id,
      </if>
      <if test="newTypeId != null" >
        new_type_id,
      </if>
      <if test="retailPrice != null" >
        retail_price,
      </if>
      <if test="batchPrice != null" >
        batch_price,
      </if>
      <if test="memberPrice != null" >
        member_price,
      </if>
      <if test="onlinePrice != null" >
        online_price,
      </if>
      <if test="splitPrice != null" >
        split_price,
      </if>
      <if test="lowPrice != null" >
        low_price,
      </if>
      <if test="hightPrice != null" >
        hight_price,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="serial != null" >
        #{serial,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=BIT},
      </if>
      <if test="isProxy != null" >
        #{isProxy,jdbcType=BIT},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=BIGINT},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=BIGINT},
      </if>
      <if test="packUnit != null" >
        #{packUnit,jdbcType=BIGINT},
      </if>
      <if test="mediumPack != null" >
        #{mediumPack,jdbcType=DECIMAL},
      </if>
      <if test="bigPack != null" >
        #{bigPack,jdbcType=DECIMAL},
      </if>
      <if test="pinyin != null" >
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="storageCondition != null" >
        #{storageCondition,jdbcType=BIGINT},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="certNo != null" >
        #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="certExpDate != null" >
        #{certExpDate,jdbcType=DATE},
      </if>
      <if test="certFileNo != null" >
        #{certFileNo,jdbcType=VARCHAR},
      </if>
      <if test="brandNo != null" >
        #{brandNo,jdbcType=VARCHAR},
      </if>
      <if test="brandExpDate != null" >
        #{brandExpDate,jdbcType=DATE},
      </if>
      <if test="brandFileNo != null" >
        #{brandFileNo,jdbcType=VARCHAR},
      </if>
      <if test="permitNo != null" >
        #{permitNo,jdbcType=VARCHAR},
      </if>
      <if test="permitExpDate != null" >
        #{permitExpDate,jdbcType=DATE},
      </if>
      <if test="permitFileNo != null" >
        #{permitFileNo,jdbcType=VARCHAR},
      </if>
      <if test="archiveNo != null" >
        #{archiveNo,jdbcType=VARCHAR},
      </if>
      <if test="inCheck != null" >
        #{inCheck,jdbcType=BIT},
      </if>
      <if test="firstCheck != null" >
        #{firstCheck,jdbcType=BIT},
      </if>
      <if test="specialManaged != null" >
        #{specialManaged,jdbcType=BIT},
      </if>
      <if test="needCare != null" >
        #{needCare,jdbcType=BIT},
      </if>
      <if test="inTax != null" >
        #{inTax,jdbcType=DECIMAL},
      </if>
      <if test="outTax != null" >
        #{outTax,jdbcType=DECIMAL},
      </if>
      <if test="validMonths != null" >
        #{validMonths,jdbcType=INTEGER},
      </if>
      <if test="warningDays != null" >
        #{warningDays,jdbcType=INTEGER},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="cureRange != null" >
        #{cureRange,jdbcType=VARCHAR},
      </if>
      <if test="salePolicy != null" >
        #{salePolicy,jdbcType=VARCHAR},
      </if>
      <if test="isForeign != null" >
        #{isForeign,jdbcType=BIT},
      </if>
      <if test="prescriptionId != null" >
        #{prescriptionId,jdbcType=BIGINT},
      </if>
      <if test="medTypeId != null" >
        #{medTypeId,jdbcType=BIGINT},
      </if>
      <if test="isShebao != null" >
        #{isShebao,jdbcType=BIT},
      </if>
      <if test="specificMedId != null" >
        #{specificMedId,jdbcType=BIGINT},
      </if>
      <if test="jxId != null" >
        #{jxId,jdbcType=BIGINT},
      </if>
      <if test="baseMedId != null" >
        #{baseMedId,jdbcType=BIGINT},
      </if>
      <if test="funcCatId != null" >
        #{funcCatId,jdbcType=BIGINT},
      </if>
      <if test="medicationId != null" >
        #{medicationId,jdbcType=BIGINT},
      </if>
      <if test="careTimeId != null" >
        #{careTimeId,jdbcType=BIGINT},
      </if>
      <if test="gmpTypeId != null" >
        #{gmpTypeId,jdbcType=BIGINT},
      </if>
      <if test="abcTypeId != null" >
        #{abcTypeId,jdbcType=BIGINT},
      </if>
      <if test="scopeId != null" >
        #{scopeId,jdbcType=BIGINT},
      </if>
      <if test="newTypeId != null" >
        #{newTypeId,jdbcType=BIGINT},
      </if>
      <if test="retailPrice != null" >
        #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="batchPrice != null" >
        #{batchPrice,jdbcType=DECIMAL},
      </if>
      <if test="memberPrice != null" >
        #{memberPrice,jdbcType=DECIMAL},
      </if>
      <if test="onlinePrice != null" >
        #{onlinePrice,jdbcType=DECIMAL},
      </if>
      <if test="splitPrice != null" >
        #{splitPrice,jdbcType=DECIMAL},
      </if>
      <if test="lowPrice != null" >
        #{lowPrice,jdbcType=DECIMAL},
      </if>
      <if test="hightPrice != null" >
        #{hightPrice,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.Goods" >
    update goods_info
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        origin = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="serial != null" >
        serial = #{serial,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=BIT},
      </if>
      <if test="isProxy != null" >
        is_proxy = #{isProxy,jdbcType=BIT},
      </if>
      <if test="factoryId != null" >
        factory_id = #{factoryId,jdbcType=BIGINT},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=BIGINT},
      </if>
      <if test="packUnit != null" >
        pack_unit = #{packUnit,jdbcType=BIGINT},
      </if>
      <if test="mediumPack != null" >
        medium_pack = #{mediumPack,jdbcType=DECIMAL},
      </if>
      <if test="bigPack != null" >
        big_pack = #{bigPack,jdbcType=DECIMAL},
      </if>
      <if test="pinyin != null" >
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="storageCondition != null" >
        storage_condition = #{storageCondition,jdbcType=BIGINT},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="certNo != null" >
        cert_no = #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="certExpDate != null" >
        cert_exp_date = #{certExpDate,jdbcType=DATE},
      </if>
      <if test="certFileNo != null" >
        cert_file_no = #{certFileNo,jdbcType=VARCHAR},
      </if>
      <if test="brandNo != null" >
        brand_no = #{brandNo,jdbcType=VARCHAR},
      </if>
      <if test="brandExpDate != null" >
        brand_exp_date = #{brandExpDate,jdbcType=DATE},
      </if>
      <if test="brandFileNo != null" >
        brand_file_no = #{brandFileNo,jdbcType=VARCHAR},
      </if>
      <if test="permitNo != null" >
        permit_no = #{permitNo,jdbcType=VARCHAR},
      </if>
      <if test="permitExpDate != null" >
        permit_exp_date = #{permitExpDate,jdbcType=DATE},
      </if>
      <if test="permitFileNo != null" >
        permit_file_no = #{permitFileNo,jdbcType=VARCHAR},
      </if>
      <if test="archiveNo != null" >
        archive_no = #{archiveNo,jdbcType=VARCHAR},
      </if>
      <if test="inCheck != null" >
        in_check = #{inCheck,jdbcType=BIT},
      </if>
      <if test="firstCheck != null" >
        first_check = #{firstCheck,jdbcType=BIT},
      </if>
      <if test="specialManaged != null" >
        special_managed = #{specialManaged,jdbcType=BIT},
      </if>
      <if test="needCare != null" >
        need_care = #{needCare,jdbcType=BIT},
      </if>
      <if test="inTax != null" >
        in_tax = #{inTax,jdbcType=DECIMAL},
      </if>
      <if test="outTax != null" >
        out_tax = #{outTax,jdbcType=DECIMAL},
      </if>
      <if test="validMonths != null" >
        valid_months = #{validMonths,jdbcType=INTEGER},
      </if>
      <if test="warningDays != null" >
        warning_days = #{warningDays,jdbcType=INTEGER},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="cureRange != null" >
        cure_range = #{cureRange,jdbcType=VARCHAR},
      </if>
      <if test="salePolicy != null" >
        sale_policy = #{salePolicy,jdbcType=VARCHAR},
      </if>
      <if test="isForeign != null" >
        is_foreign = #{isForeign,jdbcType=BIT},
      </if>
      <if test="prescriptionId != null" >
        prescription_id = #{prescriptionId,jdbcType=BIGINT},
      </if>
      <if test="medTypeId != null" >
        med_type_id = #{medTypeId,jdbcType=BIGINT},
      </if>
      <if test="isShebao != null" >
        is_shebao = #{isShebao,jdbcType=BIT},
      </if>
      <if test="specificMedId != null" >
        specific_med_id = #{specificMedId,jdbcType=BIGINT},
      </if>
      <if test="jxId != null" >
        jx_id = #{jxId,jdbcType=BIGINT},
      </if>
      <if test="baseMedId != null" >
        base_med_id = #{baseMedId,jdbcType=BIGINT},
      </if>
      <if test="funcCatId != null" >
        func_cat_id = #{funcCatId,jdbcType=BIGINT},
      </if>
      <if test="medicationId != null" >
        medication_id = #{medicationId,jdbcType=BIGINT},
      </if>
      <if test="careTimeId != null" >
        care_time_id = #{careTimeId,jdbcType=BIGINT},
      </if>
      <if test="gmpTypeId != null" >
        gmp_type_id = #{gmpTypeId,jdbcType=BIGINT},
      </if>
      <if test="abcTypeId != null" >
        abc_type_id = #{abcTypeId,jdbcType=BIGINT},
      </if>
      <if test="scopeId != null" >
        scope_id = #{scopeId,jdbcType=BIGINT},
      </if>
      <if test="newTypeId != null" >
        new_type_id = #{newTypeId,jdbcType=BIGINT},
      </if>
      <if test="retailPrice != null" >
        retail_price = #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="batchPrice != null" >
        batch_price = #{batchPrice,jdbcType=DECIMAL},
      </if>
      <if test="memberPrice != null" >
        member_price = #{memberPrice,jdbcType=DECIMAL},
      </if>
      <if test="onlinePrice != null" >
        online_price = #{onlinePrice,jdbcType=DECIMAL},
      </if>
      <if test="splitPrice != null" >
        split_price = #{splitPrice,jdbcType=DECIMAL},
      </if>
      <if test="lowPrice != null" >
        low_price = #{lowPrice,jdbcType=DECIMAL},
      </if>
      <if test="hightPrice != null" >
        hight_price = #{hightPrice,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>


</mapper>