<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.GoodsBrandMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.GoodsBrand" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="brand_no" property="brandNo" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="sort_no" property="sortNo" jdbcType="INTEGER" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, brand_name, brand_no, pinyin, sort_no, enabled, created_by, updated_by, 
    created_time, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from goods_brand
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from goods_brand
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.GoodsBrand" keyProperty="id" useGeneratedKeys="true" >
    insert into goods_brand (company_id, brand_name,
      brand_no, pinyin, sort_no, 
      enabled, created_by, updated_by, 
      created_time, updated_time)
    values (#{companyId,jdbcType=INTEGER}, #{brandName,jdbcType=VARCHAR},
      #{brandNo,jdbcType=VARCHAR}, #{pinyin,jdbcType=VARCHAR}, #{sortNo,jdbcType=INTEGER}, 
      #{enabled,jdbcType=BIT}, #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.GoodsBrand" >
    update goods_brand
    <set >
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="brandNo != null" >
        brand_no = #{brandNo,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        sort_no = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getBrandCount" parameterType="com.yiban.erp.dto.GoodsBrandQuery" resultType="java.lang.Integer">
    select count(1)
    from goods_brand
    where company_id = #{companyId}
      <if test="enabled != null">
        and enabled = #{enabled}
      </if>
      <if test="search != null">
        <bind name="patten" value="'%' + search +'%'"/>
        and (brand_name LIKE #{patten} or brand_no LIKE #{patten} or pinyin LIKE #{patten})
      </if>
  </select>

  <select id="getBrands" parameterType="com.yiban.erp.dto.GoodsBrandQuery" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from goods_brand
    where company_id = #{companyId}
    <if test="enabled != null">
      and enabled = #{enabled}
    </if>
    <if test="search != null">
      <bind name="patten" value="'%' + search +'%'"/>
      and (brand_name LIKE #{patten} or brand_no LIKE #{patten} or pinyin LIKE #{patten})
    </if>
    order by sort_no desc, id asc
    <if test="offset != null and limit != null" >
      limit #{offset}, #{limit}
    </if>
  </select>

  <select id="isBrandUsed" parameterType="java.lang.Long" resultType="java.lang.Boolean">
    select count(1) > 0
    from goods_info
    where brand_id = #{brandId} and status != 'DELETE'
  </select>

</mapper>