<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.GoodsAttributeRefMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.GoodsAttributeRef" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_info_id" property="goodsInfoId" jdbcType="BIGINT" />
    <result column="att_id" property="attId" jdbcType="BIGINT" />
    <result column="att_value" property="attValue" jdbcType="VARCHAR" />
    <result column="att_name" property="attName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_info_id, att_id, att_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from goods_attribute_ref
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from goods_attribute_ref
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByGoodsInfoId" parameterType="java.lang.Long">
    delete from goods_attribute_ref
    where goods_info_id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.yiban.erp.entities.GoodsAttributeRef" keyProperty="id" useGeneratedKeys="true" >
    insert into goods_attribute_ref (goods_info_id, att_id,
      att_value)
    values (#{goodsInfoId,jdbcType=BIGINT}, #{attId,jdbcType=BIGINT},
      #{attValue,jdbcType=VARCHAR})
  </insert>

  <insert id="insertBatch" parameterType="map" keyProperty="id" useGeneratedKeys="true" >
    insert into goods_attribute_ref (goods_info_id, att_id,
      att_value)
    values
    <foreach collection="attributeRefs" separator="), (" item="item" open="(" close=")">
      #{item.goodsInfoId,jdbcType=BIGINT}, #{item.attId,jdbcType=BIGINT},
      #{item.attValue,jdbcType=VARCHAR}
    </foreach>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.yiban.erp.entities.GoodsAttributeRef" >
    update goods_attribute_ref
    set goods_info_id = #{goodsInfoId,jdbcType=BIGINT},
      att_id = #{attId,jdbcType=BIGINT},
      att_value = #{attValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getByGoodsInfoId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from goods_attribute_ref
    where goods_info_id = #{goodsInfoId}
  </select>

  <select id="getDefaultAttr" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
      id AS att_id, att_name
    from goods_attribute
    where company_id = #{companyId,jdbcType=INTEGER} AND enable_default = '1'
    order by id asc
  </select>

  <select id="getDefaultAttrRef" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    gar.id, gar.goods_info_id, gar.att_id, gar.att_value
    from goods_attribute_ref gar,goods_attribute ga
    where ga.company_id = #{companyId,jdbcType=INTEGER} AND ga.enable_default = '1' AND gar.att_id = ga.id
    order by gar.id asc
  </select>

  <select id="getDefaultAttrRefs" resultMap="BaseResultMap">
    select
    gar.id, gar.goods_info_id, gar.att_id, gar.att_value,ga.att_name
    from goods_attribute_ref gar,goods_attribute ga
    where ga.company_id = #{companyId} AND ga.enable_default = '1' AND  gar.att_id = ga.id
    and goods_info_id in
    <foreach collection="infoIds" item="item" separator=", " open="(" close=")">
      #{item}
    </foreach>
    order by gar.id asc
  </select>
</mapper>