<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.GoodsSourceMapper" >
    <resultMap id="SellResultMap" type="com.yiban.erp.entities.GoodsSourceSell" >
        <result column="batch_code" property="batchCode" jdbcType="VARCHAR" />
        <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
        <result column="ship_company_name" property="shipCompanyName" jdbcType="VARCHAR" />
        <result column="total_quantity" property="totalQuantity" jdbcType="DECIMAL" />
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
        <result column="paid_amount" property="paidAmount" jdbcType="DECIMAL" />
        <result column="realname" property="realName" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="BuyResultMap" type="com.yiban.erp.entities.GoodsSourceBuy" >
        <result column="batch_code" property="batchCode" jdbcType="VARCHAR" />
        <result column="buy_order_quality" property="buyOrderQuality" jdbcType="DECIMAL" />
        <result column="in_count" property="inCount" jdbcType="DECIMAL" />
        <result column="quantity" property="quantity" jdbcType="DECIMAL" />
        <result column="buy_price" property="buyPrice" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="ship_name" property="shipName" jdbcType="VARCHAR" />
        <result column="realname" property="realName" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="GoodResultMap" type="com.yiban.erp.entities.Goods" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="RepertoryOutResultMap" type="com.yiban.erp.entities.RepertoryOut" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="company_id" property="companyId" jdbcType="INTEGER" />
        <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="go_to_warehouse_id" property="goToWarehouseId" jdbcType="INTEGER" />
        <result column="ref_type" property="refType" jdbcType="VARCHAR" />
        <result column="out_date" property="outDate" jdbcType="DATE" />
        <result column="ref_order_id" property="refOrderId" jdbcType="BIGINT" />
        <result column="ref_order_number" property="refOrderNumber" jdbcType="VARCHAR" />
        <result column="customer_id" property="customerId" jdbcType="BIGINT" />
        <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
        <result column="customer_rep_id" property="customerRepId" jdbcType="INTEGER" />
        <result column="customer_rep_name" property="customerRepName" jdbcType="VARCHAR" />
        <result column="go_to" property="goTo" jdbcType="VARCHAR" />
        <result column="total_quantity" property="totalQuantity" jdbcType="DECIMAL" />
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
        <result column="make_order_user" property="makeOrderUser" jdbcType="VARCHAR" />
        <result column="check_order_user" property="checkOrderUser" jdbcType="VARCHAR" />
        <result column="check_date" property="checkDate" jdbcType="TIMESTAMP" />
        <result column="file_no" property="fileNo" jdbcType="VARCHAR" />
        <result column="comment" property="comment" jdbcType="VARCHAR" />
        <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <resultMap id="RepertoryOutDetailResultMap" type="com.yiban.erp.entities.RepertoryOutDetail" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="repertory_out_id" property="repertoryOutId" jdbcType="BIGINT" />
        <result column="repertory_info_id" property="repertoryInfoId" jdbcType="BIGINT" />
        <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
        <result column="batch_code" property="batchCode" jdbcType="VARCHAR"/>
        <result column="location" property="location" jdbcType="VARCHAR"/>
        <result column="product_date" property="productDate" jdbcType="DATE"/>
        <result column="exp_date" property="expDate" jdbcType="DATE"/>
        <result column="quantity" property="quantity" jdbcType="DECIMAL" />
        <result column="free" property="free" jdbcType="DECIMAL" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="dis_price" property="disPrice" jdbcType="DECIMAL" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />

        <result column="review_user_id" property="reviewUserId" jdbcType="BIGINT" />
        <result column="review_next_user_id" property="reviewNextUserId" jdbcType="BIGINT" />
        <result column="review_result" property="reviewResult" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>


        <result column="check_status" property="checkStatus" jdbcType="BIT" />
        <result column="check_user" property="checkUser" jdbcType="VARCHAR" />
        <result column="check_date" property="checkDate" jdbcType="TIMESTAMP" />
        <result column="check_result" property="checkResult" jdbcType="VARCHAR" />
        <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
    id, company_id, spec_no, spec_name, parent_id, parent_no, parent_name, created_by,
    updated_by, created_time, updated_time
  </sql>

    <select id="queryGoods" resultMap="GoodResultMap">
    select gi.id, gi.name
    from goods_info as gi
    where gi.company_id = #{companyId}
  </select>
    <select id="getBatch" resultType="String">
    select
    distinct ri.batch_code
    from repertory_info as ri left join goods_detail as gd
                              on ri.goods_id = gd.id
                              left join goods_info as gi
                              on gd.goods_info_id = gi.id
    where gi.id = #{goodId,jdbcType=BIGINT}
  </select>

    <select id="getGoodIdByDetail" resultType="java.lang.Long">
    select
    goods_info_id
    from goods_detail
    where id = #{detailId,jdbcType=BIGINT}
  </select>

    <select id="countOnSell" resultType="Integer">
        select
        SUM(ri.on_way_quantity) AS TOTAL
        from repertory_info as ri left join goods_detail as gd
        on ri.goods_id = gd.id
        where  gd.goods_info_id = #{goodId}
        <if test =" batchCode != null  and batchCode != '' ">
            and ri.batch_code = #{batchCode}
        </if>
    </select>

    <select id="countStock" resultType="Integer">
        select sum(ri.quantity)
        from repertory_info as ri left join goods_detail as gd
        on ri.goods_id = gd.id
        where  gd.goods_info_id = #{goodId}
        <if test =" batchCode != null and batchCode != '' ">
            and ri.batch_code = #{batchCode}
        </if>
    </select>

    <select id="getSell" resultMap="SellResultMap">
        select
        sod.batch_code, cus.name as customer_name, sc.name as ship_company_name,so.total_quantity,so.total_amount,so.paid_amount,u.realname
        from sell_order as so
        left join sell_order_detail as sod
        on so.id = sod.sell_order_id
        left join customer as cus
        on so.customer_id = cus.id
        left join ship_company as sc
        on so.ship_company_id = sc.id
        left join users as u
        on so.sale_id = u.id
        where  sod.goods_id in(
        select gd.id from goods_detail as gd where gd.goods_info_id =  #{goodId}
        )
        <if test =" batchCode != null and batchCode != '' ">
            and sod.batch_code = #{batchCode}
        </if>
    </select>

    <select id="getBuy" resultType="java.lang.Long" resultMap="BuyResultMap">
        select
        rid.batch_code, rid.buy_order_quality, rid.in_count, rif.quantity, rif.buy_price, ri.create_time, sp.name as ship_name, bu.realname
        from repertory_in as ri
        left join repertory_in_detail as rid
        on ri.id = rid.in_order_id
        left join buy_order as bo
        on  ri.ref_order_id = bo.id
        left join supplier as sp
        on bo.supplier_id = sp.id
        left join repertory_info as rif
        on rid.goods_id = rif.goods_id and rid.batch_code = rif.batch_code and ri.id = rif.ref_order_id and rif.ref_type = 'BUY_ORDER'
        left join users as bu
        on ri.buyer_id = bu.id
        where  rid.goods_id in(
        select gd.id from goods_detail as gd where gd.goods_info_id =  #{goodId}
        )
        <if test =" batchCode != null and batchCode != '' ">
            and rid.batch_code = #{batchCode}
        </if>
    </select>

    <select id="getRepertoryId" resultType="java.lang.Long">
        select
        ri.id
        from repertory_info as ri left join goods_detail as gd
        on ri.goods_id = gd.id
        where  gd.goods_info_id = #{goodId}
        <if test =" batchCode != null  and batchCode != '' ">
            and ri.batch_code = #{batchCode}
        </if>
    </select>
    <select id="getRepertoryOuts" resultMap="RepertoryOutResultMap">
       select ri.company_id, ri.warehouse_id, ri.quantity as total_quantity, ri.quantity * ri.buy_price as total_amount
        from repertory_info as ri
        where ri.id = #{Id}
    </select>
    <select id="getRepertoryOutDetail" resultMap="RepertoryOutDetailResultMap">
       select ri.goods_id, ri.batch_code, ri.location, ri.product_date, ri.exp_date, ri.quantity, rid.free, ri.buy_price as price, ri.buy_price * ri.quantity as amount,
               rid.tax_rate
        from repertory_info as ri
        left join repertory_in_detail as rid
        on rid.goods_id = ri.goods_id and rid.batch_code = ri.batch_code and ri.ref_type = 'BUY_ORDER'
        where ri.id = #{Id}
    </select>
    <insert id="destory" parameterType="com.yiban.erp.entities.RepertoryOut" keyProperty="id" useGeneratedKeys="true" >
        insert into repertory_out
        (company_id, warehouse_id, status, ref_type, total_quantity, total_amount, created_by, created_time)
        values (
        #{companyId}, #{warehouseId},"REVIEW_NEXT" , "DESTORY_OUT", #{totalQuantity}, #{totalAmount}, #{createdBy}, now()
        )
    </insert>
    <insert id="destoryDetail" parameterType="com.yiban.erp.entities.RepertoryOutDetail" keyProperty="id" useGeneratedKeys="true" >
        insert into repertory_out_detail
        (repertory_out_id, repertory_info_id, goods_id, batch_code, location, product_date, exp_date, quantity, free, price,
         amount, tax_rate, status, created_by, created_time)
        values(
        #{repertoryOutId},#{repertoryInfoId}, #{goodsId}, #{batchCode}, #{location}, #{productDate}, #{expDate}, #{quantity}, #{free}, #{price},
        #{amount}, #{taxRate}, "REVIEW_NEXT", #{createdBy}, now()
        )
    </insert>
</mapper>