<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.Goods" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="origin" property="origin" jdbcType="VARCHAR" />
    <result column="jx" property="jx" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="serial" property="serial" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="BIT" />
    <result column="factory_id" property="factoryId" jdbcType="BIGINT" />
    <result column="unit" property="unit" jdbcType="INTEGER" />
    <result column="pack_unit" property="packUnit" jdbcType="INTEGER" />
    <result column="medium_pack" property="mediumPack" jdbcType="INTEGER" />
    <result column="big_pack" property="bigPack" jdbcType="INTEGER" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="storage_condition" property="storageCondition" jdbcType="VARCHAR" />
    <result column="storage_description" property="storageDescription" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="cert_id" property="certId" jdbcType="BIGINT" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="permit_id" property="permitId" jdbcType="BIGINT" />
    <result column="jx_id" property="jxId" jdbcType="INTEGER" />
    <result column="is_foreign" property="isForeign" jdbcType="BIT" />
    <result column="med_type" property="medType" jdbcType="INTEGER" />
    <result column="is_prescription" property="isPrescription" jdbcType="BIT" />
    <result column="in_check" property="inCheck" jdbcType="BIT" />
    <result column="first_check" property="firstCheck" jdbcType="BIT" />
    <result column="special_managed" property="specialManaged" jdbcType="BIT" />
    <result column="need_care" property="needCare" jdbcType="BIT" />
    <result column="warning_days" property="warningDays" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="is_shebao" property="isShebao" jdbcType="BIT" />
    <result column="in_tax" property="inTax" jdbcType="DECIMAL" />
    <result column="out_tax" property="outTax" jdbcType="DECIMAL" />
    <result column="valid_months" property="validMonths" jdbcType="TINYINT" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="archive_number" property="archiveNumber" jdbcType="VARCHAR" />
    <result column="cure_range" property="cureRange" jdbcType="VARCHAR" />
    <result column="sale_policy" property="salePolicy" jdbcType="VARCHAR" />
    <result column="special_manage_id" property="specialManageId" jdbcType="INTEGER" />
    <result column="medication_id" property="medicationId" jdbcType="INTEGER" />
    <result column="function_category_id" property="functionCategoryId" jdbcType="INTEGER" />
    <result column="specific_med_id" property="specificMedId" jdbcType="INTEGER" />
    <result column="care_time_id" property="careTimeId" jdbcType="INTEGER" />
    <result column="gmp_type_id" property="gmpTypeId" jdbcType="INTEGER" />
    <result column="scope_id" property="scopeId" jdbcType="INTEGER" />
    <result column="base_med_id" property="baseMedId" jdbcType="INTEGER" />
    <result column="price_conf_id" property="priceConfId" jdbcType="BIGINT" />
    <result column="pos_id" property="posId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, company_id, category_id, full_name, origin, jx, spec, serial, code, enable, 
    factory_id, unit, pack_unit, medium_pack, big_pack, pinyin, storage_condition, storage_description, 
    comment, cert_id, brand_id, permit_id, jx_id, is_foreign, med_type, is_prescription, 
    in_check, first_check, special_managed, need_care, warning_days, created_time, updated_time, 
    created_by, updated_by, is_shebao, in_tax, out_tax, valid_months, contact, archive_number, 
    cure_range, sale_policy, special_manage_id, medication_id, function_category_id, 
    specific_med_id, care_time_id, gmp_type_id, scope_id, base_med_id, price_conf_id, 
    pos_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectCount" resultType="java.lang.Long">
        select
        count(1)
        from goods
        where 1=1
        <if test="categoryId != null and categoryId > 0">
            and category_id = #{categoryId}
        </if>
        <if test="factoryId != null and factoryId > 0">
            and factory_id = #{factoryId}
        </if>
        <if test="search != null and search != ''">
            <bind name="pattern" value="'%' + search + '%'" />
            and ( name like #{pattern}  or lower(pinyin) like lower(#{pattern}) )
        </if>
    </select>
    <select id="selectAll" resultType="com.yiban.erp.entities.Goods">
        select
        g.*, c.name as categoryName, f.name as factory, u1.name as unitName, u2.name as packUnitName
        from goods g
        left join good_category c on g.category_id = c.id
        left join factory f on g.factory_id = f.id
        left join unit u1 on g.unit = u1.id
        left join unit u2 on g.unit = u2.id
        where 1 = 1
        <if test="categoryId != null and categoryId > 0">
            and category_id = #{categoryId}
        </if>
        <if test="factoryId != null and factoryId > 0">
            and factory_id = #{factoryId}
        </if>
        <if test="search != null and search != ''">
            <bind name="pattern" value="'%' + search + '%'" />
            and ( g.name like #{pattern} or lower(g.pinyin) like lower(#{pattern}) )
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="selectByIdList" parameterType="map" resultType="com.yiban.erp.entities.Goods">
        select
        g.*, c.name as categoryName, f.name as factory, u1.name as unitName, u2.name as packUnitName
        from goods g
        left join good_category c on g.category_id = c.id
        left join factory f on g.factory_id = f.id
        left join unit u1 on g.unit = u1.id
        left join unit u2 on g.unit = u2.id
        where 1 = 1 and g.id in
        <foreach collection="idList" item="id" open="(" close=")" separator=", ">
            #{id}
        </foreach>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from goods
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.yiban.erp.entities.Goods" useGeneratedKeys="true" keyProperty="id">
    insert into goods (name, company_id,
      category_id, full_name, origin, 
      jx, spec, serial, code, 
      enable, factory_id, unit, 
      pack_unit, medium_pack, big_pack, 
      pinyin, storage_condition, storage_description, 
      comment, cert_id, brand_id, 
      permit_id, jx_id, is_foreign, 
      med_type, is_prescription, in_check, 
      first_check, special_managed, need_care, 
      warning_days, created_time, updated_time, 
      created_by, updated_by, is_shebao, 
      in_tax, out_tax, valid_months, 
      contact, archive_number, cure_range, 
      sale_policy, special_manage_id, medication_id, 
      function_category_id, specific_med_id, care_time_id, 
      gmp_type_id, scope_id, base_med_id, 
      price_conf_id, pos_id)
    values (#{name,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER},
      #{categoryId,jdbcType=INTEGER}, #{fullName,jdbcType=VARCHAR}, #{origin,jdbcType=VARCHAR}, 
      #{jx,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, #{serial,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{enable,jdbcType=BIT}, #{factoryId,jdbcType=BIGINT}, #{unit,jdbcType=INTEGER}, 
      #{packUnit,jdbcType=INTEGER}, #{mediumPack,jdbcType=INTEGER}, #{bigPack,jdbcType=INTEGER}, 
      #{pinyin,jdbcType=VARCHAR}, #{storageCondition,jdbcType=VARCHAR}, #{storageDescription,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{certId,jdbcType=BIGINT}, #{brandId,jdbcType=INTEGER}, 
      #{permitId,jdbcType=BIGINT}, #{jxId,jdbcType=INTEGER}, #{isForeign,jdbcType=BIT}, 
      #{medType,jdbcType=INTEGER}, #{isPrescription,jdbcType=BIT}, #{inCheck,jdbcType=BIT},
      #{firstCheck,jdbcType=BIT}, #{specialManaged,jdbcType=BIT}, #{needCare,jdbcType=BIT}, 
      #{warningDays,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}, #{isShebao,jdbcType=BIT}, 
      #{inTax,jdbcType=DECIMAL}, #{outTax,jdbcType=DECIMAL}, #{validMonths,jdbcType=TINYINT}, 
      #{contact,jdbcType=VARCHAR}, #{archiveNumber,jdbcType=VARCHAR}, #{cureRange,jdbcType=VARCHAR}, 
      #{salePolicy,jdbcType=VARCHAR}, #{specialManageId,jdbcType=INTEGER}, #{medicationId,jdbcType=INTEGER}, 
      #{functionCategoryId,jdbcType=INTEGER}, #{specificMedId,jdbcType=INTEGER}, #{careTimeId,jdbcType=INTEGER}, 
      #{gmpTypeId,jdbcType=INTEGER}, #{scopeId,jdbcType=INTEGER}, #{baseMedId,jdbcType=INTEGER}, 
      #{priceConfId,jdbcType=BIGINT}, #{posId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yiban.erp.entities.Goods" useGeneratedKeys="true" keyProperty="id">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="name != null" >
        name,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="fullName != null" >
        full_name,
      </if>
      <if test="origin != null" >
        origin,
      </if>
      <if test="jx != null" >
        jx,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="serial != null" >
        serial,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="factoryId != null" >
        factory_id,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="packUnit != null" >
        pack_unit,
      </if>
      <if test="mediumPack != null" >
        medium_pack,
      </if>
      <if test="bigPack != null" >
        big_pack,
      </if>
      <if test="pinyin != null" >
        pinyin,
      </if>
      <if test="storageCondition != null" >
        storage_condition,
      </if>
      <if test="storageDescription != null" >
        storage_description,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="certId != null" >
        cert_id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="permitId != null" >
        permit_id,
      </if>
      <if test="jxId != null" >
        jx_id,
      </if>
      <if test="isForeign != null" >
        is_foreign,
      </if>
      <if test="medType != null" >
        med_type,
      </if>
      <if test="isPrescription != null" >
        is_prescription,
      </if>
      <if test="inCheck != null" >
        in_check,
      </if>
      <if test="firstCheck != null" >
        first_check,
      </if>
      <if test="specialManaged != null" >
        special_managed,
      </if>
      <if test="needCare != null" >
        need_care,
      </if>
      <if test="warningDays != null" >
        warning_days,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="isShebao != null" >
        is_shebao,
      </if>
      <if test="inTax != null" >
        in_tax,
      </if>
      <if test="outTax != null" >
        out_tax,
      </if>
      <if test="validMonths != null" >
        valid_months,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="archiveNumber != null" >
        archive_number,
      </if>
      <if test="cureRange != null" >
        cure_range,
      </if>
      <if test="salePolicy != null" >
        sale_policy,
      </if>
      <if test="specialManageId != null" >
        special_manage_id,
      </if>
      <if test="medicationId != null" >
        medication_id,
      </if>
      <if test="functionCategoryId != null" >
        function_category_id,
      </if>
      <if test="specificMedId != null" >
        specific_med_id,
      </if>
      <if test="careTimeId != null" >
        care_time_id,
      </if>
      <if test="gmpTypeId != null" >
        gmp_type_id,
      </if>
      <if test="scopeId != null" >
        scope_id,
      </if>
      <if test="baseMedId != null" >
        base_med_id,
      </if>
      <if test="priceConfId != null" >
        price_conf_id,
      </if>
      <if test="posId != null" >
        pos_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="jx != null" >
        #{jx,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="serial != null" >
        #{serial,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=BIT},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=BIGINT},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=INTEGER},
      </if>
      <if test="packUnit != null" >
        #{packUnit,jdbcType=INTEGER},
      </if>
      <if test="mediumPack != null" >
        #{mediumPack,jdbcType=INTEGER},
      </if>
      <if test="bigPack != null" >
        #{bigPack,jdbcType=INTEGER},
      </if>
      <if test="pinyin != null" >
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="storageCondition != null" >
        #{storageCondition,jdbcType=VARCHAR},
      </if>
      <if test="storageDescription != null" >
        #{storageDescription,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="certId != null" >
        #{certId,jdbcType=BIGINT},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="permitId != null" >
        #{permitId,jdbcType=BIGINT},
      </if>
      <if test="jxId != null" >
        #{jxId,jdbcType=INTEGER},
      </if>
      <if test="isForeign != null" >
        #{isForeign,jdbcType=BIT},
      </if>
      <if test="medType != null" >
        #{medType,jdbcType=INTEGER},
      </if>
      <if test="isPrescription != null" >
        #{isPrescription,jdbcType=BIT},
      </if>
      <if test="inCheck != null" >
        #{inCheck,jdbcType=BIT},
      </if>
      <if test="firstCheck != null" >
        #{firstCheck,jdbcType=BIT},
      </if>
      <if test="specialManaged != null" >
        #{specialManaged,jdbcType=BIT},
      </if>
      <if test="needCare != null" >
        #{needCare,jdbcType=BIT},
      </if>
      <if test="warningDays != null" >
        #{warningDays,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="isShebao != null" >
        #{isShebao,jdbcType=BIT},
      </if>
      <if test="inTax != null" >
        #{inTax,jdbcType=DECIMAL},
      </if>
      <if test="outTax != null" >
        #{outTax,jdbcType=DECIMAL},
      </if>
      <if test="validMonths != null" >
        #{validMonths,jdbcType=TINYINT},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="archiveNumber != null" >
        #{archiveNumber,jdbcType=VARCHAR},
      </if>
      <if test="cureRange != null" >
        #{cureRange,jdbcType=VARCHAR},
      </if>
      <if test="salePolicy != null" >
        #{salePolicy,jdbcType=VARCHAR},
      </if>
      <if test="specialManageId != null" >
        #{specialManageId,jdbcType=INTEGER},
      </if>
      <if test="medicationId != null" >
        #{medicationId,jdbcType=INTEGER},
      </if>
      <if test="functionCategoryId != null" >
        #{functionCategoryId,jdbcType=INTEGER},
      </if>
      <if test="specificMedId != null" >
        #{specificMedId,jdbcType=INTEGER},
      </if>
      <if test="careTimeId != null" >
        #{careTimeId,jdbcType=INTEGER},
      </if>
      <if test="gmpTypeId != null" >
        #{gmpTypeId,jdbcType=INTEGER},
      </if>
      <if test="scopeId != null" >
        #{scopeId,jdbcType=INTEGER},
      </if>
      <if test="baseMedId != null" >
        #{baseMedId,jdbcType=INTEGER},
      </if>
      <if test="priceConfId != null" >
        #{priceConfId,jdbcType=BIGINT},
      </if>
      <if test="posId != null" >
        #{posId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.Goods" >
    update goods
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="fullName != null" >
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        origin = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="jx != null" >
        jx = #{jx,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="serial != null" >
        serial = #{serial,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=BIT},
      </if>
      <if test="factoryId != null" >
        factory_id = #{factoryId,jdbcType=BIGINT},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=INTEGER},
      </if>
      <if test="packUnit != null" >
        pack_unit = #{packUnit,jdbcType=INTEGER},
      </if>
      <if test="mediumPack != null" >
        medium_pack = #{mediumPack,jdbcType=INTEGER},
      </if>
      <if test="bigPack != null" >
        big_pack = #{bigPack,jdbcType=INTEGER},
      </if>
      <if test="pinyin != null" >
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="storageCondition != null" >
        storage_condition = #{storageCondition,jdbcType=VARCHAR},
      </if>
      <if test="storageDescription != null" >
        storage_description = #{storageDescription,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="certId != null" >
        cert_id = #{certId,jdbcType=BIGINT},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="permitId != null" >
        permit_id = #{permitId,jdbcType=BIGINT},
      </if>
      <if test="jxId != null" >
        jx_id = #{jxId,jdbcType=INTEGER},
      </if>
      <if test="isForeign != null" >
        is_foreign = #{isForeign,jdbcType=BIT},
      </if>
      <if test="medType != null" >
        med_type = #{medType,jdbcType=INTEGER},
      </if>
      <if test="isPrescription != null" >
        is_prescription = #{isPrescription,jdbcType=BIT},
      </if>
      <if test="inCheck != null" >
        in_check = #{inCheck,jdbcType=BIT},
      </if>
      <if test="firstCheck != null" >
        first_check = #{firstCheck,jdbcType=BIT},
      </if>
      <if test="specialManaged != null" >
        special_managed = #{specialManaged,jdbcType=BIT},
      </if>
      <if test="needCare != null" >
        need_care = #{needCare,jdbcType=BIT},
      </if>
      <if test="warningDays != null" >
        warning_days = #{warningDays,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="isShebao != null" >
        is_shebao = #{isShebao,jdbcType=BIT},
      </if>
      <if test="inTax != null" >
        in_tax = #{inTax,jdbcType=DECIMAL},
      </if>
      <if test="outTax != null" >
        out_tax = #{outTax,jdbcType=DECIMAL},
      </if>
      <if test="validMonths != null" >
        valid_months = #{validMonths,jdbcType=TINYINT},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="archiveNumber != null" >
        archive_number = #{archiveNumber,jdbcType=VARCHAR},
      </if>
      <if test="cureRange != null" >
        cure_range = #{cureRange,jdbcType=VARCHAR},
      </if>
      <if test="salePolicy != null" >
        sale_policy = #{salePolicy,jdbcType=VARCHAR},
      </if>
      <if test="specialManageId != null" >
        special_manage_id = #{specialManageId,jdbcType=INTEGER},
      </if>
      <if test="medicationId != null" >
        medication_id = #{medicationId,jdbcType=INTEGER},
      </if>
      <if test="functionCategoryId != null" >
        function_category_id = #{functionCategoryId,jdbcType=INTEGER},
      </if>
      <if test="specificMedId != null" >
        specific_med_id = #{specificMedId,jdbcType=INTEGER},
      </if>
      <if test="careTimeId != null" >
        care_time_id = #{careTimeId,jdbcType=INTEGER},
      </if>
      <if test="gmpTypeId != null" >
        gmp_type_id = #{gmpTypeId,jdbcType=INTEGER},
      </if>
      <if test="scopeId != null" >
        scope_id = #{scopeId,jdbcType=INTEGER},
      </if>
      <if test="baseMedId != null" >
        base_med_id = #{baseMedId,jdbcType=INTEGER},
      </if>
      <if test="priceConfId != null" >
        price_conf_id = #{priceConfId,jdbcType=BIGINT},
      </if>
      <if test="posId != null" >
        pos_id = #{posId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.erp.entities.Goods" >
    update goods
    set name = #{name,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      full_name = #{fullName,jdbcType=VARCHAR},
      origin = #{origin,jdbcType=VARCHAR},
      jx = #{jx,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      serial = #{serial,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=BIT},
      factory_id = #{factoryId,jdbcType=BIGINT},
      unit = #{unit,jdbcType=INTEGER},
      pack_unit = #{packUnit,jdbcType=INTEGER},
      medium_pack = #{mediumPack,jdbcType=INTEGER},
      big_pack = #{bigPack,jdbcType=INTEGER},
      pinyin = #{pinyin,jdbcType=VARCHAR},
      storage_condition = #{storageCondition,jdbcType=VARCHAR},
      storage_description = #{storageDescription,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      cert_id = #{certId,jdbcType=BIGINT},
      brand_id = #{brandId,jdbcType=INTEGER},
      permit_id = #{permitId,jdbcType=BIGINT},
      jx_id = #{jxId,jdbcType=INTEGER},
      is_foreign = #{isForeign,jdbcType=BIT},
      med_type = #{medType,jdbcType=INTEGER},
      is_prescription = #{isPrescription,jdbcType=BIT},
      in_check = #{inCheck,jdbcType=BIT},
      first_check = #{firstCheck,jdbcType=BIT},
      special_managed = #{specialManaged,jdbcType=BIT},
      need_care = #{needCare,jdbcType=BIT},
      warning_days = #{warningDays,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      is_shebao = #{isShebao,jdbcType=BIT},
      in_tax = #{inTax,jdbcType=DECIMAL},
      out_tax = #{outTax,jdbcType=DECIMAL},
      valid_months = #{validMonths,jdbcType=TINYINT},
      contact = #{contact,jdbcType=VARCHAR},
      archive_number = #{archiveNumber,jdbcType=VARCHAR},
      cure_range = #{cureRange,jdbcType=VARCHAR},
      sale_policy = #{salePolicy,jdbcType=VARCHAR},
      special_manage_id = #{specialManageId,jdbcType=INTEGER},
      medication_id = #{medicationId,jdbcType=INTEGER},
      function_category_id = #{functionCategoryId,jdbcType=INTEGER},
      specific_med_id = #{specificMedId,jdbcType=INTEGER},
      care_time_id = #{careTimeId,jdbcType=INTEGER},
      gmp_type_id = #{gmpTypeId,jdbcType=INTEGER},
      scope_id = #{scopeId,jdbcType=INTEGER},
      base_med_id = #{baseMedId,jdbcType=INTEGER},
      price_conf_id = #{priceConfId,jdbcType=BIGINT},
      pos_id = #{posId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>