<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.GoodsInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.GoodsInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="goods_no" property="goodsNo" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="BIGINT" />
    <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="origin" property="origin" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="BIT" />
    <result column="is_proxy" property="isProxy" jdbcType="BIT" />
    <result column="factory_id" property="factoryId" jdbcType="BIGINT" />
    <result column="unit" property="unit" jdbcType="BIGINT" />
    <result column="pack_unit" property="packUnit" jdbcType="BIGINT" />
    <result column="medium_unit" property="mediumUnit" jdbcType="BIGINT" />
    <result column="medium_pack" property="mediumPack" jdbcType="DECIMAL" />
    <result column="big_pack" property="bigPack" jdbcType="DECIMAL" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="storage_condition" property="storageCondition" jdbcType="BIGINT" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="cert1_name" property="cert1Name" jdbcType="VARCHAR" />
    <result column="cert1_exp_date" property="cert1ExpDate" jdbcType="DATE" />
    <result column="cert1_no" property="cert1No" jdbcType="VARCHAR" />
    <result column="cert2_name" property="cert2Name" jdbcType="VARCHAR" />
    <result column="cert2_exp_date" property="cert2ExpDate" jdbcType="DATE" />
    <result column="cert2_no" property="cert2No" jdbcType="VARCHAR" />
    <result column="cert3_name" property="cert3Name" jdbcType="VARCHAR" />
    <result column="cert3_exp_date" property="cert3ExpDate" jdbcType="DATE" />
    <result column="cert3_no" property="cert3No" jdbcType="VARCHAR" />
    <result column="file_no" property="fileNo" jdbcType="VARCHAR" />
    <result column="in_check" property="inCheck" jdbcType="BIT" />
    <result column="first_check" property="firstCheck" jdbcType="BIT" />
    <result column="special_manage" property="specialManage" jdbcType="BIT" />
    <result column="cold_manage" property="coldManage" jdbcType="BIT" />
    <result column="need_care" property="needCare" jdbcType="BIT" />
    <result column="in_tax" property="inTax" jdbcType="DECIMAL" />
    <result column="out_tax" property="outTax" jdbcType="DECIMAL" />
    <result column="valid_months" property="validMonths" jdbcType="INTEGER" />
    <result column="warning_days" property="warningDays" jdbcType="INTEGER" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="cure_range" property="cureRange" jdbcType="VARCHAR" />
    <result column="sale_policy" property="salePolicy" jdbcType="VARCHAR" />
    <result column="is_foreign" property="isForeign" jdbcType="BIT" />
    <result column="prescription_id" property="prescriptionId" jdbcType="BIGINT" />
    <result column="med_type_id" property="medTypeId" jdbcType="BIGINT" />
    <result column="is_shebao" property="isShebao" jdbcType="TINYINT" />
    <result column="specific_med_id" property="specificMedId" jdbcType="BIGINT" />
    <result column="jx_id" property="jxId" jdbcType="BIGINT" />
    <result column="base_med_id" property="baseMedId" jdbcType="BIGINT" />
    <result column="func_cat_id" property="funcCatId" jdbcType="BIGINT" />
    <result column="medication_id" property="medicationId" jdbcType="BIGINT" />
    <result column="care_time_id" property="careTimeId" jdbcType="BIGINT" />
    <result column="gmp_type_id" property="gmpTypeId" jdbcType="BIGINT" />
    <result column="abc_type_id" property="abcTypeId" jdbcType="BIGINT" />
    <result column="scope_id" property="scopeId" jdbcType="BIGINT" />
    <result column="new_type_id" property="newTypeId" jdbcType="BIGINT" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="use_spec" property="useSpec" jdbcType="BIT" />
    <result column="bar_code" property="barCode" jdbcType="VARCHAR" />
    <result column="retail_price" property="retailPrice" jdbcType="DECIMAL" />
    <result column="batch_price" property="batchPrice" jdbcType="DECIMAL" />
    <result column="in_price" property="inPrice" jdbcType="DECIMAL" />
    <result column="normal_limit" property="normalLimit" jdbcType="DECIMAL"/>
    <result column="low_limit" property="lowLimit" jdbcType="DECIMAL"/>
    <result column="high_limit" property="highLimit" jdbcType="DECIMAL"/>
    <result column="spec_desc" property="specDesc" jdbcType="VARCHAR" />
    <result column="min_order_limit" property="minOrderLimit" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, category_id, goods_no, brand_id, supplier_id, status, name, full_name, 
    origin, enable, is_proxy, factory_id, unit, pack_unit, medium_unit, medium_pack,
    big_pack, pinyin, storage_condition, comment, cert1_name, cert1_exp_date, cert1_no,
    cert2_name,cert2_exp_date, cert2_no, cert3_name, cert3_exp_date, cert3_no,
    file_no, in_check, first_check, special_manage, cold_manage, need_care, in_tax, out_tax, valid_months,
    warning_days, contact, cure_range, sale_policy, is_foreign, prescription_id, med_type_id, 
    is_shebao, specific_med_id, jx_id, base_med_id, func_cat_id, medication_id, care_time_id, 
    gmp_type_id, abc_type_id, scope_id, new_type_id, created_by, updated_by, created_time, 
    updated_time, tags, use_spec, bar_code, retail_price, batch_price, in_price,
    normal_limit, low_limit, high_limit, spec_desc, min_order_limit
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from goods_info
    where id = #{id,jdbcType=BIGINT} and status != 'DELETE'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from goods_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.GoodsInfo" keyProperty="id" useGeneratedKeys="true" >
    insert into goods_info (company_id, category_id,
      goods_no, brand_id, supplier_id, 
      status, name, full_name, 
      origin, enable, is_proxy, factory_id,
      unit, pack_unit, medium_unit, 
      medium_pack, big_pack, pinyin, 
      storage_condition, comment,
      cert1_name, cert1_exp_date, cert1_no,
      cert2_name,cert2_exp_date, cert2_no,
      cert3_name, cert3_exp_date, cert3_no,
      file_no, in_check, first_check, special_manage, cold_manage,
      need_care, in_tax, out_tax, 
      valid_months, warning_days, contact, 
      cure_range, sale_policy, is_foreign, 
      prescription_id, med_type_id, is_shebao, 
      specific_med_id, jx_id, base_med_id, 
      func_cat_id, medication_id, care_time_id, 
      gmp_type_id, abc_type_id, scope_id, 
      new_type_id, created_by, updated_by, 
      created_time, updated_time, tags,
      use_spec, bar_code, retail_price, batch_price, in_price,
      normal_limit, low_limit, high_limit, spec_desc, min_order_limit)
    values (#{companyId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER},
      #{goodsNo,jdbcType=VARCHAR}, #{brandId,jdbcType=BIGINT}, #{supplierId,jdbcType=BIGINT}, 
      #{status,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, 
      #{origin,jdbcType=VARCHAR}, #{enable,jdbcType=BIT}, #{isProxy,jdbcType=BIT}, #{factoryId,jdbcType=BIGINT},
      #{unit,jdbcType=BIGINT}, #{packUnit,jdbcType=BIGINT}, #{mediumUnit,jdbcType=BIGINT}, 
      #{mediumPack,jdbcType=DECIMAL}, #{bigPack,jdbcType=DECIMAL}, #{pinyin,jdbcType=VARCHAR}, 
      #{storageCondition,jdbcType=BIGINT}, #{comment,jdbcType=VARCHAR}, #{cert1Name,jdbcType=VARCHAR},
      #{cert1ExpDate,jdbcType=DATE}, #{cert1No,jdbcType=VARCHAR}, #{cert2Name,jdbcType=VARCHAR},
      #{cert2ExpDate,jdbcType=DATE}, #{cert2No,jdbcType=VARCHAR}, #{cert3Name,jdbcType=VARCHAR},
      #{cert3ExpDate,jdbcType=DATE}, #{cert3No,jdbcType=VARCHAR}, #{fileNo,jdbcType=VARCHAR},
      #{inCheck,jdbcType=BIT}, #{firstCheck,jdbcType=BIT}, #{specialManage,jdbcType=BIT}, #{coldManage,jdbcType=BIT},
      #{needCare,jdbcType=BIT}, #{inTax,jdbcType=DECIMAL}, #{outTax,jdbcType=DECIMAL}, 
      #{validMonths,jdbcType=INTEGER}, #{warningDays,jdbcType=INTEGER}, #{contact,jdbcType=VARCHAR}, 
      #{cureRange,jdbcType=VARCHAR}, #{salePolicy,jdbcType=VARCHAR}, #{isForeign,jdbcType=BIT}, 
      #{prescriptionId,jdbcType=BIGINT}, #{medTypeId,jdbcType=BIGINT}, #{isShebao,jdbcType=TINYINT}, 
      #{specificMedId,jdbcType=BIGINT}, #{jxId,jdbcType=BIGINT}, #{baseMedId,jdbcType=BIGINT}, 
      #{funcCatId,jdbcType=BIGINT}, #{medicationId,jdbcType=BIGINT}, #{careTimeId,jdbcType=BIGINT}, 
      #{gmpTypeId,jdbcType=BIGINT}, #{abcTypeId,jdbcType=BIGINT}, #{scopeId,jdbcType=BIGINT}, 
      #{newTypeId,jdbcType=BIGINT}, #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, #{tags,jdbcType=VARCHAR},
      #{useSpec,jdbcType=BIT}, #{barCode,jdbcType=VARCHAR}, #{retailPrice,jdbcType=DECIMAL},
      #{batchPrice,jdbcType=DECIMAL}, #{inPrice,jdbcType=DECIMAL},
      #{normalLimit,jdbcType=DECIMAL}, #{lowLimit,jdbcType=DECIMAL}, #{highLimit,jdbcType=DECIMAL},
      #{specDesc,jdbcType=VARCHAR}, #{minOrderLimit,jdbcType=INTEGER})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.GoodsInfo" >
    update goods_info
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="goodsNo != null" >
        goods_no = #{goodsNo,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        origin = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=BIT},
      </if>
      <if test="isProxy != null" >
        is_proxy = #{isProxy,jdbcType=BIT},
      </if>
      <if test="factoryId != null" >
        factory_id = #{factoryId,jdbcType=BIGINT},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=BIGINT},
      </if>
      <if test="packUnit != null" >
        pack_unit = #{packUnit,jdbcType=BIGINT},
      </if>
      <if test="mediumUnit != null" >
        medium_unit = #{mediumUnit,jdbcType=BIGINT},
      </if>
      <if test="mediumPack != null" >
        medium_pack = #{mediumPack,jdbcType=DECIMAL},
      </if>
      <if test="bigPack != null" >
        big_pack = #{bigPack,jdbcType=DECIMAL},
      </if>
      <if test="pinyin != null" >
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="storageCondition != null" >
        storage_condition = #{storageCondition,jdbcType=BIGINT},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="cert1Name != null" >
        cert1_name = #{cert1Name,jdbcType=VARCHAR},
      </if>
      <if test="cert1ExpDate != null" >
        cert1_exp_date = #{cert1ExpDate,jdbcType=DATE},
      </if>
      <if test="cert1No != null" >
        cert1_no = #{cert1No,jdbcType=VARCHAR},
      </if>
      <if test="cert2Name != null" >
        cert2_name = #{cert2Name,jdbcType=VARCHAR},
      </if>
      <if test="cert2ExpDate != null" >
        cert2_exp_date = #{cert2ExpDate,jdbcType=DATE},
      </if>
      <if test="cert2No != null" >
        cert2_no = #{cert2No,jdbcType=VARCHAR},
      </if>
      <if test="cert3Name != null" >
        cert3_name = #{cert3Name,jdbcType=VARCHAR},
      </if>
      <if test="cert3ExpDate != null" >
        cert3_exp_date = #{cert3ExpDate,jdbcType=DATE},
      </if>
      <if test="cert3No != null" >
        cert3_no = #{cert3No,jdbcType=VARCHAR},
      </if>
      <if test="fileNo != null" >
        file_no = #{fileNo,jdbcType=VARCHAR},
      </if>
      <if test="inCheck != null" >
        in_check = #{inCheck,jdbcType=BIT},
      </if>
      <if test="firstCheck != null" >
        first_check = #{firstCheck,jdbcType=BIT},
      </if>
      <if test="specialManage != null" >
        special_manage = #{specialManage,jdbcType=BIT},
      </if>
      <if test="coldManage != null" >
        cold_manage = #{coldManage,jdbcType=BIT},
      </if>
      <if test="needCare != null" >
        need_care = #{needCare,jdbcType=BIT},
      </if>
      <if test="inTax != null" >
        in_tax = #{inTax,jdbcType=DECIMAL},
      </if>
      <if test="outTax != null" >
        out_tax = #{outTax,jdbcType=DECIMAL},
      </if>
      <if test="validMonths != null" >
        valid_months = #{validMonths,jdbcType=INTEGER},
      </if>
      <if test="warningDays != null" >
        warning_days = #{warningDays,jdbcType=INTEGER},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="cureRange != null" >
        cure_range = #{cureRange,jdbcType=VARCHAR},
      </if>
      <if test="salePolicy != null" >
        sale_policy = #{salePolicy,jdbcType=VARCHAR},
      </if>
      <if test="isForeign != null" >
        is_foreign = #{isForeign,jdbcType=BIT},
      </if>
      <if test="prescriptionId != null" >
        prescription_id = #{prescriptionId,jdbcType=BIGINT},
      </if>
      <if test="medTypeId != null" >
        med_type_id = #{medTypeId,jdbcType=BIGINT},
      </if>
      <if test="isShebao != null" >
        is_shebao = #{isShebao,jdbcType=TINYINT},
      </if>
      <if test="specificMedId != null" >
        specific_med_id = #{specificMedId,jdbcType=BIGINT},
      </if>
      <if test="jxId != null" >
        jx_id = #{jxId,jdbcType=BIGINT},
      </if>
      <if test="baseMedId != null" >
        base_med_id = #{baseMedId,jdbcType=BIGINT},
      </if>
      <if test="funcCatId != null" >
        func_cat_id = #{funcCatId,jdbcType=BIGINT},
      </if>
      <if test="medicationId != null" >
        medication_id = #{medicationId,jdbcType=BIGINT},
      </if>
      <if test="careTimeId != null" >
        care_time_id = #{careTimeId,jdbcType=BIGINT},
      </if>
      <if test="gmpTypeId != null" >
        gmp_type_id = #{gmpTypeId,jdbcType=BIGINT},
      </if>
      <if test="abcTypeId != null" >
        abc_type_id = #{abcTypeId,jdbcType=BIGINT},
      </if>
      <if test="scopeId != null" >
        scope_id = #{scopeId,jdbcType=BIGINT},
      </if>
      <if test="newTypeId != null" >
        new_type_id = #{newTypeId,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="useSpec != null" >
        use_spec = #{useSpec,jdbcType=BIT},
      </if>
      <if test="barCode != null" >
        bar_code = #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="retailPrice != null" >
        retail_price = #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="batchPrice != null" >
        batch_price = #{batchPrice,jdbcType=DECIMAL},
      </if>
      <if test="inPrice != null" >
        in_price = #{inPrice,jdbcType=DECIMAL},
      </if>
      <if test="normalLimit != null">
        normal_limit = #{normalLimit,jdbcType=DECIMAL},
      </if>
      <if test="lowLimit != null">
        low_limit = #{lowLimit,jdbcType=DECIMAL},
      </if>
      <if test="highLimit != null">
        high_limit = #{highLimit,jdbcType=DECIMAL},
      </if>
      <if test="specDesc != null">
        spec_desc = #{specDesc,jdbcType=VARCHAR},
      </if>
        <if test="minOrderLimit != null">
            min_order_limit = #{minOrderLimit,jdbcType=INTEGER},
        </if>

    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="searchListCount" parameterType="com.yiban.erp.dto.GoodsQuery" resultType="java.lang.Long">
      select count(1)
      from goods_info
      where company_id = #{companyId} and status != 'DELETE'
      <if test="categoryId != null" >
        and category_id = #{categoryId}
      </if>
      <if test="brandId != null" >
        and brand_id = #{brandId}
      </if>
      <if test="supplierId != null" >
        and supplier_id = #{supplierId}
      </if>
      <if test="factoryId != null" >
          and factory_id = #{factoryId}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="search != null">
        <bind name="patten" value="'%' + search + '%'"/>
        and (name LIKE #{patten} or pinyin LIKE #{patten} or goods_no LIKE #{patten})
      </if>
  </select>

  <select id="searchList" parameterType="com.yiban.erp.dto.GoodsQuery" resultMap="BaseResultMap">
    select g.*, f.name as factoryName, ca.name as categoryName, br.brand_name as brandName, su.name as supplierName,
      (select count(de.id)
        from goods_detail de
        where de.goods_info_id = g.id and de.status != 'DELETE'
      ) as detailsSize
    from goods_info g
      left join good_category ca on g.category_id = ca.id
      left join goods_brand br on g.brand_id = br.id
      left join supplier su on g.supplier_id = su.id
      left join factory f on f.id=g.factory_id
    where g.company_id = #{companyId} and g.status != 'DELETE'
    <if test="categoryId != null" >
      and g.category_id = #{categoryId}
    </if>
    <if test="brandId != null" >
      and g.brand_id = #{brandId}
    </if>
    <if test="supplierId != null" >
      and g.supplier_id = #{supplierId}
    </if>
    <if test="factoryId != null" >
      and g.factory_id = #{factoryId}
    </if>
    <if test="status != null">
      and g.status = #{status}
    </if>
    <if test="search != null">
      <bind name="patten" value="'%' + search + '%'"/>
      and (g.name LIKE #{patten} or g.pinyin LIKE #{patten} or g.goods_no LIKE #{patten})
    </if>
    order by g.id desc
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>

  <select id="isGoodsUsed" parameterType="java.lang.Long" resultType="java.lang.Boolean">
    select count(d.id) > 0 from goods_detail d, goods_info g
    where d.goods_info_id = g.id
    and g.id = #{id} and d.used_count > 0
  </select>

  <select id="getChooseListDetailCount" parameterType="com.yiban.erp.dto.GoodsQuery" resultType="java.lang.Long">
    select count(d.id)
    from goods_info i, goods_detail d
    where d.goods_info_id = i.id  and i.status != 'DELETE' and d.status != 'DELETE'
    and i.company_id = #{companyId}
    <if test="categoryId != null" >
      and i.category_id = #{categoryId}
    </if>
    <if test="search != null">
      <bind name="patten" value="'%' + search + '%'"/>
      and (i.name LIKE #{patten} or i.pinyin LIKE #{patten} or i.goods_no LIKE #{patten})
    </if>
  </select>

  <sql id="Goods_Column_List" >
    gd.id as id, gd.sku_key as skuKey, gd.spec_one_id as specOneId, gd.spec_two_id as specTwoId,
    gd.spec_three_id as specThreeId, gd.bar_code as barCode, gd.retail_price as retailPrice,
    gd.batch_price as batchPrice, gd.in_price as inPrice,
    gd.last_used_time as lastUsedTime, gd.used_count as usedCount,
    gs1.spec_name as specOneName, gs1.parent_name as specOneParentName,
    gs2.spec_name as specTwoName, gs2.parent_name as specTwoParentName,
    gs3.spec_name as specThreeName, gs3.parent_name as specThreeParentName,
    gi.id as goodsInfoId, gi.company_id as companyId, gi.category_id as categoryId,
    gi.goods_no as goodsNo, gi.brand_id as brandId, gi.supplier_id as supplierId,
    gi.status as status, gi.name as name, gi.full_name as fullName,
    gi.origin as origin, gi.enable as enable, gi.is_proxy as isProxy, gi.factory_id as factoryId,
    gi.unit as unit, gi.pack_unit as packUnit, gi.medium_unit as mediumUnit, gi.medium_pack as mediumPack,
    gi.big_pack as bigPack, gi.pinyin as pinyin, gi.storage_condition as storageCondition, gi.comment as comment,
    gi.cert1_name as cert1Name, gi.cert1_exp_date as cert1ExpDate, gi.cert1_no as cert1No,
    gi.cert2_name as cert2Name, gi.cert2_exp_date as cert2ExpDate, gi.cert2_no as cert2No,
    gi.cert3_name as cert3Name, gi.cert3_exp_date as cert3ExpDate, gi.cert3_no as cert3No,
    gi.file_no as fileNo, gi.in_check as inCheck, gi.first_check as firstCheck,
    gi.special_manage as specialManage, gi.cold_manage as coldManage, gi.need_care as needCare, gi.in_tax as inTax, gi.out_tax as outTax,
    gi.valid_months as validMonths, gi.warning_days as warningDays, gi.contact as contact, gi.cure_range as cureRange,
    gi.sale_policy as salePolicy, gi.is_foreign as isForeign, gi.prescription_id as prescriptionId, gi.med_type_id as medTypeId,
    gi.is_shebao as isSheBao, gi.specific_med_id as specificMedId, gi.jx_id as jxId, gi.base_med_id baseMedId, gi.func_cat_id as funcCatId,
    gi.medication_id as medicationId, gi.care_time_id as careTimeId,
    gi.gmp_type_id as gmpTypeId, gi.abc_type_id as abcTypeId, gi.scope_id as scopeId,
    gi.new_type_id as newTypeId, gi.created_by as createdBy, gi.updated_by as updatedBy, gi.created_time as createdTime,
    gi.updated_time as updatedTime, gi.tags as tags, gi.use_spec as useSpec,
    gi.normal_limit as normalLimit, gi.low_limit as lowLimit, gi.high_limit as highLimit, gi.spec_desc as specDesc, gi.min_order_limit as minOrderLimit,
    br.brand_name as brandName,
    gc.name as categoryName,
    f.name as factoryName,
    s.name as supplierName
  </sql>

  <select id="getChooseListDetail" parameterType="com.yiban.erp.dto.GoodsQuery" resultType="com.yiban.erp.entities.Goods">
    select
      <include refid="Goods_Column_List"/>
    from goods_info gi
      left join goods_brand br on gi.brand_id = br.id
      left join good_category gc on gc.id = gi.category_id
      left join factory f on f.id = gi.factory_id
      left join supplier s on s.id = gi.supplier_id
      , goods_detail gd
      left join goods_spec gs1 on gd.spec_one_id = gs1.id
      left join goods_spec gs2 on gd.spec_two_id = gs2.id
      left join goods_spec gs3 on gd.spec_three_id = gs3.id
    where gd.goods_info_id = gi.id and gi.status != 'DELETE' AND gd.status != 'DELETE'
    and gi.company_id = #{companyId}
    <if test="search != null">
      <bind name="patten" value="'%' + search + '%'"/>
      and (gi.name LIKE #{patten} or gi.pinyin LIKE #{patten} or gi.goods_no LIKE #{patten})
    </if>
    order by gi.id desc
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>

  <select id="getChooseListDetailById" parameterType="map" resultType="com.yiban.erp.entities.Goods">
    select
    <include refid="Goods_Column_List"/>
    from goods_info gi
    left join goods_brand br on gi.brand_id = br.id
    left join good_category gc on gc.id = gi.category_id
    left join factory f on f.id = gi.factory_id
    left join supplier s on s.id = gi.supplier_id
    , goods_detail gd
    left join goods_spec gs1 on gd.spec_one_id = gs1.id
    left join goods_spec gs2 on gd.spec_two_id = gs2.id
    left join goods_spec gs3 on gd.spec_three_id = gs3.id
    where gd.goods_info_id = gi.id and gi.status != 'DELETE' AND gd.status != 'DELETE'
    and gd.id in
    <foreach collection="ids" item="item" open="(" close=")" separator=", ">
      #{item}
    </foreach>
  </select>

  <update id="updatePrice" parameterType="com.yiban.erp.entities.GoodsInfo">
    update goods_info
      set batch_price = #{batchPrice,jdbcType=DECIMAL},
          retail_price = #{retailPrice,jdbcType=DECIMAL},
          in_price = #{inPrice,jdbcType=DECIMAL},
          updated_by = #{updatedBy},
          updated_time = #{updatedTime}
    where id = #{id}
  </update>

  <select id="getColdManageByDetailIds" parameterType="map" resultMap="BaseResultMap">
    select g.*
    from goods_info g, goods_detail d
    where g.id = d.goods_info_id and g.cold_manage = 1
    and d.id in
    <foreach collection="detailIds" item="item" open="(" close=")" separator=", ">
      #{item}
    </foreach>
  </select>

  <select id="getSpecialManageByDetailIds" parameterType="map" resultMap="BaseResultMap">
    select g.*
    from goods_info g, goods_detail d
    where g.id = d.goods_info_id and g.special_manage = 1
    and d.id in
    <foreach collection="detailIds" item="item" open="(" close=")" separator=", ">
      #{item}
    </foreach>
  </select>


    <select id="getGoodsInfoListByIds" parameterType="map" resultMap="BaseResultMap">
        select
        g.*
        from goods_info g, goods_detail d
        where d.goods_info_id = g.id
        and d.id in
        <foreach collection="ids" item="item" open="(" close=")" separator=", ">
            #{item}
        </foreach>
    </select>

</mapper>