<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.RepertoryLimitMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.RepertoryLimit" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="normal_limit" property="normalLimit" jdbcType="DECIMAL" />
    <result column="low_limit" property="lowLimit" jdbcType="DECIMAL" />
    <result column="high_limit" property="highLimit" jdbcType="DECIMAL" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, warehouse_id, goods_id, normal_limit, low_limit, high_limit, create_by, create_time, 
    update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from repertory_limit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from repertory_limit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.RepertoryLimit" keyProperty="id" useGeneratedKeys="true">
    insert into repertory_limit (id, warehouse_id, goods_id, 
      normal_limit, low_limit, high_limit, 
      create_by, create_time, update_by, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{warehouseId,jdbcType=INTEGER}, #{goodsId,jdbcType=BIGINT}, 
      #{normalLimit,jdbcType=DECIMAL}, #{lowLimit,jdbcType=DECIMAL}, #{highLimit,jdbcType=DECIMAL}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yiban.erp.entities.RepertoryLimit" keyProperty="id" useGeneratedKeys="true">
    insert into repertory_limit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="warehouseId != null" >
        warehouse_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="normalLimit != null" >
        normal_limit,
      </if>
      <if test="lowLimit != null" >
        low_limit,
      </if>
      <if test="highLimit != null" >
        high_limit,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null" >
        #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="normalLimit != null" >
        #{normalLimit,jdbcType=DECIMAL},
      </if>
      <if test="lowLimit != null" >
        #{lowLimit,jdbcType=DECIMAL},
      </if>
      <if test="highLimit != null" >
        #{highLimit,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.RepertoryLimit" >
    update repertory_limit
    <set >
      <if test="warehouseId != null" >
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="normalLimit != null" >
        normal_limit = #{normalLimit,jdbcType=DECIMAL},
      </if>
      <if test="lowLimit != null" >
        low_limit = #{lowLimit,jdbcType=DECIMAL},
      </if>
      <if test="highLimit != null" >
        high_limit = #{highLimit,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.erp.entities.RepertoryLimit" >
    update repertory_limit
    set warehouse_id = #{warehouseId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=BIGINT},
      normal_limit = #{normalLimit,jdbcType=DECIMAL},
      low_limit = #{lowLimit,jdbcType=DECIMAL},
      high_limit = #{highLimit,jdbcType=DECIMAL},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>