<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.RepertoryInDetailMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.RepertoryInDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="in_order_id" property="inOrderId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="receive_quality" property="receiveQuality" jdbcType="DECIMAL" />
    <result column="big_quality" property="bigQuality" jdbcType="DECIMAL" />
    <result column="free" property="free" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="exp_date" property="expDate" jdbcType="DATE" />
    <result column="product_date" property="productDate" jdbcType="DATE" />
    <result column="batch_code" property="batchCode" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="warehouse_location" property="warehouseLocation" jdbcType="VARCHAR" />
    <result column="reject_quality" property="rejectQuality" jdbcType="DECIMAL" />
    <result column="reject_comment" property="rejectComment" jdbcType="VARCHAR" />
    <result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />
    <result column="in_count" property="inCount" jdbcType="DECIMAL" />
    <result column="right_count" property="rightCount" jdbcType="DECIMAL" />
    <result column="error_count" property="errorCount" jdbcType="DECIMAL" />
    <result column="sale_state" property="saleState" jdbcType="BIT" />
    <result column="survey_quality" property="surveyQuality" jdbcType="DECIMAL" />
    <result column="survey_date" property="surveyDate" jdbcType="TIMESTAMP" />
    <result column="survey_user" property="surveyUser" jdbcType="VARCHAR" />
    <result column="survey_address" property="surveyAddress" jdbcType="VARCHAR" />
    <result column="survey_result" property="surveyResult" jdbcType="VARCHAR" />
    <result column="survey_target" property="surveyTarget" jdbcType="VARCHAR" />
    <result column="check_status" property="checkStatus" jdbcType="BIT" />
    <result column="error_plan" property="errorPlan" jdbcType="VARCHAR" />
    <result column="sale_cert" property="saleCert" jdbcType="VARCHAR" />
    <result column="error_reason" property="errorReason" jdbcType="VARCHAR" />
    <result column="check_temp_method" property="checkTempMethod" jdbcType="BIGINT" />
    <result column="check_user" property="checkUser" jdbcType="VARCHAR" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="check_result" property="checkResult" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="buy_order_quality" property="buyOrderQuality" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, in_order_id, goods_id, receive_quality, big_quality, free, price, exp_date,
    product_date, batch_code, amount, warehouse_location, reject_quality, reject_comment, 
    tax_rate, in_count, right_count, error_count, sale_state, survey_quality, survey_date, 
    survey_user, survey_address, survey_result, survey_target, check_status, error_plan, 
    sale_cert, error_reason, check_temp_method, check_user, check_time, check_result, 
    create_by, create_time, update_by, update_time, buy_order_quality
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from repertory_in_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from repertory_in_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByOrderId" parameterType="java.lang.Long">
    delete from repertory_in_detail where in_order_id = #{inOrderId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.yiban.erp.entities.RepertoryInDetail" keyProperty="id" useGeneratedKeys="true" >
    insert into repertory_in_detail (in_order_id, goods_id,
      receive_quality, big_quality, free, 
      price, exp_date, product_date, 
      batch_code, amount, warehouse_location, 
      reject_quality, reject_comment, tax_rate, 
      in_count, right_count, error_count, 
      sale_state, survey_quality, survey_date, 
      survey_user, survey_address, survey_result, 
      survey_target, check_status, error_plan, 
      sale_cert, error_reason, check_temp_method, 
      check_user, check_time, check_result, 
      create_by, create_time, update_by, 
      update_time, buy_order_quality)
    values (#{inOrderId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT},
      #{receiveQuality,jdbcType=DECIMAL}, #{bigQuality,jdbcType=DECIMAL}, #{free,jdbcType=DECIMAL}, 
      #{price,jdbcType=DECIMAL}, #{expDate,jdbcType=DATE}, #{productDate,jdbcType=DATE}, 
      #{batchCode,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{warehouseLocation,jdbcType=VARCHAR}, 
      #{rejectQuality,jdbcType=DECIMAL}, #{rejectComment,jdbcType=VARCHAR}, #{taxRate,jdbcType=DECIMAL}, 
      #{inCount,jdbcType=DECIMAL}, #{rightCount,jdbcType=DECIMAL}, #{errorCount,jdbcType=DECIMAL}, 
      #{saleState,jdbcType=BIT}, #{surveyQuality,jdbcType=DECIMAL}, #{surveyDate,jdbcType=TIMESTAMP}, 
      #{surveyUser,jdbcType=VARCHAR}, #{surveyAddress,jdbcType=VARCHAR}, #{surveyResult,jdbcType=VARCHAR}, 
      #{surveyTarget,jdbcType=VARCHAR}, #{checkStatus,jdbcType=BIT}, #{errorPlan,jdbcType=VARCHAR},
      #{saleCert,jdbcType=VARCHAR}, #{errorReason,jdbcType=VARCHAR}, #{checkTempMethod,jdbcType=BIGINT}, 
      #{checkUser,jdbcType=VARCHAR}, #{checkTime,jdbcType=TIMESTAMP}, #{checkResult,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{buyOrderQuality,jdbcType=DECIMAL})
  </insert>

  <insert id="insertBatch" parameterType="map" keyProperty="id" useGeneratedKeys="true" >
    insert into repertory_in_detail (in_order_id, goods_id,
      receive_quality, big_quality, free,
      price, exp_date, product_date,
      batch_code, amount, warehouse_location,
      reject_quality, reject_comment, tax_rate,
      in_count, right_count, error_count,
      sale_state, survey_quality, survey_date,
      survey_user, survey_address, survey_result,
      survey_target, check_status, error_plan,
      sale_cert, error_reason, check_temp_method,
      check_user, check_time, check_result,
      create_by, create_time, update_by,
      update_time, buy_order_quality)
    values
    <foreach collection="details" item="item" open="(" close=")" separator="), (">
      #{item.inOrderId,jdbcType=BIGINT}, #{item.goodsId,jdbcType=BIGINT},
      #{item.receiveQuality,jdbcType=DECIMAL}, #{item.bigQuality,jdbcType=DECIMAL}, #{item.free,jdbcType=DECIMAL},
      #{item.price,jdbcType=DECIMAL}, #{item.expDate,jdbcType=DATE}, #{item.productDate,jdbcType=DATE},
      #{item.batchCode,jdbcType=VARCHAR}, #{item.amount,jdbcType=DECIMAL}, #{item.warehouseLocation,jdbcType=VARCHAR},
      #{item.rejectQuality,jdbcType=DECIMAL}, #{item.rejectComment,jdbcType=VARCHAR}, #{item.taxRate,jdbcType=DECIMAL},
      #{item.inCount,jdbcType=DECIMAL}, #{item.rightCount,jdbcType=DECIMAL}, #{item.errorCount,jdbcType=DECIMAL},
      #{item.saleState,jdbcType=BIT}, #{item.surveyQuality,jdbcType=DECIMAL}, #{item.surveyDate,jdbcType=TIMESTAMP},
      #{item.surveyUser,jdbcType=VARCHAR}, #{item.surveyAddress,jdbcType=VARCHAR}, #{item.surveyResult,jdbcType=VARCHAR},
      #{item.surveyTarget,jdbcType=VARCHAR}, #{item.checkStatus,jdbcType=BIT}, #{item.errorPlan,jdbcType=VARCHAR},
      #{item.saleCert,jdbcType=VARCHAR}, #{item.errorReason,jdbcType=VARCHAR}, #{item.checkTempMethod,jdbcType=BIGINT},
      #{item.checkUser,jdbcType=VARCHAR}, #{item.checkTime,jdbcType=TIMESTAMP}, #{item.checkResult,jdbcType=VARCHAR},
      #{item.createBy,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=VARCHAR},
      #{item.updateTime,jdbcType=TIMESTAMP}, #{item.buyOrderQuality,jdbcType=DECIMAL}
    </foreach>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.RepertoryInDetail" >
    update repertory_in_detail
    <set >
      <if test="inOrderId != null" >
        in_order_id = #{inOrderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="receiveQuality != null" >
        receive_quality = #{receiveQuality,jdbcType=DECIMAL},
      </if>
      <if test="bigQuality != null" >
        big_quality = #{bigQuality,jdbcType=DECIMAL},
      </if>
      <if test="free != null" >
        free = #{free,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="expDate != null" >
        exp_date = #{expDate,jdbcType=DATE},
      </if>
      <if test="productDate != null" >
        product_date = #{productDate,jdbcType=DATE},
      </if>
      <if test="batchCode != null" >
        batch_code = #{batchCode,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="warehouseLocation != null" >
        warehouse_location = #{warehouseLocation,jdbcType=VARCHAR},
      </if>
      <if test="rejectQuality != null" >
        reject_quality = #{rejectQuality,jdbcType=DECIMAL},
      </if>
      <if test="rejectComment != null" >
        reject_comment = #{rejectComment,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        tax_rate = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="inCount != null" >
        in_count = #{inCount,jdbcType=DECIMAL},
      </if>
      <if test="rightCount != null" >
        right_count = #{rightCount,jdbcType=DECIMAL},
      </if>
      <if test="errorCount != null" >
        error_count = #{errorCount,jdbcType=DECIMAL},
      </if>
      <if test="saleState != null" >
        sale_state = #{saleState,jdbcType=BIT},
      </if>
      <if test="surveyQuality != null" >
        survey_quality = #{surveyQuality,jdbcType=DECIMAL},
      </if>
      <if test="surveyDate != null" >
        survey_date = #{surveyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="surveyUser != null" >
        survey_user = #{surveyUser,jdbcType=VARCHAR},
      </if>
      <if test="surveyAddress != null" >
        survey_address = #{surveyAddress,jdbcType=VARCHAR},
      </if>
      <if test="surveyResult != null" >
        survey_result = #{surveyResult,jdbcType=VARCHAR},
      </if>
      <if test="surveyTarget != null" >
        survey_target = #{surveyTarget,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=BIT},
      </if>
      <if test="errorPlan != null" >
        error_plan = #{errorPlan,jdbcType=VARCHAR},
      </if>
      <if test="saleCert != null" >
        sale_cert = #{saleCert,jdbcType=VARCHAR},
      </if>
      <if test="errorReason != null" >
        error_reason = #{errorReason,jdbcType=VARCHAR},
      </if>
      <if test="checkTempMethod != null" >
        check_temp_method = #{checkTempMethod,jdbcType=BIGINT},
      </if>
      <if test="checkUser != null" >
        check_user = #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkResult != null" >
        check_result = #{checkResult,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyOrderQuality != null">
        buy_order_quality = #{buyOrderQuality,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getByOrderId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
      r.*, o.value as checkTempMethodName
    from repertory_in_detail r
    left join options o on r.check_temp_method = o.id
    where in_order_id = #{inOrderId}
  </select>

  <update id="setCheckByOrder" parameterType="com.yiban.erp.dto.ReceiveSetReq">
    update repertory_in_detail
      set
        check_status = 1,
        in_count = IFNULL(right_count, (ifnull(receive_quality,0) - ifnull(reject_quality, 0))),
        check_temp_method = #{checkTempMethod},
        check_user = #{checkUser},
        check_time = #{checkTime},
        check_result = #{checkResult},
        update_by = #{updateBy},
        update_time = #{updateTime}
    where in_order_id = #{orderId}
  </update>

  <update id="setCheckByDetail" parameterType="com.yiban.erp.dto.ReceiveSetReq">
    update repertory_in_detail
      set
        check_status = 1,
        in_count = #{inCount},
        right_count = #{rightCount},
        error_count = #{errorCount},
        error_plan = #{errorPlan},
        sale_cert = #{saleCert},
        error_reason = #{errorReason},
        check_temp_method = #{checkTempMethod},
        check_user = #{checkUser},
        check_time = #{checkTime},
        check_result = #{checkResult},
        update_by = #{updateBy},
        update_time = #{updateTime}
    where id = #{detailId}
  </update>

  <update id="setUnCheckByOrder" parameterType="com.yiban.erp.dto.ReceiveSetReq">
    update repertory_in_detail
      set check_status = 0,
          update_by = #{updateBy},
          update_time = #{updateTime}
    where in_order_id = #{orderId}
  </update>

  <update id="setUnCheckByDetail" parameterType="com.yiban.erp.dto.ReceiveSetReq">
    update repertory_in_detail
      set check_status = 0,
          update_by = #{updateBy},
          update_time = #{updateTime}
    where id = #{detailId}
  </update>


  <select id="getInDetailList"  parameterType="com.yiban.erp.dto.RepertoryInListReq"  resultMap="BaseResultMap">
    select
    rinDetail.*
    from repertory_in_detail as rinDetail
    left join repertory_in as rin on ( rinDetail.in_order_id=rin.id)
    where 1=1
    <if test="companyId != null">
      and  rin.company_id = #{companyId}
    </if>

    <if test="inStatus != null">
      and rin.status = #{inStatus}
    </if>
    <if test="warehouseId != null">
      and rin.warehouse_id = #{warehouseId}
    </if>
    <if test="startInDate != null">
      and rin.receive_date >= #{startInDate}
    </if>
    <if test="endInDate != null">
      and rin.receive_date &lt;= #{endInDate}
    </if>
    <if test="inTypeList != null" >
      and rin.ref_type in
      <foreach collection="inTypeList" item="item" open="(" close=")" separator=", ">
        #{item}
      </foreach>
    </if>
  </select>


</mapper>