<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.RepertoryInBackDetailMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.RepertoryInBackDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="in_back_id" property="inBackId" jdbcType="BIGINT" />
    <result column="repertory_info_id" property="repertoryInfoId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="back_quantity" property="backQuantity" jdbcType="DECIMAL" />
    <result column="buy_price" property="buyPrice" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="batch_code" property="batchCode" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="exp_date" property="expDate" jdbcType="DATE" />
    <result column="product_date" property="productDate" jdbcType="DATE" />
    <result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />
    <result column="sale_state" property="saleState" jdbcType="BIT" />
    <result column="check_status" property="checkStatus" jdbcType="BIT" />
    <result column="check_user" property="checkUser" jdbcType="VARCHAR" />
    <result column="check_result" property="checkResult" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, in_back_id, repertory_info_id, goods_id, back_quantity, buy_price, amount, batch_code, location,
    exp_date, product_date, tax_rate, sale_state, check_status, check_user, check_result, 
    created_by, updated_by, created_time, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from repertory_in_back_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from repertory_in_back_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByInBackId" parameterType="java.lang.Long">
    delete from repertory_in_back_detail where in_back_id = #{inBackId}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.RepertoryInBackDetail" keyProperty="id" useGeneratedKeys="true" >
    insert into repertory_in_back_detail (in_back_id, repertory_info_id,
      goods_id, back_quantity, buy_price, 
      amount, batch_code, location, exp_date,
      product_date, tax_rate, sale_state, 
      check_status, check_user, check_result, 
      created_by, updated_by, created_time, 
      updated_time)
    values (#{inBackId,jdbcType=BIGINT}, #{repertoryInfoId,jdbcType=BIGINT},
      #{goodsId,jdbcType=BIGINT}, #{backQuantity,jdbcType=DECIMAL}, #{buyPrice,jdbcType=DECIMAL}, 
      #{amount,jdbcType=DECIMAL}, #{batchCode,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{expDate,jdbcType=DATE},
      #{productDate,jdbcType=DATE}, #{taxRate,jdbcType=DECIMAL}, #{saleState,jdbcType=BIT}, 
      #{checkStatus,jdbcType=BIT}, #{checkUser,jdbcType=VARCHAR}, #{checkResult,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertBatch" parameterType="com.yiban.erp.entities.RepertoryInBackDetail" keyProperty="id" useGeneratedKeys="true" >
    insert into repertory_in_back_detail (in_back_id, repertory_info_id,
      goods_id, back_quantity, buy_price,
      amount, batch_code, location, exp_date,
      product_date, tax_rate, sale_state,
      check_status, check_user, check_result,
      created_by, updated_by, created_time,
      updated_time)
    values
    <foreach collection="details" item="item" open="(" close=")" separator="), (">
      #{item.inBackId,jdbcType=BIGINT}, #{item.repertoryInfoId,jdbcType=BIGINT},
      #{item.goodsId,jdbcType=BIGINT}, #{item.backQuantity,jdbcType=DECIMAL}, #{item.buyPrice,jdbcType=DECIMAL},
      #{item.amount,jdbcType=DECIMAL}, #{item.batchCode,jdbcType=VARCHAR},
      #{item.location,jdbcType=VARCHAR}, #{item.expDate,jdbcType=DATE},
      #{item.productDate,jdbcType=DATE}, #{item.taxRate,jdbcType=DECIMAL}, #{item.saleState,jdbcType=BIT},
      #{item.checkStatus,jdbcType=BIT}, #{item.checkUser,jdbcType=VARCHAR}, #{item.checkResult,jdbcType=VARCHAR},
      #{item.createdBy,jdbcType=VARCHAR}, #{item.updatedBy,jdbcType=VARCHAR}, #{item.createdTime,jdbcType=TIMESTAMP},
      #{item.updatedTime,jdbcType=TIMESTAMP}
    </foreach>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.RepertoryInBackDetail" >
    update repertory_in_back_detail
    <set >
      <if test="inBackId != null" >
        in_back_id = #{inBackId,jdbcType=BIGINT},
      </if>
      <if test="repertoryInfoId != null" >
        repertory_info_id = #{repertoryInfoId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="backQuantity != null" >
        back_quantity = #{backQuantity,jdbcType=DECIMAL},
      </if>
      <if test="buyPrice != null" >
        buy_price = #{buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="batchCode != null" >
        batch_code = #{batchCode,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="expDate != null" >
        exp_date = #{expDate,jdbcType=DATE},
      </if>
      <if test="productDate != null" >
        product_date = #{productDate,jdbcType=DATE},
      </if>
      <if test="taxRate != null" >
        tax_rate = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="saleState != null" >
        sale_state = #{saleState,jdbcType=BIT},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=BIT},
      </if>
      <if test="checkUser != null" >
        check_user = #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="checkResult != null" >
        check_result = #{checkResult,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getDetailByBackId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
      b.*,
      r.in_quantity as inQuantity,
      r.quantity as quantity,
      r.on_way_quantity as onWayQuantity
    from repertory_in_back_detail b, repertory_info r
    where b.repertory_info_id = r.id and in_back_id = #{inBackId,jdbcType=BIGINT}
  </select>

  <update id="updateCheckStatus" parameterType="com.yiban.erp.dto.BuyBackReq" >
    update repertory_in_back_detail
      set check_status = #{detailCheckStatus,jdbcType=BIT},
          check_user = #{updatedBy,jdbcType=VARCHAR},
          check_result = #{checkResult,jdbcType=VARCHAR},
          updated_by = #{updatedBy,jdbcType=VARCHAR},
          updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where in_back_id = #{backId,jdbcType=BIGINT}
  </update>

  <update id="cancelCheckStatus" parameterType="map" >
    update repertory_in_back_detail
      set check_status = 0,
          check_user = null,
          check_result = null,
          updated_by = #{updatedBy,jdbcType=VARCHAR},
          updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where in_back_id = #{backId,jdbcType=BIGINT}
  </update>

</mapper>