<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiban.erp.dao.RepertoryCheckPlanMapper">
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.RepertoryCheckPlan">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="check_type" jdbcType="INTEGER" property="checkType" />
    <result column="check_code" jdbcType="VARCHAR" property="checkCode" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="warehouse_id" jdbcType="INTEGER" property="warehouseId" />
    <result column="warehouse_location" jdbcType="VARCHAR" property="warehouseLocation" />
    <result column="check_date" jdbcType="TIMESTAMP" property="checkDate" />
    <result column="make_user_id" jdbcType="BIGINT" property="makeUserId" />
    <result column="check_user_id" jdbcType="BIGINT" property="checkUserId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="check_response_user" jdbcType="VARCHAR" property="checkResponseUser" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
    <result column="manager_note" jdbcType="VARCHAR" property="managerNote" />
    <result column="finance" jdbcType="VARCHAR" property="finance" />
    <result column="finance_note" jdbcType="VARCHAR" property="financeNote" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, check_type, check_code, company_id, warehouse_id, warehouse_location, check_date, 
    make_user_id, check_user_id, state, comment, check_response_user, manager, manager_note, 
    finance, finance_note, create_by, create_time, update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repertory_check_plan
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from repertory_check_plan
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.RepertoryCheckPlan" useGeneratedKeys="true" keyProperty="id" >
    insert into repertory_check_plan (id, check_type, check_code, 
      company_id, warehouse_id, warehouse_location, 
      check_date, make_user_id, check_user_id, 
      state, comment, check_response_user, 
      manager, manager_note, finance, 
      finance_note, create_by, create_time, 
      update_by, update_time)
    values (#{id,jdbcType=BIGINT}, #{checkType,jdbcType=INTEGER}, #{checkCode,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=INTEGER}, #{warehouseId,jdbcType=INTEGER}, #{warehouseLocation,jdbcType=VARCHAR}, 
      #{checkDate,jdbcType=TIMESTAMP}, #{makeUserId,jdbcType=BIGINT}, #{checkUserId,jdbcType=BIGINT}, 
      #{state,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{checkResponseUser,jdbcType=VARCHAR}, 
      #{manager,jdbcType=VARCHAR}, #{managerNote,jdbcType=VARCHAR}, #{finance,jdbcType=VARCHAR}, 
      #{financeNote,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yiban.erp.entities.RepertoryCheckPlan" useGeneratedKeys="true" keyProperty="id" >
    insert into repertory_check_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="checkType != null">
        check_type,
      </if>
      <if test="checkCode != null">
        check_code,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="warehouseLocation != null">
        warehouse_location,
      </if>
      <if test="checkDate != null">
        check_date,
      </if>
      <if test="makeUserId != null">
        make_user_id,
      </if>
      <if test="checkUserId != null">
        check_user_id,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="checkResponseUser != null">
        check_response_user,
      </if>
      <if test="manager != null">
        manager,
      </if>
      <if test="managerNote != null">
        manager_note,
      </if>
      <if test="finance != null">
        finance,
      </if>
      <if test="financeNote != null">
        finance_note,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="checkType != null">
        #{checkType,jdbcType=INTEGER},
      </if>
      <if test="checkCode != null">
        #{checkCode,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="warehouseLocation != null">
        #{warehouseLocation,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null">
        #{checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="makeUserId != null">
        #{makeUserId,jdbcType=BIGINT},
      </if>
      <if test="checkUserId != null">
        #{checkUserId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="checkResponseUser != null">
        #{checkResponseUser,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="managerNote != null">
        #{managerNote,jdbcType=VARCHAR},
      </if>
      <if test="finance != null">
        #{finance,jdbcType=VARCHAR},
      </if>
      <if test="financeNote != null">
        #{financeNote,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.RepertoryCheckPlan">
    update repertory_check_plan
    <set>
      <if test="checkType != null">
        check_type = #{checkType,jdbcType=INTEGER},
      </if>
      <if test="checkCode != null">
        check_code = #{checkCode,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="warehouseLocation != null">
        warehouse_location = #{warehouseLocation,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null">
        check_date = #{checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="makeUserId != null">
        make_user_id = #{makeUserId,jdbcType=BIGINT},
      </if>
      <if test="checkUserId != null">
        check_user_id = #{checkUserId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="checkResponseUser != null">
        check_response_user = #{checkResponseUser,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        manager = #{manager,jdbcType=VARCHAR},
      </if>
      <if test="managerNote != null">
        manager_note = #{managerNote,jdbcType=VARCHAR},
      </if>
      <if test="finance != null">
        finance = #{finance,jdbcType=VARCHAR},
      </if>
      <if test="financeNote != null">
        finance_note = #{financeNote,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.erp.entities.RepertoryCheckPlan">
    update repertory_check_plan
    set check_type = #{checkType,jdbcType=INTEGER},
      check_code = #{checkCode,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      warehouse_id = #{warehouseId,jdbcType=INTEGER},
      warehouse_location = #{warehouseLocation,jdbcType=VARCHAR},
      check_date = #{checkDate,jdbcType=TIMESTAMP},
      make_user_id = #{makeUserId,jdbcType=BIGINT},
      check_user_id = #{checkUserId,jdbcType=BIGINT},
      state = #{state,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      check_response_user = #{checkResponseUser,jdbcType=VARCHAR},
      manager = #{manager,jdbcType=VARCHAR},
      manager_note = #{managerNote,jdbcType=VARCHAR},
      finance = #{finance,jdbcType=VARCHAR},
      finance_note = #{financeNote,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getCheckPlanList" parameterType="map" resultMap="BaseResultMap">
    SELECT  a.*,w.`name` AS warehouseName
    FROM `repertory_check_plan`  a
    LEFT JOIN `warehouse`  w
    ON w.`id`=a.`warehouse_id`
    WHERE  1=1
    <if test="warehouseId != null" >
      and a.warehouseId = #{warehouseId}
    </if>
    <if test="checkType != null" >
      and a.checkType = #{checkType}
    </if>
    <if test="startDate != null">
      and a.checkDate >= #{startDate}
    </if>
    <if test="endDate != null">
      and  #{endDate} >= a.checkDate
    </if>
    order by a.id desc
  </select>
</mapper>