<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiban.erp.dao.RepertoryCheckFormMapper">
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.RepertoryCheckForm">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="check_plan_id" jdbcType="BIGINT" property="checkPlanId" />
    <result column="make_user_id" jdbcType="BIGINT" property="makeUserId" />
    <result column="form_no" jdbcType="VARCHAR" property="formNo" />
    <result column="form_state" jdbcType="INTEGER" property="formState" />
    <result column="check_note" jdbcType="VARCHAR" property="checkNote" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, check_plan_id, make_user_id, form_no, form_state, check_note, create_by, create_time, 
    update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repertory_check_form
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from repertory_check_form
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.RepertoryCheckForm"  useGeneratedKeys="true" keyProperty="id">
    insert into repertory_check_form (id, check_plan_id, make_user_id, 
      form_no, form_state, check_note, 
      create_by, create_time, update_by, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{checkPlanId,jdbcType=BIGINT}, #{makeUserId,jdbcType=BIGINT}, 
      #{formNo,jdbcType=VARCHAR}, #{formState,jdbcType=INTEGER}, #{checkNote,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yiban.erp.entities.RepertoryCheckForm"  useGeneratedKeys="true" keyProperty="id">
    insert into repertory_check_form
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="checkPlanId != null">
        check_plan_id,
      </if>
      <if test="makeUserId != null">
        make_user_id,
      </if>
      <if test="formNo != null">
        form_no,
      </if>
      <if test="formState != null">
        form_state,
      </if>
      <if test="checkNote != null">
        check_note,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="checkPlanId != null">
        #{checkPlanId,jdbcType=BIGINT},
      </if>
      <if test="makeUserId != null">
        #{makeUserId,jdbcType=BIGINT},
      </if>
      <if test="formNo != null">
        #{formNo,jdbcType=VARCHAR},
      </if>
      <if test="formState != null">
        #{formState,jdbcType=INTEGER},
      </if>
      <if test="checkNote != null">
        #{checkNote,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.RepertoryCheckForm">
    update repertory_check_form
    <set>
      <if test="checkPlanId != null">
        check_plan_id = #{checkPlanId,jdbcType=BIGINT},
      </if>
      <if test="makeUserId != null">
        make_user_id = #{makeUserId,jdbcType=BIGINT},
      </if>
      <if test="formNo != null">
        form_no = #{formNo,jdbcType=VARCHAR},
      </if>
      <if test="formState != null">
        form_state = #{formState,jdbcType=INTEGER},
      </if>
      <if test="checkNote != null">
        check_note = #{checkNote,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.erp.entities.RepertoryCheckForm">
    update repertory_check_form
    set check_plan_id = #{checkPlanId,jdbcType=BIGINT},
      make_user_id = #{makeUserId,jdbcType=BIGINT},
      form_no = #{formNo,jdbcType=VARCHAR},
      form_state = #{formState,jdbcType=INTEGER},
      check_note = #{checkNote,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getCheckPlanFormList"  parameterType="map" resultMap="BaseResultMap" >
    SELECT  a.*
    FROM `repertory_check_form`  a
    WHERE 1=1
    <if test="checkPlanId  != null" >
      and a.check_plan_id = #{checkPlanId ,jdbcType=BIGINT}
    </if>
    <if test="makeUserId  != null" >
      and a.make_user_id = #{makeUserId ,jdbcType=BIGINT}
    </if>
    <if test="formNo != null">
        and a.form_no = #{formNo ,jdbcType=VARCHAR}
    </if>
    order by a.id desc
  </select>

</mapper>