<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.RepertoryCheckPartDetailMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.RepertoryCheckPartDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="check_id" property="checkId" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
    <result column="good_id" property="goodId" jdbcType="BIGINT" />
    <result column="repertory_info_id" property="repertoryInfoId" jdbcType="BIGINT" />
    <result column="batch_code" property="batchCode" jdbcType="VARCHAR" />
    <result column="acc_amount" property="accAmount" jdbcType="DECIMAL" />
    <result column="check_amount" property="checkAmount" jdbcType="DECIMAL" />
    <result column="check_note" property="checkNote" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, check_id, company_id, warehouse_id, good_id, repertory_info_id, batch_code, acc_amount, 
    check_amount, check_note, price, created_by, created_time, updated_by, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from repertory_check_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from repertory_check_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.RepertoryCheckPartDetail" >
    insert into repertory_check_detail (id, check_id, company_id, 
      warehouse_id, good_id, repertory_info_id, 
      batch_code, acc_amount, check_amount, 
      check_note, price, created_by, 
      created_time, updated_by, updated_time
      )
    values (#{id,jdbcType=BIGINT}, #{checkId,jdbcType=BIGINT}, #{companyId,jdbcType=INTEGER}, 
      #{warehouseId,jdbcType=INTEGER}, #{goodId,jdbcType=BIGINT}, #{repertoryInfoId,jdbcType=BIGINT}, 
      #{batchCode,jdbcType=VARCHAR}, #{accAmount,jdbcType=DECIMAL}, #{checkAmount,jdbcType=DECIMAL}, 
      #{checkNote,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yiban.erp.entities.RepertoryCheckPartDetail"  keyProperty="id" useGeneratedKeys="true">
    insert into repertory_check_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="checkId != null" >
        check_id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="warehouseId != null" >
        warehouse_id,
      </if>
      <if test="goodId != null" >
        good_id,
      </if>
      <if test="repertoryInfoId != null" >
        repertory_info_id,
      </if>
      <if test="batchCode != null" >
        batch_code,
      </if>
      <if test="accAmount != null" >
        acc_amount,
      </if>
      <if test="checkAmount != null" >
        check_amount,
      </if>
      <if test="checkNote != null" >
        check_note,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="checkId != null" >
        #{checkId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null" >
        #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="goodId != null" >
        #{goodId,jdbcType=BIGINT},
      </if>
      <if test="repertoryInfoId != null" >
        #{repertoryInfoId,jdbcType=BIGINT},
      </if>
      <if test="batchCode != null" >
        #{batchCode,jdbcType=VARCHAR},
      </if>
      <if test="accAmount != null" >
        #{accAmount,jdbcType=DECIMAL},
      </if>
      <if test="checkAmount != null" >
        #{checkAmount,jdbcType=DECIMAL},
      </if>
      <if test="checkNote != null" >
        #{checkNote,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.RepertoryCheckPartDetail" >
    update repertory_check_detail
    <set >
      <if test="checkId != null" >
        check_id = #{checkId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null" >
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="goodId != null" >
        good_id = #{goodId,jdbcType=BIGINT},
      </if>
      <if test="repertoryInfoId != null" >
        repertory_info_id = #{repertoryInfoId,jdbcType=BIGINT},
      </if>
      <if test="batchCode != null" >
        batch_code = #{batchCode,jdbcType=VARCHAR},
      </if>
      <if test="accAmount != null" >
        acc_amount = #{accAmount,jdbcType=DECIMAL},
      </if>
      <if test="checkAmount != null" >
        check_amount = #{checkAmount,jdbcType=DECIMAL},
      </if>
      <if test="checkNote != null" >
        check_note = #{checkNote,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.erp.entities.RepertoryCheckPartDetail" >
    update repertory_check_detail
    set check_id = #{checkId,jdbcType=BIGINT},
      company_id = #{companyId,jdbcType=INTEGER},
      warehouse_id = #{warehouseId,jdbcType=INTEGER},
      good_id = #{goodId,jdbcType=BIGINT},
      repertory_info_id = #{repertoryInfoId,jdbcType=BIGINT},
      batch_code = #{batchCode,jdbcType=VARCHAR},
      acc_amount = #{accAmount,jdbcType=DECIMAL},
      check_amount = #{checkAmount,jdbcType=DECIMAL},
      check_note = #{checkNote,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>