<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.RepertoryCheckPlanDetailMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.RepertoryCheckPlanDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="check_plan_id" property="checkPlanId" jdbcType="BIGINT" />
    <result column="make_user_id" property="makeUserId" jdbcType="BIGINT" />
    <result column="form_id" property="formId" jdbcType="BIGINT" />
    <result column="form_no" property="formNo" jdbcType="VARCHAR" />
    <result column="form_status" property="formStatus" jdbcType="VARCHAR" />
    <result column="repertory_info_id" property="repertoryInfoId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="batch_code" property="batchCode" jdbcType="VARCHAR" />
    <result column="acc_limit" property="accLimit" jdbcType="DECIMAL" />
    <result column="check_limit" property="checkLimit" jdbcType="DECIMAL" />
    <result column="check_note" property="checkNote" jdbcType="VARCHAR" />
    <result column="check_status" property="checkStatus" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="product_date" property="productDate" jdbcType="DATE" />
    <result column="exp_date" property="expDate" jdbcType="DATE" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, check_plan_id, make_user_id,form_no, form_id,form_status, repertory_info_id, goods_id, batch_code,
    acc_limit, check_limit, check_note, check_status, price, amount, product_date, exp_date, 
    create_by, create_time, update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from repertory_check_plan_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from repertory_check_plan_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.RepertoryCheckPlanDetail"  useGeneratedKeys="true" keyProperty="id">
    insert into repertory_check_plan_detail (id, check_plan_id, make_user_id,form_no,form_id,
      form_status, repertory_info_id, goods_id, 
      batch_code, acc_limit, check_limit, 
      check_note, check_status, price, 
      amount, product_date, exp_date, 
      create_by, create_time, update_by, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{checkPlanId,jdbcType=BIGINT}, #{makeUserId,jdbcType=BIGINT}, #{formId,jdbcType=BIGINT},#{formNo,jdbcType=VARCHAR},
      #{formStatus,jdbcType=VARCHAR}, #{repertoryInfoId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, 
      #{batchCode,jdbcType=VARCHAR}, #{accLimit,jdbcType=DECIMAL}, #{checkLimit,jdbcType=DECIMAL}, 
      #{checkNote,jdbcType=VARCHAR}, #{checkStatus,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, 
      #{amount,jdbcType=DECIMAL}, #{productDate,jdbcType=DATE}, #{expDate,jdbcType=DATE}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yiban.erp.entities.RepertoryCheckPlanDetail"  useGeneratedKeys="true" keyProperty="id" >
    insert into repertory_check_plan_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="checkPlanId != null" >
        check_plan_id,
      </if>
      <if test="makeUserId != null" >
        make_user_id,
      </if>
      <if test="formId != null" >
        form_id,
      </if>
      <if test="formNo != null" >
        form_no,
      </if>
      <if test="formStatus != null" >
        form_status,
      </if>
      <if test="repertoryInfoId != null" >
        repertory_info_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="batchCode != null" >
        batch_code,
      </if>
      <if test="accLimit != null" >
        acc_limit,
      </if>
      <if test="checkLimit != null" >
        check_limit,
      </if>
      <if test="checkNote != null" >
        check_note,
      </if>
      <if test="checkStatus != null" >
        check_status,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="productDate != null" >
        product_date,
      </if>
      <if test="expDate != null" >
        exp_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="checkPlanId != null" >
        #{checkPlanId,jdbcType=BIGINT},
      </if>
      <if test="makeUserId != null" >
        #{makeUserId,jdbcType=BIGINT},
      </if>
      <if test="formId != null" >
        #{formId,jdbcType=BIGINT},
      </if>
      <if test="formNo != null" >
        #{formNo,jdbcType=VARCHAR},
      </if>
      <if test="formStatus != null" >
        #{formStatus,jdbcType=VARCHAR},
      </if>
      <if test="repertoryInfoId != null" >
        #{repertoryInfoId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="batchCode != null" >
        #{batchCode,jdbcType=VARCHAR},
      </if>
      <if test="accLimit != null" >
        #{accLimit,jdbcType=DECIMAL},
      </if>
      <if test="checkLimit != null" >
        #{checkLimit,jdbcType=DECIMAL},
      </if>
      <if test="checkNote != null" >
        #{checkNote,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="productDate != null" >
        #{productDate,jdbcType=DATE},
      </if>
      <if test="expDate != null" >
        #{expDate,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.RepertoryCheckPlanDetail" >
    update repertory_check_plan_detail
    <set >
      <if test="checkPlanId != null" >
        check_plan_id = #{checkPlanId,jdbcType=BIGINT},
      </if>
      <if test="makeUserId != null" >
        make_user_id = #{makeUserId,jdbcType=BIGINT},
      </if>
      <if test="formId != null" >
        form_id = #{formId,jdbcType=BIGINT},
      </if>
      <if test="formNo != null" >
        form_no = #{formNo,jdbcType=VARCHAR},
      </if>
      <if test="formStatus != null" >
        form_status = #{formStatus,jdbcType=VARCHAR},
      </if>
      <if test="repertoryInfoId != null" >
        repertory_info_id = #{repertoryInfoId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="batchCode != null" >
        batch_code = #{batchCode,jdbcType=VARCHAR},
      </if>
      <if test="accLimit != null" >
        acc_limit = #{accLimit,jdbcType=DECIMAL},
      </if>
      <if test="checkLimit != null" >
        check_limit = #{checkLimit,jdbcType=DECIMAL},
      </if>
      <if test="checkNote != null" >
        check_note = #{checkNote,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="productDate != null" >
        product_date = #{productDate,jdbcType=DATE},
      </if>
      <if test="expDate != null" >
        exp_date = #{expDate,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.erp.entities.RepertoryCheckPlanDetail" >
    update repertory_check_plan_detail
    set check_plan_id = #{checkPlanId,jdbcType=BIGINT},
      make_user_id = #{makeUserId,jdbcType=BIGINT},
      form_id = #{formId,jdbcType=BIGINT},
      form_no = #{formNo,jdbcType=VARCHAR},
      form_status = #{formStatus,jdbcType=VARCHAR},
      repertory_info_id = #{repertoryInfoId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      batch_code = #{batchCode,jdbcType=VARCHAR},
      acc_limit = #{accLimit,jdbcType=DECIMAL},
      check_limit = #{checkLimit,jdbcType=DECIMAL},
      check_note = #{checkNote,jdbcType=VARCHAR},
      check_status = #{checkStatus,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      product_date = #{productDate,jdbcType=DATE},
      exp_date = #{expDate,jdbcType=DATE},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getCheckPlanDetailList"  parameterType="map" resultMap="BaseResultMap" >
    SELECT  a.*
    FROM `repertory_check_plan_detail`  a
    WHERE 1=1
    <if test="checkPlanId  != null" >
      and a.check_plan_id = #{checkPlanId ,jdbcType=BIGINT}
    </if>
    <if test="makeUserId  != null" >
      and a.make_user_id = #{makeUserId ,jdbcType=BIGINT}
    </if>
    <if test="formId  != null" >
      and a.form_id = #{formId ,jdbcType=BIGINT}
    </if>
    order by a.id desc
  </select>

</mapper>