<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.RepertoryInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.RepertoryInfo" >
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="company_id" property="companyId" jdbcType="INTEGER" />
      <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
      <result column="location" property="location" jdbcType="VARCHAR" />
      <result column="in_user_id" property="inUserId" jdbcType="BIGINT" />
      <result column="batch_code" property="batchCode" jdbcType="VARCHAR" />
      <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
      <result column="factory_id" property="factoryId" jdbcType="BIGINT" />
      <result column="in_quantity" property="inQuantity" jdbcType="DECIMAL" />
      <result column="quantity" property="quantity" jdbcType="DECIMAL" />
      <result column="buy_price" property="buyPrice" jdbcType="DECIMAL" />
      <result column="is_exp" property="isExp" jdbcType="BIT" />
      <result column="sale_enable" property="saleEnable" jdbcType="BIT" />
      <result column="product_date" property="productDate" jdbcType="DATE" />
      <result column="exp_date" property="expDate" jdbcType="DATE" />
      <result column="in_date" property="inDate" jdbcType="TIMESTAMP" />
      <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
      <result column="supplier_contact_id" property="supplierContactId" jdbcType="BIGINT" />
      <result column="buyer_id" property="buyerId" jdbcType="BIGINT" />
      <result column="order_id" property="orderId" jdbcType="BIGINT" />
      <result column="order_detail_id" property="orderDetailId" jdbcType="BIGINT" />
      <result column="sale_sate" property="saleSate" jdbcType="BIT" />
      <result column="create_by" property="createBy" jdbcType="VARCHAR" />
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
      <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
      <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, warehouse_id, location, in_user_id, batch_code, goods_id, factory_id,
    in_quantity, quantity, buy_price, is_exp, sale_enable, product_date, exp_date, in_date,
    supplier_id, supplier_contact_id, buyer_id, order_id, order_detail_id, sale_sate, create_by, create_time,
    update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from repertory_info
    where id = #{id,jdbcType=BIGINT}
  </select>

    <select id="selectByIdList" parameterType="map" resultType="com.yiban.erp.entities.RepertoryInfo">
        select
        r.*
        from repertory_info  r
        where 1 = 1 and r.id in
        <foreach collection="idList" item="id" open="(" close=")" separator=", ">
            #{id}
        </foreach>
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from repertory_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.RepertoryInfo" keyProperty="id" useGeneratedKeys="true">
      insert into repertory_info (company_id, warehouse_id,
      location, in_user_id, batch_code,
      goods_id, factory_id, in_quantity,
      quantity, buy_price, is_exp,
      sale_enable, product_date, exp_date,
      in_date, supplier_id, supplier_contact_id,
      buyer_id, order_id, order_detail_id, sale_sate,
      create_by, create_time, update_by,
      update_time)
    values (#{companyId,jdbcType=INTEGER}, #{warehouseId,jdbcType=INTEGER},
      #{location,jdbcType=VARCHAR}, #{inUserId,jdbcType=BIGINT}, #{batchCode,jdbcType=VARCHAR},
      #{goodsId,jdbcType=BIGINT}, #{factoryId,jdbcType=BIGINT}, #{inQuantity,jdbcType=DECIMAL},
      #{quantity,jdbcType=DECIMAL}, #{buyPrice,jdbcType=DECIMAL}, #{isExp,jdbcType=BIT},
      #{saleEnable,jdbcType=BIT}, #{productDate,jdbcType=DATE}, #{expDate,jdbcType=DATE},
      #{inDate,jdbcType=TIMESTAMP}, #{supplierId,jdbcType=BIGINT}, #{supplierContactId,jdbcType=BIGINT},
      #{buyerId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{orderDetailId,jdbcType=BIGINT}, #{saleSate,jdbcType=BIT},
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertBatch" parameterType="com.yiban.erp.entities.RepertoryInfo" keyProperty="id" useGeneratedKeys="true">
      insert into repertory_info (company_id, warehouse_id,
      location, in_user_id, batch_code,
      goods_id, factory_id, in_quantity,
      quantity, buy_price, is_exp,
      sale_enable, product_date, exp_date,
      in_date, supplier_id, supplier_contact_id,
      buyer_id, order_id, order_detail_id, sale_sate,
      create_by, create_time, update_by,
      update_time)
    values
    <foreach collection="list" item="item" separator="), (" open="(" close=")">
        #{item.companyId,jdbcType=INTEGER}, #{item.warehouseId,jdbcType=INTEGER},
        #{item.location,jdbcType=VARCHAR}, #{item.inUserId,jdbcType=BIGINT}, #{item.batchCode,jdbcType=VARCHAR},
        #{item.goodsId,jdbcType=BIGINT}, #{item.factoryId,jdbcType=BIGINT}, #{item.inQuantity,jdbcType=DECIMAL},
        #{item.quantity,jdbcType=DECIMAL}, #{item.buyPrice,jdbcType=DECIMAL}, #{item.isExp,jdbcType=BIT},
        #{item.saleEnable,jdbcType=BIT}, #{item.productDate,jdbcType=DATE}, #{item.expDate,jdbcType=DATE},
        #{item.inDate,jdbcType=TIMESTAMP}, #{item.supplierId,jdbcType=BIGINT}, #{item.supplierContactId,jdbcType=BIGINT},
        #{item.buyerId,jdbcType=BIGINT}, #{item.orderId,jdbcType=BIGINT}, #{item.orderDetailId,jdbcType=BIGINT}, #{item.saleSate,jdbcType=BIT},
        #{item.createBy,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=VARCHAR},
        #{item.updateTime,jdbcType=TIMESTAMP}
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="com.yiban.erp.entities.RepertoryInfo" keyProperty="id" useGeneratedKeys="true">
      insert into repertory_info
      <trim prefix="(" suffix=")" suffixOverrides="," >
          <if test="id != null" >
              id,
          </if>
          <if test="companyId != null" >
              company_id,
          </if>
          <if test="warehouseId != null" >
              warehouse_id,
          </if>
          <if test="location != null" >
              location,
          </if>
          <if test="inUserId != null" >
              in_user_id,
          </if>
          <if test="batchCode != null" >
              batch_code,
          </if>
          <if test="goodsId != null" >
              goods_id,
          </if>
          <if test="factoryId != null" >
              factory_id,
          </if>
          <if test="inQuantity != null" >
              in_quantity,
          </if>
          <if test="quantity != null" >
              quantity,
          </if>
          <if test="buyPrice != null" >
              buy_price,
          </if>
          <if test="isExp != null" >
              is_exp,
          </if>
          <if test="saleEnable != null" >
              sale_enable,
          </if>
          <if test="productDate != null" >
              product_date,
          </if>
          <if test="expDate != null" >
              exp_date,
          </if>
          <if test="inDate != null" >
              in_date,
          </if>
          <if test="supplierId != null" >
              supplier_id,
          </if>
          <if test="supplierContactId != null" >
              supplier_contact_id,
          </if>
          <if test="buyerId != null" >
              buyer_id,
          </if>
          <if test="orderId != null" >
              order_id,
          </if>
          <if test="orderDetailId != null" >
              order_detail_id,
          </if>
          <if test="saleSate != null" >
              sale_sate,
          </if>
          <if test="createBy != null" >
              create_by,
          </if>
          <if test="createTime != null" >
              create_time,
          </if>
          <if test="updateBy != null" >
              update_by,
          </if>
          <if test="updateTime != null" >
              update_time,
          </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
          <if test="id != null" >
              #{id,jdbcType=BIGINT},
          </if>
          <if test="companyId != null" >
              #{companyId,jdbcType=INTEGER},
          </if>
          <if test="warehouseId != null" >
              #{warehouseId,jdbcType=INTEGER},
          </if>
          <if test="location != null" >
              #{location,jdbcType=VARCHAR},
          </if>
          <if test="inUserId != null" >
              #{inUserId,jdbcType=BIGINT},
          </if>
          <if test="batchCode != null" >
              #{batchCode,jdbcType=VARCHAR},
          </if>
          <if test="goodsId != null" >
              #{goodsId,jdbcType=BIGINT},
          </if>
          <if test="factoryId != null" >
              #{factoryId,jdbcType=BIGINT},
          </if>
          <if test="inQuantity != null" >
              #{inQuantity,jdbcType=DECIMAL},
          </if>
          <if test="quantity != null" >
              #{quantity,jdbcType=DECIMAL},
          </if>
          <if test="buyPrice != null" >
              #{buyPrice,jdbcType=DECIMAL},
          </if>
          <if test="isExp != null" >
              #{isExp,jdbcType=BIT},
          </if>
          <if test="saleEnable != null" >
              #{saleEnable,jdbcType=BIT},
          </if>
          <if test="productDate != null" >
              #{productDate,jdbcType=DATE},
          </if>
          <if test="expDate != null" >
              #{expDate,jdbcType=DATE},
          </if>
          <if test="inDate != null" >
              #{inDate,jdbcType=TIMESTAMP},
          </if>
          <if test="supplierId != null" >
              #{supplierId,jdbcType=BIGINT},
          </if>
          <if test="supplierContactId != null" >
              #{supplierContactId,jdbcType=BIGINT},
          </if>
          <if test="buyerId != null" >
              #{buyerId,jdbcType=BIGINT},
          </if>
          <if test="orderId != null" >
              #{orderId,jdbcType=BIGINT},
          </if>
          <if test="orderDetailId != null" >
              #{orderDetailId,jdbcType=BIGINT},
          </if>
          <if test="saleSate != null" >
              #{saleSate,jdbcType=BIT},
          </if>
          <if test="createBy != null" >
              #{createBy,jdbcType=VARCHAR},
          </if>
          <if test="createTime != null" >
              #{createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="updateBy != null" >
              #{updateBy,jdbcType=VARCHAR},
          </if>
          <if test="updateTime != null" >
              #{updateTime,jdbcType=TIMESTAMP},
          </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.RepertoryInfo" >
    update repertory_info
      <set >
          <if test="companyId != null" >
              company_id = #{companyId,jdbcType=INTEGER},
          </if>
          <if test="warehouseId != null" >
              warehouse_id = #{warehouseId,jdbcType=INTEGER},
          </if>
          <if test="location != null" >
              location = #{location,jdbcType=VARCHAR},
          </if>
          <if test="inUserId != null" >
              in_user_id = #{inUserId,jdbcType=BIGINT},
          </if>
          <if test="batchCode != null" >
              batch_code = #{batchCode,jdbcType=VARCHAR},
          </if>
          <if test="goodsId != null" >
              goods_id = #{goodsId,jdbcType=BIGINT},
          </if>
          <if test="factoryId != null" >
              factory_id = #{factoryId,jdbcType=BIGINT},
          </if>
          <if test="inQuantity != null" >
              in_quantity = #{inQuantity,jdbcType=DECIMAL},
          </if>
          <if test="quantity != null" >
              quantity = #{quantity,jdbcType=DECIMAL},
          </if>
          <if test="buyPrice != null" >
              buy_price = #{buyPrice,jdbcType=DECIMAL},
          </if>
          <if test="isExp != null" >
              is_exp = #{isExp,jdbcType=BIT},
          </if>
          <if test="saleEnable != null" >
              sale_enable = #{saleEnable,jdbcType=BIT},
          </if>
          <if test="productDate != null" >
              product_date = #{productDate,jdbcType=DATE},
          </if>
          <if test="expDate != null" >
              exp_date = #{expDate,jdbcType=DATE},
          </if>
          <if test="inDate != null" >
              in_date = #{inDate,jdbcType=TIMESTAMP},
          </if>
          <if test="supplierId != null" >
              supplier_id = #{supplierId,jdbcType=BIGINT},
          </if>
          <if test="supplierContactId != null" >
              supplier_contact_id = #{supplierContactId,jdbcType=BIGINT},
          </if>
          <if test="buyerId != null" >
              buyer_id = #{buyerId,jdbcType=BIGINT},
          </if>
          <if test="orderId != null" >
              order_id = #{orderId,jdbcType=BIGINT},
          </if>
          <if test="orderDetailId != null" >
              order_detail_id = #{orderDetailId,jdbcType=BIGINT},
          </if>
          <if test="saleSate != null" >
              sale_sate = #{saleSate,jdbcType=BIT},
          </if>
          <if test="createBy != null" >
              create_by = #{createBy,jdbcType=VARCHAR},
          </if>
          <if test="createTime != null" >
              create_time = #{createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="updateBy != null" >
              update_by = #{updateBy,jdbcType=VARCHAR},
          </if>
          <if test="updateTime != null" >
              update_time = #{updateTime,jdbcType=TIMESTAMP},
          </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.erp.entities.RepertoryInfo" >
    update repertory_info
    set company_id = #{companyId,jdbcType=INTEGER},
      warehouse_id = #{warehouseId,jdbcType=INTEGER},
      location = #{location,jdbcType=VARCHAR},
      in_user_id = #{inUserId,jdbcType=BIGINT},
      batch_code = #{batchCode,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=BIGINT},
      factory_id = #{factoryId,jdbcType=BIGINT},
      in_quantity = #{inQuantity,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=DECIMAL},
      buy_price = #{buyPrice,jdbcType=DECIMAL},
      is_exp = #{isExp,jdbcType=BIT},
      sale_enable = #{saleEnable,jdbcType=BIT},
      product_date = #{productDate,jdbcType=DATE},
      exp_date = #{expDate,jdbcType=DATE},
      in_date = #{inDate,jdbcType=TIMESTAMP},
      supplier_id = #{supplierId,jdbcType=BIGINT},
      supplier_contact_id = #{supplierContactId,jdbcType=BIGINT},
      buyer_id = #{buyerId,jdbcType=BIGINT},
      order_id = #{orderId,jdbcType=BIGINT},
      order_detail_id = #{orderDetailId,jdbcType=BIGINT},
      sale_sate = #{saleSate,jdbcType=BIT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getDetailList" parameterType="map" resultType="com.yiban.erp.entities.RepertoryInfo">
    select
      r.id as id, r.company_id as companyId, r.warehouse_id as warehouseId, r.location as location,
      r.in_user_id as inUserId, r.batch_code as batchCode, r.goods_id as goodsId, r.factory_id as factoryId,
      r.in_quantity as inQuantity, r.quantity as quantity, r.buy_price as buyPrice, r.is_exp as isExp,
      r.sale_enable as sale_enable, r.product_date as productDate, r.exp_date as expDate, r.in_date as inDate,
      r.supplier_id as supplierId, r.supplier_contact_id as supplierContactId, r.buyer_id buyerId,
      r.order_id as orderId, r.order_detail_id as orderDetailId, r.sale_sate as saleState, r.create_by as createBy, r.create_time as createTime,
      r.update_by as updateBy, r.update_time as updateTime,
      w.name as warehouseName
    from repertory_info r
    left join factory f on r.factory_id = f.id,
    warehouse w, goods g
    where r.warehouse_id = w.id and r.goods_id = g.id
      and w.company_id = #{companyId}
      and r.warehouse_id = #{warehouseId}
      and r.is_exp = 0
      <if test="saleEnable != null" >
        and r.sale_enable = #{saleEnable}
      </if>
      <if test="goodsId != null" >
        r.goods_id = #{goodsId}
      </if>
      <if test="goodSearch != null">
        <bind name="pattern" value="'%' + goodSearch + '%'" />
        and ( g.name like #{pattern} or lower(g.pinyin) like lower(#{pattern}) )
      </if>
      <if test="factoryId != null">
        and f.id = #{factoryId}
      </if>
      <if test="limitCheck != null">
        and r.quantity > #{limitCheck}
      </if>
      order by r.id desc
      <if test="offset != null and limit !=null">
        limit #{offset}, #{limit}
      </if>
  </select>

  <select id="getDetailListCount" parameterType="map" resultType="java.lang.Integer">
    select
      count(1)
    from repertory_info r
    left join factory f on r.factory_id = f.id,
    warehouse w, goods g
    where r.warehouse_id = w.id and r.goods_id = g.id
    and w.company_id = #{companyId}
    and r.warehouse_id = #{warehouseId}
    and r.is_exp = 0
    <if test="saleEnable != null" >
      and r.sale_enable = #{saleEnable}
    </if>
    <if test="goodsId != null" >
      r.goods_id = #{goodsId}
    </if>
    <if test="goodSearch != null">
      <bind name="pattern" value="'%' + goodSearch + '%'" />
      and ( g.name like #{pattern} or lower(g.pinyin) like lower(#{pattern}) )
    </if>
    <if test="factoryId != null">
      and f.id = #{factoryId}
    </if>
    <if test="limitCheck != null">
          and r.quantity > #{limitCheck}
      </if>
  </select>

  <select id="getListByIdList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from repertory_info
    where id in
    <foreach collection="idList" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </select>

  <select id="getGoodNameWithLessQuantity" parameterType="java.lang.Long" resultType="java.lang.String">
    select
      g.`name` as goodName
    from sell_order_detail d, repertory_info r, goods g
    where d.repertory_id = r.id and r.goods_id = g.id
    and (r.quantity - d.quantity &lt; 0)
    and d.sell_order_id = #{sellOrderId};
  </select>

  <update id="sellOrderConsumeQuantity" parameterType="map" >
    update sell_order_detail d, repertory_info r
      set r.quantity = (r.quantity - d.quantity),
          r.update_time = #{updateTime},
          r.update_by = #{updateBy}
    where d.repertory_id = r.id and d.sell_order_id = #{sellOrderId}
  </update>

  <select id="getBalance" parameterType="map" resultType="com.yiban.erp.dto.CurrentBalanceResp">
    select goods_id as goodsId, sum(quantity) as balance
    from repertory_info
    where warehouse_id = #{warehouseId}
    and goods_id in
    <foreach collection="goodsIdList" open="(" close=")" item="item" separator=",">
      #{item}
    </foreach>
    group by goods_id
  </select>

  <select id="getLastBuyPrice" parameterType="map" resultType="com.yiban.erp.dto.CurrentBalanceResp" >
    select t2.goods_id as goodsId, t2.buy_price as lastPrice from (
      select max(id) as id from repertory_info
        where goods_id in
          <foreach collection="goodsIdList" open="(" close=")" item="item" separator=",">
            #{item}
          </foreach>
        group by goods_id) t1, repertory_info t2
    where t1.id = t2.id;
  </select>
    <select id="queryRepertoryPage" resultMap="BaseResultMap" parameterType="com.yiban.erp.dto.RepertoryQuery" >
        select
        rp.*,
        su.name AS supplier, w.name AS warehouseName,inu.nickname AS in_user_name
        FROM repertory_info rp
        left JOIN goods g ON  rp.goods_id = g.id
        LEFT JOIN supplier su ON su.id=rp.supplier_id
        LEFT JOIN warehouse w ON w.id=rp.warehouse_id
        LEFT JOIN users  inu ON inu.id=rp.in_user_id
        where  1=1
        <if test="companyId != null" >
            and rp.company_id = #{companyId,jdbcType=INTEGER}
        </if>
        <if test="warehouseId != null" >
            and rp.warehouse_id = #{warehouseId, jdbcType=BIGINT}
        </if>
        <if test="storeState != null" >
            and rp.store_state = #{storeState,jdbcType=STRING}
        </if>
        <if test="saleState != null" >
            and rp.sale_state = #{saleState,jdbcType=STRING}
        </if>
        <if test="goodsId != null" >
            and rp.goods_id = #{goodsId,jdbcType=BIGINT}
        </if>
        <if test="supplierId != null" >
            and rp.supplier_id = #{supplierId,jdbcType=BIGINT}
        </if>
        <if test="goodSearch != null">
            <bind name="pattern" value="'%' + goodSearch + '%'" />
            and ( g.name like #{pattern} or lower(g.pinyin) like lower(#{pattern}) )
        </if>

        <if test="maxInDate != null" >
            and #{maxInDate,jdbcType=TIMESTAMP}>= rp.in_date
        </if>
          and rp.quantity >0

        <if test="offset != null and offset != null">
            limit #{offset}, #{size}
        </if>

    </select>

    <select id="queryRepertoryCount"  resultType="java.lang.Integer" parameterType="com.yiban.erp.dto.RepertoryQuery" >
        select
        count(1)
        FROM repertory_info rp
        left JOIN goods g ON  rp.goods_id = g.id
        where 1=1
        <if test="companyId != null" >
            and rp.company_id = #{companyId,jdbcType=INTEGER}
        </if>
        <if test="warehouseId != null" >
            and rp.warehouse_id = #{warehouseId, jdbcType=BIGINT}
        </if>
        <if test="storeState != null" >
            and rp.store_state = #{storeState,jdbcType=STRING}
        </if>
        <if test="goodsId != null" >
            and rp.goods_id = #{goodsId,jdbcType=BIGINT}
        </if>
        <if test="saleState != null" >
            and rp.sale_state = #{saleState,jdbcType=STRING}
        </if>

        <if test="supplierId != null" >
            and rp.supplier_id = #{supplierId,jdbcType=BIGINT}
        </if>
        <if test="goodSearch != null">
            <bind name="pattern" value="'%' + goodSearch + '%'" />
            and ( g.name like #{pattern} or lower(g.pinyin) like lower(#{pattern}) )
        </if>

        <if test="maxInDate != null" >
            and #{maxInDate,jdbcType=TIMESTAMP}>= rp.in_date
        </if>
        and rp.quantity >0
    </select>
</mapper>