<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.RepositoryOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.RepositoryOrderDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="repository_order_id" property="repositoryOrderId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="receive_quality" property="receiveQuality" jdbcType="DECIMAL" />
    <result column="big_quality" property="bigQuality" jdbcType="DECIMAL" />
    <result column="free" property="free" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="exp_date" property="expDate" jdbcType="TIMESTAMP" />
    <result column="product_date" property="productDate" jdbcType="TIMESTAMP" />
    <result column="batch_code" property="batchCode" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="warehouse_location" property="warehouseLocation" jdbcType="VARCHAR" />
    <result column="reject_quality" property="rejectQuality" jdbcType="DECIMAL" />
    <result column="reject_comment" property="rejectComment" jdbcType="VARCHAR" />
    <result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="in_count" property="inCount" jdbcType="DECIMAL" />
    <result column="right_count" property="rightCount" jdbcType="DECIMAL" />
    <result column="error_count" property="errorCount" jdbcType="DECIMAL" />
    <result column="survey_quality" property="surveyQuality" jdbcType="DECIMAL" />
    <result column="survey_date" property="surveyDate" jdbcType="TIMESTAMP" />
    <result column="survey_user" property="surveyUser" jdbcType="VARCHAR" />
    <result column="survey_address" property="surveyAddress" jdbcType="VARCHAR" />
    <result column="survey_result" property="surveyResult" jdbcType="VARCHAR" />
    <result column="survey_target" property="surveyTarget" jdbcType="VARCHAR" />
    <result column="check_status" property="checkStatus" jdbcType="BIT" />
    <result column="error_plan" property="errorPlan" jdbcType="VARCHAR" />
    <result column="sale_cert" property="saleCert" jdbcType="VARCHAR" />
    <result column="error_reason" property="errorReason" jdbcType="VARCHAR" />
    <result column="check_temp_method" property="checkTempMethod" jdbcType="BIGINT" />
    <result column="check_user" property="checkUser" jdbcType="VARCHAR" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="check_result" property="checkResult" jdbcType="VARCHAR" />
    <result column="sale_state" property="saleState" jdbcType="BIT"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, repository_order_id, goods_id, receive_quality, big_quality, free, price, exp_date, 
    product_date, batch_code, amount, warehouse_location, reject_quality, reject_comment, tax_rate,
    create_by, create_time, update_by, update_time, in_count, right_count, error_count,
    survey_quality, survey_date, survey_user, survey_address, survey_result, survey_target,
    check_status, error_plan, sale_cert, error_reason, check_temp_method, check_user, check_time, check_result,
    sale_state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from repository_order_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from repository_order_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByOrderId" parameterType="java.lang.Long">
    delete from repository_order_detail where repository_order_id = #{repositoryOrderId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.yiban.erp.entities.RepositoryOrderDetail" keyProperty="id" useGeneratedKeys="true" >
    insert into repository_order_detail (repository_order_id, goods_id,
      receive_quality, big_quality, free, 
      price, exp_date, product_date, 
      batch_code, amount, warehouse_location, 
      reject_quality, reject_comment, tax_rate, create_by,
      create_time, update_by, update_time, in_count, right_count, error_count,
      survey_quality, survey_date, survey_user, survey_address, survey_result, survey_target,
      check_status, error_plan, sale_cert, error_reason, check_temp_method, check_user, check_time, check_result, sale_state
      )
    values (#{repositoryOrderId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT},
      #{receiveQuality,jdbcType=DECIMAL}, #{bigQuality,jdbcType=DECIMAL}, #{free,jdbcType=DECIMAL},
      #{price,jdbcType=DECIMAL}, #{expDate,jdbcType=TIMESTAMP}, #{productDate,jdbcType=TIMESTAMP}, 
      #{batchCode,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{warehouseLocation,jdbcType=VARCHAR}, 
      #{rejectQuality,jdbcType=DECIMAL}, #{rejectComment,jdbcType=VARCHAR}, #{taxRate,jdbcType=DECIMAL}, #{createBy,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
      #{inCount,jdbcType=DECIMAL},  #{rightCount,jdbcType=DECIMAL},  #{errorCount,jdbcType=DECIMAL},
      #{surveyQuality,jdbcType=DECIMAL},  #{surveyDate,jdbcType=TIMESTAMP},  #{surveyUser,jdbcType=VARCHAR}
      #{surveyAddress,jdbcType=VARCHAR},  #{surveyResult,jdbcType=VARCHAR},  #{surveyTarget,jdbcType=VARCHAR}
      #{checkStatus,jdbcType=BIT}, #{errorPlan,jdbcType=VARCHAR}, #{saleCert,jdbcType=VARCHAR}, #{errorReason,jdbcType=VARCHAR},
      #{checkTempMethod,jdbcType=BIGINT}, #{checkUser,jdbcType=VARCHAR}, #{checkTime,jdbcType=TIMESTAMP}, #{checkResult,jdbcType=VARCHAR},
      #{saleState, jdbcType=BIT}
      )
  </insert>

  <insert id="insertBatch" parameterType="map" keyProperty="id" useGeneratedKeys="true" >
    insert into repository_order_detail (repository_order_id, goods_id,
    receive_quality, big_quality, free,
    price, exp_date, product_date,
    batch_code, amount, warehouse_location,
    reject_quality, reject_comment, tax_rate, create_by,
    create_time, update_by, update_time, in_count, right_count, error_count,
    survey_quality, survey_date, survey_user, survey_address, survey_result, survey_target,
    check_status, error_plan, sale_cert, error_reason, check_temp_method, check_user, check_time, check_result, sale_state
    )
    values
    <foreach collection="details" item="item" open="(" close=")" separator="), (">
      #{item.repositoryOrderId,jdbcType=BIGINT}, #{item.goodsId,jdbcType=BIGINT},
      #{item.receiveQuality,jdbcType=DECIMAL}, #{item.bigQuality,jdbcType=DECIMAL}, #{item.free,jdbcType=DECIMAL},
      #{item.price,jdbcType=DECIMAL}, #{item.expDate,jdbcType=TIMESTAMP}, #{item.productDate,jdbcType=TIMESTAMP},
      #{item.batchCode,jdbcType=VARCHAR}, #{item.amount,jdbcType=DECIMAL}, #{item.warehouseLocation,jdbcType=VARCHAR},
      #{item.rejectQuality,jdbcType=DECIMAL}, #{item.rejectComment,jdbcType=VARCHAR}, #{item.taxRate,jdbcType=DECIMAL}, #{item.createBy,jdbcType=VARCHAR},
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP},
      #{inCount,jdbcType=DECIMAL},  #{rightCount,jdbcType=DECIMAL},  #{errorCount,jdbcType=DECIMAL},
      #{surveyQuality,jdbcType=DECIMAL},  #{surveyDate,jdbcType=TIMESTAMP},  #{surveyUser,jdbcType=VARCHAR}
      #{surveyAddress,jdbcType=VARCHAR},  #{surveyResult,jdbcType=VARCHAR},  #{surveyTarget,jdbcType=VARCHAR},
      #{checkStatus,jdbcType=BIT}, #{errorPlan,jdbcType=VARCHAR}, #{saleCert,jdbcType=VARCHAR}, #{errorReason,jdbcType=VARCHAR},
      #{checkTempMethod,jdbcType=BIGINT}, #{checkUser,jdbcType=VARCHAR}, #{checkTime,jdbcType=TIMESTAMP}, #{checkResult,jdbcType=VARCHAR},
      #{saleState, jdbcType=BIT}
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="com.yiban.erp.entities.RepositoryOrderDetail"  keyProperty="id" useGeneratedKeys="true">
    insert into repository_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="repositoryOrderId != null" >
        repository_order_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="receiveQuality != null" >
        receive_quality,
      </if>
      <if test="bigQuality != null" >
        big_quality,
      </if>
      <if test="free != null" >
        free,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="expDate != null" >
        exp_date,
      </if>
      <if test="productDate != null" >
        product_date,
      </if>
      <if test="batchCode != null" >
        batch_code,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="warehouseLocation != null" >
        warehouse_location,
      </if>
      <if test="rejectQuality != null" >
        reject_quality,
      </if>
      <if test="rejectComment != null" >
        reject_comment,
      </if>
      <if test="taxRate != null">
        tax_rate,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="inCount != null" >
        in_count,
      </if>
      <if test="rightCount != null" >
        right_count,
      </if>
      <if test="errorCount != null" >
        error_count,
      </if>
      <if test="surveyQuality != null" >
        survey_quality,
      </if>
      <if test="surveyDate != null" >
        survey_date,
      </if>
      <if test="surveyUser != null" >
        survey_user,
      </if>
      <if test="surveyAddress != null" >
        survey_address,
      </if>
      <if test="surveyResult != null" >
        survey_result,
      </if>
      <if test="surveyTarget != null" >
        survey_target,
      </if>
      <if test="checkStatus != null">
        check_status,
      </if>
      <if test="errorPlan != null">
        error_plan,
      </if>
      <if test="saleCert != null">
        sale_cert,
      </if>
      <if test="errorReason != null">
        error_reason,
      </if>
      <if test="checkTempMethod != null">
        check_temp_method,
      </if>
      <if test="checkUser != null">
        check_user,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="checkResult != null">
        check_result,
      </if>
      <if test="saleState != null">
        sale_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="repositoryOrderId != null" >
        #{repositoryOrderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="receiveQuality != null" >
        #{receiveQuality,jdbcType=DECIMAL},
      </if>
      <if test="bigQuality != null" >
        #{bigQuality,jdbcType=DECIMAL},
      </if>
      <if test="free != null" >
        #{free,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="expDate != null" >
        #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="productDate != null" >
        #{productDate,jdbcType=TIMESTAMP},
      </if>
      <if test="batchCode != null" >
        #{batchCode,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="warehouseLocation != null" >
        #{warehouseLocation,jdbcType=VARCHAR},
      </if>
      <if test="rejectQuality != null" >
        #{rejectQuality,jdbcType=DECIMAL},
      </if>
      <if test="rejectComment != null" >
        #{rejectComment,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null">
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inCount != null" >
        #{inCount,jdbcType=DECIMAL},
      </if>
      <if test="rightCount != null" >
        #{rightCount,jdbcType=DECIMAL},
      </if>
      <if test="errorCount != null" >
        #{errorCount,jdbcType=DECIMAL},
      </if>
      <if test="surveyQuality != null" >
        #{surveyQuality,jdbcType=DECIMAL},
      </if>
      <if test="surveyDate != null" >
        #{surveyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="surveyUser != null" >
        #{surveyUser,jdbcType=VARCHAR},
      </if>
      <if test="surveyAddress != null" >
        #{surveyAddress,jdbcType=VARCHAR},
      </if>
      <if test="surveyResult != null" >
        #{surveyResult,jdbcType=VARCHAR},
      </if>
      <if test="surveyTarget != null" >
        #{surveyTarget,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=BIT},
      </if>
      <if test="errorPlan != null">
        #{errorPlan,jdbcType=VARCHAR},
      </if>
      <if test="saleCert != null">
        #{saleCert,jdbcType=VARCHAR},
      </if>
      <if test="errorReason != null">
        #{errorReason,jdbcType=VARCHAR},
      </if>
      <if test="checkTempMethod != null">
        #{checkTempMethod,jdbcType=BIGINT},
      </if>
      <if test="checkUser != null">
        #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkResult != null">
        #{checkResult,jdbcType=VARCHAR},
      </if>
      <if test="saleState != null">
        #{saleState,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.RepositoryOrderDetail" >
    update repository_order_detail
    <set >
      <if test="repositoryOrderId != null" >
        repository_order_id = #{repositoryOrderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="receiveQuality != null" >
        receive_quality = #{receiveQuality,jdbcType=DECIMAL},
      </if>
      <if test="bigQuality != null" >
        big_quality = #{bigQuality,jdbcType=DECIMAL},
      </if>
      <if test="free != null" >
        free = #{free,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="expDate != null" >
        exp_date = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="productDate != null" >
        product_date = #{productDate,jdbcType=TIMESTAMP},
      </if>
      <if test="batchCode != null" >
        batch_code = #{batchCode,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="warehouseLocation != null" >
        warehouse_location = #{warehouseLocation,jdbcType=VARCHAR},
      </if>
      <if test="rejectQuality != null" >
        reject_quality = #{rejectQuality,jdbcType=DECIMAL},
      </if>
      <if test="rejectComment != null" >
        reject_comment = #{rejectComment,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null">
        tax_rate = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inCount != null" >
        in_count = #{inCount,jdbcType=DECIMAL},
      </if>
      <if test="rightCount != null" >
        right_count = #{rightCount,jdbcType=DECIMAL},
      </if>
      <if test="errorCount != null" >
        error_count = #{errorCount,jdbcType=DECIMAL},
      </if>
      <if test="surveyQuality != null" >
        survey_quality = #{surveyQuality,jdbcType=DECIMAL},
      </if>
      <if test="surveyDate != null" >
        survey_date = #{surveyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="surveyUser != null" >
        survey_user = #{surveyUser,jdbcType=VARCHAR},
      </if>
      <if test="surveyAddress != null" >
        survey_address = #{surveyAddress,jdbcType=VARCHAR},
      </if>
      <if test="surveyResult != null" >
        survey_result = #{surveyResult,jdbcType=VARCHAR},
      </if>
      <if test="surveyTarget != null" >
        survey_target = #{surveyTarget,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null">
        check_status = #{checkStatus,jdbcType=BIT},
      </if>
      <if test="errorPlan != null">
        error_plan = #{errorPlan,jdbcType=VARCHAR},
      </if>
      <if test="saleCert != null">
        sale_cert = #{saleCert,jdbcType=VARCHAR},
      </if>
      <if test="errorReason != null">
        error_reason = #{errorReason,jdbcType=VARCHAR},
      </if>
      <if test="checkTempMethod != null">
        check_temp_method = #{checkTempMethod,jdbcType=BIGINT},
      </if>
      <if test="checkUser != null">
        check_user = #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkResult != null">
        check_result = #{checkResult,jdbcType=VARCHAR},
      </if>
      <if test="saleState != null">
        sale_state = #{saleState,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.erp.entities.RepositoryOrderDetail" >
    update repository_order_detail
    set repository_order_id = #{repositoryOrderId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      receive_quality = #{receiveQuality,jdbcType=DECIMAL},
      big_quality = #{bigQuality,jdbcType=DECIMAL},
      free = #{free,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      exp_date = #{expDate,jdbcType=TIMESTAMP},
      product_date = #{productDate,jdbcType=TIMESTAMP},
      batch_code = #{batchCode,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      warehouse_location = #{warehouseLocation,jdbcType=VARCHAR},
      reject_quality = #{rejectQuality,jdbcType=DECIMAL},
      reject_comment = #{rejectComment,jdbcType=VARCHAR},
      tax_rate = #{taxRate,jdbcType=DECIMAL},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      in_count = #{inCount,jdbcType=DECIMAL},
      right_count = #{rightCount,jdbcType=DECIMAL},
      error_count = #{errorCount,jdbcType=DECIMAL},
      survey_quality = #{surveyQuality,jdbcType=DECIMAL},
      survey_date = #{surveyDate,jdbcType=TIMESTAMP},
      survey_user = #{surveyUser,jdbcType=VARCHAR},
      survey_address = #{surveyAddress,jdbcType=VARCHAR},
      survey_result = #{surveyResult,jdbcType=VARCHAR},
      survey_target = #{surveyTarget,jdbcType=VARCHAR},
      check_status = #{checkStatus,jdbcType=BIT},
      error_plan = #{errorPlan,jdbcType=VARCHAR},
      sale_cert = #{saleCert,jdbcType=VARCHAR},
      error_reason = #{errorReason,jdbcType=VARCHAR},
      check_temp_method = #{checkTempMethod,jdbcType=BIGINT},
      check_user = #{checkUser,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      check_result = #{checkResult,jdbcType=VARCHAR},
      sale_state = #{saleState,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <resultMap id="DetailMap" type="com.yiban.erp.entities.RepositoryOrderDetail">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="repository_order_id" property="repositoryOrderId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="receive_quality" property="receiveQuality" jdbcType="DECIMAL" />
    <result column="big_quality" property="bigQuality" jdbcType="DECIMAL" />
    <result column="free" property="free" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="exp_date" property="expDate" jdbcType="TIMESTAMP" />
    <result column="product_date" property="productDate" jdbcType="TIMESTAMP" />
    <result column="batch_code" property="batchCode" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="warehouse_location" property="warehouseLocation" jdbcType="VARCHAR" />
    <result column="reject_quality" property="rejectQuality" jdbcType="DECIMAL" />
    <result column="reject_comment" property="rejectComment" jdbcType="VARCHAR" />
    <result column="tax_rate" property="taxRate" jdbcType="DECIMAL"/>
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="in_count" property="inCount" jdbcType="DECIMAL" />
    <result column="right_count" property="rightCount" jdbcType="DECIMAL" />
    <result column="error_count" property="errorCount" jdbcType="DECIMAL" />
    <result column="survey_quality" property="surveyQuality" jdbcType="DECIMAL" />
    <result column="survey_date" property="surveyDate" jdbcType="TIMESTAMP" />
    <result column="survey_user" property="surveyUser" jdbcType="VARCHAR" />
    <result column="survey_address" property="surveyAddress" jdbcType="VARCHAR" />
    <result column="survey_result" property="surveyResult" jdbcType="VARCHAR" />
    <result column="survey_target" property="surveyTarget" jdbcType="VARCHAR" />
    <result column="check_status" property="checkStatus" jdbcType="BIT" />
    <result column="error_plan" property="errorPlan" jdbcType="VARCHAR" />
    <result column="sale_cert" property="saleCert" jdbcType="VARCHAR" />
    <result column="error_reason" property="errorReason" jdbcType="VARCHAR" />
    <result column="check_temp_method" property="checkTempMethod" jdbcType="BIGINT" />
    <result column="check_user" property="checkUser" jdbcType="VARCHAR" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="check_result" property="checkResult" jdbcType="VARCHAR" />
    <result column="sale_state" property="saleState" jdbcType="BIT" />
    <association property="goods" column="goods_id" javaType="com.yiban.erp.entities.Goods" resultMap="GoodsResultMap"/>
  </resultMap>

  <resultMap id="GoodsResultMap" type="com.yiban.erp.entities.Goods">
    <id column="g_id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="origin" jdbcType="VARCHAR" property="origin" />
    <result column="jx" jdbcType="VARCHAR" property="jx" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="serial" jdbcType="VARCHAR" property="serial" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="factory_id" jdbcType="INTEGER" property="factoryId" />
    <result column="unit" jdbcType="INTEGER" property="unit" />
    <result column="pack_unit" jdbcType="INTEGER" property="packUnit" />
    <result column="medium_pack" jdbcType="INTEGER" property="mediumPack" />
    <result column="big_pack" jdbcType="INTEGER" property="bigPack" />
    <result column="pinyin" jdbcType="VARCHAR" property="pinyin" />
    <result column="storage_condition" jdbcType="VARCHAR" property="storageCondition" />
    <result column="storage_description" jdbcType="VARCHAR" property="storageDescription" />
    <result column="permit_id" jdbcType="BIGINT" property="permitId" />
    <result column="jx_id" jdbcType="INTEGER" property="jxId" />
    <result column="is_foreign" jdbcType="BIT" property="isForeign" />
    <result column="is_prescription" jdbcType="BIT" property="isPrescription" />
    <result column="special_managed" jdbcType="BIT" property="specialManaged" />
    <result column="categoryName" jdbcType="VARCHAR" property="categoryName"/>
    <result column="factory" jdbcType="VARCHAR" property="factory"/>
    <result column="unitName" jdbcType="VARCHAR" property="unitName"/>
    <result column="packUnitName" jdbcType="VARCHAR" property="packUnitName"/>
  </resultMap>

  <select id="getByOrderIdList" parameterType="map" resultMap="DetailMap">
    select
      *
    from repository_order_detail r left join (
      select
      g.id as g_id, g.name, g.company_id, g.category_id, g.full_name, g.origin, g.jx, g.spec, g.serial, g.code,
      g.factory_id, g.unit, g.pack_unit, g.medium_pack, g.big_pack, g.pinyin, g.storage_condition, g.storage_description,
      g.permit_id, g.jx_id, g.is_foreign, g.is_prescription, g.special_managed,
      c.name as categoryName, f.name as factory, u1.name as unitName, u2.name as packUnitName
      from goods g
      left join good_category c on g.category_id = c.id
      left join factory f on g.factory_id = f.id
      left join unit u1 on g.unit = u1.id
      left join unit u2 on g.unit = u2.id
    ) t on r.goods_id = t.g_id
    where r.repository_order_id in
    <foreach collection="orderIdList" separator="," open="(" close=")" item="item">
      #{item}
    </foreach>
  </select>

  <select id="getByOrderId" parameterType="java.lang.Long" resultMap="DetailMap">
    select
      *
    from repository_order_detail r left join (
      select
      g.id as g_id, g.name, g.company_id, g.category_id, g.full_name, g.origin, g.jx, g.spec, g.serial, g.code,
      g.factory_id, g.unit, g.pack_unit, g.medium_pack, g.big_pack, g.pinyin, g.storage_condition, g.storage_description,
      g.permit_id, g.jx_id, g.is_foreign, g.is_prescription, g.special_managed,
      c.name as categoryName, f.name as factory, u1.name as unitName, u2.name as packUnitName
      from goods g
      left join good_category c on g.category_id = c.id
      left join factory f on g.factory_id = f.id
      left join unit u1 on g.unit = u1.id
      left join unit u2 on g.unit = u2.id
    ) t on r.goods_id = t.g_id
    where r.repository_order_id = #{orderId}
  </select>

  <update id="setCheckByOrder" parameterType="com.yiban.erp.dto.ReceiveSetReq">
    update repository_order_detail
      set
        check_status = 1,
        in_count = IFNULL(right_count, receive_quality),
        check_temp_method = #{checkTempMethod},
        check_user = #{checkUser},
        check_time = #{checkTime},
        check_result = #{checkResult},
        update_by = #{updateBy},
        update_time = #{updateTime}
    where repository_order_id = #{orderId}
  </update>

  <update id="setCheckByDetail" parameterType="com.yiban.erp.dto.ReceiveSetReq">
    update repository_order_detail
      set
        check_status = 1,
        in_count = #{inCount},
        right_count = #{rightCount},
        error_count = #{errorCount},
        error_plan = #{errorPlan},
        sale_cert = #{saleCert},
        error_reason = #{errorReason},
        check_temp_method = #{checkTempMethod},
        check_user = #{checkUser},
        check_time = #{checkTime},
        check_result = #{checkResult},
        update_by = #{updateBy},
        update_time = #{updateTime}
    where id = #{detailId}
  </update>

  <update id="setUnCheckByOrder" parameterType="com.yiban.erp.dto.ReceiveSetReq">
    update repository_order_detail
      set check_status = 0,
          update_by = #{updateBy},
          update_time = #{updateTime}
    where repository_order_id = #{orderId}
  </update>

  <update id="setUnCheckByDetail" parameterType="com.yiban.erp.dto.ReceiveSetReq">
    update repository_order_detail
      set check_status = 0,
          update_by = #{updateBy},
          update_time = #{updateTime}
    where id = #{detailId}
  </update>


</mapper>