<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.SellOrderShipMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.SellOrderShip" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sell_order_id" property="sellOrderId" jdbcType="BIGINT" />
    <result column="ship_company_id" property="shipCompanyId" jdbcType="INTEGER" />
    <result column="issuance_date" property="issuanceDate" jdbcType="TIMESTAMP" />
    <result column="ship_number" property="shipNumber" jdbcType="VARCHAR" />
    <result column="temper_control_id" property="temperControlId" jdbcType="BIGINT" />
    <result column="ship_tool_id" property="shipToolId" jdbcType="BIGINT" />
    <result column="ship_method" property="shipMethod" jdbcType="BIGINT" />
    <result column="ship_address" property="shipAddress" jdbcType="VARCHAR" />
    <result column="receive_user_name" property="receiveUserName" jdbcType="VARCHAR" />
    <result column="receive_user_phone" property="receiveUserPhone" jdbcType="VARCHAR" />
    <result column="receive_address" property="receiveAddress" jdbcType="VARCHAR" />
    <result column="car_number" property="carNumber" jdbcType="VARCHAR" />
    <result column="ship_phone" property="shipPhone" jdbcType="VARCHAR" />
    <result column="driver_name" property="driverName" jdbcType="VARCHAR" />
    <result column="driver_file_no" property="driverFileNo" jdbcType="VARCHAR" />
    <result column="ship_temper" property="shipTemper" jdbcType="DECIMAL" />
    <result column="ship_quantity" property="shipQuantity" jdbcType="DECIMAL" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="mileage" property="mileage" jdbcType="DECIMAL" />
    <result column="ship_start_time" property="shipStartTime" jdbcType="TIMESTAMP" />
    <result column="ship_end_time" property="shipEndTime" jdbcType="TIMESTAMP" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sell_order_id, ship_company_id, issuance_date, ship_number, temper_control_id, ship_tool_id, ship_method,
    ship_address, receive_user_name, receive_user_phone, receive_address, car_number, ship_phone, driver_name,
    driver_file_no, ship_temper, ship_quantity, operator,
    mileage, ship_start_time, ship_end_time, comment, create_by, create_time, update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sell_order_ship
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sell_order_ship
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.SellOrderShip" keyProperty="id" useGeneratedKeys="true">
    insert into sell_order_ship (sell_order_id, ship_company_id, issuance_date,
      ship_number, temper_control_id, ship_tool_id,
      ship_method, ship_address, receive_user_name, receive_user_phone, receive_address, car_number,
      ship_phone, driver_name, driver_file_no, ship_temper,
      ship_quantity, operator, mileage, 
      ship_start_time, ship_end_time, comment, create_by,
      create_time, update_by, update_time
      )
    values (#{sellOrderId,jdbcType=BIGINT}, #{shipCompanyId,jdbcType=INTEGER}, #{issuanceDate,jdbcType=TIMESTAMP},
      #{shipNumber,jdbcType=VARCHAR}, #{temperControlId,jdbcType=BIGINT}, #{shipToolId,jdbcType=BIGINT},
      #{shipMethod,jdbcType=BIGINT}, #{shipAddress,jdbcType=VARCHAR},
      #{receiveUserName,jdbcType=VARCHAR}, #{receiveUserPhone,jdbcType=VARCHAR}, #{receiveAddress,jdbcType=VARCHAR},
      #{carNumber,jdbcType=VARCHAR},
      #{shipPhone,jdbcType=VARCHAR}, #{driverName,jdbcType=VARCHAR}, #{driverFileNo,jdbcType=VARCHAR}, #{shipTemper,jdbcType=DECIMAL},
      #{shipQuantity,jdbcType=DECIMAL}, #{operator,jdbcType=VARCHAR}, #{mileage,jdbcType=DECIMAL},
      #{shipStartTime,jdbcType=TIMESTAMP}, #{shipEndTime,jdbcType=TIMESTAMP}, #{comment,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.SellOrderShip" >
    update sell_order_ship
    <set >
      <if test="sellOrderId != null" >
        sell_order_id = #{sellOrderId,jdbcType=BIGINT},
      </if>
      <if test="shipCompanyId != null" >
        ship_company_id = #{shipCompanyId,jdbcType=INTEGER},
      </if>
      <if test="issuanceDate != null" >
        issuance_date = #{issuanceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shipNumber != null" >
        ship_number = #{shipNumber,jdbcType=VARCHAR},
      </if>
      <if test="temperControlId != null" >
        temper_control_id = #{temperControlId,jdbcType=BIGINT},
      </if>
      <if test="shipToolId != null" >
        ship_tool_id = #{shipToolId,jdbcType=BIGINT},
      </if>
      <if test="shipMethod != null" >
        ship_method = #{shipMethod,jdbcType=BIGINT},
      </if>
      <if test="shipAddress != null" >
        ship_address = #{shipAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiveUserName">
        receive_user_name = #{receiveUserName,jdbcType=VARCHAR},
      </if>
      <if test="receiveUserPhone">
        receive_user_phone = #{receiveUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="receiveAddress">
        receive_address = #{receiveAddress,jdbcType=VARCHAR},
      </if>
      <if test="carNumber != null" >
        car_number = #{carNumber,jdbcType=VARCHAR},
      </if>
      <if test="shipPhone != null" >
        ship_phone = #{shipPhone,jdbcType=VARCHAR},
      </if>
      <if test="driverName != null" >
        driver_name =#{driverName,jdbcType=VARCHAR},
      </if>
      <if test="driverFileNo != null" >
        driver_file_no = #{driverFileNo,jdbcType=VARCHAR},
      </if>
      <if test="shipTemper != null" >
        ship_temper = #{shipTemper,jdbcType=DECIMAL},
      </if>
      <if test="shipQuantity != null" >
        ship_quantity = #{shipQuantity,jdbcType=DECIMAL},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null" >
        mileage = #{mileage,jdbcType=DECIMAL},
      </if>
      <if test="shipStartTime != null" >
        ship_start_time = #{shipStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shipEndTime != null" >
        ship_end_time = #{shipEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getBySellOrderId" parameterType="java.lang.Long" resultType="com.yiban.erp.entities.SellOrderShip">
    select
      s.id as id, s.sell_order_id as sellOrderId, s.ship_company_id as shipCompanyId,
      s.issuance_date as issuanceDate, s.ship_number as shipNumber, s.temper_control_id as temperControlId,
      s.ship_tool_id as shipToolId, s.ship_method as shipMethod, s.ship_address as shipAddress,
      s.receive_user_name as receiveUserName, s.receive_user_phone as receiveUserPhone, s.receive_address as receiveAddress,
      s.car_number as carNumber, s.ship_phone as shipPhone,
      s.driver_name as driverName, s.driver_file_no as driverFileNo, s.ship_temper as shipTemper,
      s.ship_quantity as shipQuantity, s.operator as operator,
      s.mileage as mileage, s.ship_start_time as shipStartTime, s.ship_end_time as shipEndTime,
      s.comment as comment, s.create_by as createBy, s.create_time as createTime,
      s.update_by as updateBy, s.update_time as updateTime,
      c.name as shipCompanyName,
      o1.value as shipToolName,
      o2.value as shipMethodName,
      o3.value as temperControlName
    from sell_order_ship s
      left join ship_company c on s.ship_company_id = c.id
      left join options o3 on s.temper_control_id = o3.id
      left join options o1 on s.ship_tool_id = o1.id
      left join options o2 on s.ship_method = o2.id
    where s.sell_order_id = #{orderId}
  </select>


</mapper>