<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.SellOrderBackMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.SellOrderBack" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="have_sell_order" property="haveSellOrder" jdbcType="BIT" />
    <result column="ref_order_id" property="refOrderId" jdbcType="BIGINT" />
    <result column="ref_order_no" property="refOrderNo" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="customer_rep_id" property="customerRepId" jdbcType="BIGINT" />
    <result column="customer_rep_name" property="customerRepName" jdbcType="VARCHAR" />
    <result column="sale_id" property="saleId" jdbcType="BIGINT" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
    <result column="temper_control_id" property="temperControlId" jdbcType="BIGINT" />
    <result column="back_reason" property="backReason" jdbcType="VARCHAR" />
    <result column="ship_company_id" property="shipCompanyId" jdbcType="INTEGER" />
    <result column="ship_no" property="shipNo" jdbcType="VARCHAR" />
    <result column="ship_date" property="shipDate" jdbcType="DATE" />
    <result column="receive_date" property="receiveDate" jdbcType="DATE" />
    <result column="ship_method" property="shipMethod" jdbcType="BIGINT" />
    <result column="ship_tool" property="shipTool" jdbcType="BIGINT" />
    <result column="ship_car_no" property="shipCarNo" jdbcType="VARCHAR" />
    <result column="ship_driver_name" property="shipDriverName" jdbcType="VARCHAR" />
    <result column="ship_start_address" property="shipStartAddress" jdbcType="VARCHAR" />
    <result column="receive_temper" property="receiveTemper" jdbcType="DECIMAL" />
    <result column="receive_quantity" property="receiveQuantity" jdbcType="DECIMAL" />
    <result column="total_quantity" property="totalQuantity" jdbcType="DECIMAL" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="total_cost_amount" property="totalCostAmount" jdbcType="DECIMAL" />
    <result column="free_amount" property="freeAmount" jdbcType="DECIMAL" />
    <result column="back_sale_user" property="backSaleUser" jdbcType="VARCHAR" />
    <result column="back_sale_time" property="backSaleTime" jdbcType="TIMESTAMP" />
    <result column="back_sale_result" property="backSaleResult" jdbcType="VARCHAR" />
    <result column="back_quality_user" property="backQualityUser" jdbcType="VARCHAR" />
    <result column="back_quality_time" property="backQualityTime" jdbcType="TIMESTAMP" />
    <result column="back_quality_result" property="backQualityResult" jdbcType="VARCHAR" />
    <result column="quality_check_time" property="qualityCheckTime" jdbcType="TIMESTAMP" />
    <result column="quality_check_user" property="qualityCheckUser" jdbcType="VARCHAR" />
    <result column="final_check_time" property="finalCheckTime" jdbcType="TIMESTAMP" />
    <result column="final_check_user" property="finalCheckUser" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, have_sell_order, ref_order_id, ref_order_no, order_number, status, customer_id,
    customer_name, customer_rep_id, customer_rep_name, sale_id, warehouse_id,
    temper_control_id, back_reason, ship_company_id, ship_no, ship_date,
    receive_date, ship_method, ship_tool, ship_car_no, ship_driver_name, ship_start_address, 
    receive_temper, receive_quantity, total_quantity, total_amount, total_cost_amount, free_amount,
    back_sale_user, back_sale_time, back_sale_result, back_quality_user, back_quality_time, 
    back_quality_result, quality_check_time, quality_check_user, final_check_time, final_check_user, 
    created_by, updated_by, created_time, updated_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sell_order_back
    where id = #{id,jdbcType=BIGINT} and status != 'DELETE'
  </select>

  <insert id="insert" parameterType="com.yiban.erp.entities.SellOrderBack" keyProperty="id" useGeneratedKeys="true">
    insert into sell_order_back (company_id, have_sell_order,
      ref_order_id, ref_order_no, order_number, status,
      customer_id, customer_name, customer_rep_id, 
      customer_rep_name, sale_id,
      warehouse_id, temper_control_id,
      back_reason, ship_company_id, ship_no, 
      ship_date, receive_date, ship_method, 
      ship_tool, ship_car_no, ship_driver_name, 
      ship_start_address, receive_temper, receive_quantity, 
      total_quantity, total_amount, total_cost_amount, free_amount,
      back_sale_user, back_sale_time, back_sale_result, 
      back_quality_user, back_quality_time, back_quality_result, 
      quality_check_time, quality_check_user, final_check_time, 
      final_check_user, created_by, updated_by, 
      created_time, updated_time)
    values (#{companyId,jdbcType=INTEGER}, #{haveSellOrder,jdbcType=BIT},
      #{refOrderId,jdbcType=BIGINT}, #{refOrderNo,jdbcType=VARCHAR}, #{orderNumber,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{customerId,jdbcType=BIGINT}, #{customerName,jdbcType=VARCHAR}, #{customerRepId,jdbcType=BIGINT}, 
      #{customerRepName,jdbcType=VARCHAR}, #{saleId,jdbcType=BIGINT},
      #{warehouseId,jdbcType=INTEGER}, #{temperControlId,jdbcType=BIGINT},
      #{backReason,jdbcType=VARCHAR}, #{shipCompanyId,jdbcType=INTEGER}, #{shipNo,jdbcType=VARCHAR}, 
      #{shipDate,jdbcType=DATE}, #{receiveDate,jdbcType=DATE}, #{shipMethod,jdbcType=BIGINT}, 
      #{shipTool,jdbcType=BIGINT}, #{shipCarNo,jdbcType=VARCHAR}, #{shipDriverName,jdbcType=VARCHAR}, 
      #{shipStartAddress,jdbcType=VARCHAR}, #{receiveTemper,jdbcType=DECIMAL}, #{receiveQuantity,jdbcType=DECIMAL}, 
      #{totalQuantity,jdbcType=DECIMAL}, #{totalAmount,jdbcType=DECIMAL}, #{totalCostAmount,jdbcType=DECIMAL}, #{freeAmount,jdbcType=DECIMAL},
      #{backSaleUser,jdbcType=VARCHAR}, #{backSaleTime,jdbcType=TIMESTAMP}, #{backSaleResult,jdbcType=VARCHAR}, 
      #{backQualityUser,jdbcType=VARCHAR}, #{backQualityTime,jdbcType=TIMESTAMP}, #{backQualityResult,jdbcType=VARCHAR}, 
      #{qualityCheckTime,jdbcType=TIMESTAMP}, #{qualityCheckUser,jdbcType=VARCHAR}, #{finalCheckTime,jdbcType=TIMESTAMP}, 
      #{finalCheckUser,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.SellOrderBack" >
    update sell_order_back
    <set >
      <if test="haveSellOrder != null" >
        have_sell_order = #{haveSellOrder,jdbcType=BIT},
      </if>
      <if test="refOrderId != null" >
        ref_order_id = #{refOrderId,jdbcType=BIGINT},
      </if>
      <if test="refOrderNo != null" >
        ref_order_no = #{refOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerRepId != null" >
        customer_rep_id = #{customerRepId,jdbcType=BIGINT},
      </if>
      <if test="customerRepName != null" >
        customer_rep_name = #{customerRepName,jdbcType=VARCHAR},
      </if>
      <if test="saleId != null" >
        sale_id = #{saleId,jdbcType=BIGINT},
      </if>
      <if test="warehouseId != null" >
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="temperControlId != null" >
        temper_control_id = #{temperControlId,jdbcType=BIGINT},
      </if>
      <if test="backReason != null" >
        back_reason = #{backReason,jdbcType=VARCHAR},
      </if>
      <if test="shipCompanyId != null" >
        ship_company_id = #{shipCompanyId,jdbcType=INTEGER},
      </if>
      <if test="shipNo != null" >
        ship_no = #{shipNo,jdbcType=VARCHAR},
      </if>
      <if test="shipDate != null" >
        ship_date = #{shipDate,jdbcType=DATE},
      </if>
      <if test="receiveDate != null" >
        receive_date = #{receiveDate,jdbcType=DATE},
      </if>
      <if test="shipMethod != null" >
        ship_method = #{shipMethod,jdbcType=BIGINT},
      </if>
      <if test="shipTool != null" >
        ship_tool = #{shipTool,jdbcType=BIGINT},
      </if>
      <if test="shipCarNo != null" >
        ship_car_no = #{shipCarNo,jdbcType=VARCHAR},
      </if>
      <if test="shipDriverName != null" >
        ship_driver_name = #{shipDriverName,jdbcType=VARCHAR},
      </if>
      <if test="shipStartAddress != null" >
        ship_start_address = #{shipStartAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiveTemper != null" >
        receive_temper = #{receiveTemper,jdbcType=DECIMAL},
      </if>
      <if test="receiveQuantity != null" >
        receive_quantity = #{receiveQuantity,jdbcType=DECIMAL},
      </if>
      <if test="totalQuantity != null" >
        total_quantity = #{totalQuantity,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalCostAmount != null" >
        total_cost_amount = #{totalCostAmount,jdbcType=DECIMAL},
      </if>
      <if test="freeAmount != null" >
        free_amount = #{freeAmount,jdbcType=DECIMAL},
      </if>
      <if test="backSaleUser != null" >
        back_sale_user = #{backSaleUser,jdbcType=VARCHAR},
      </if>
      <if test="backSaleTime != null" >
        back_sale_time = #{backSaleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="backSaleResult != null" >
        back_sale_result = #{backSaleResult,jdbcType=VARCHAR},
      </if>
      <if test="backQualityUser != null" >
        back_quality_user = #{backQualityUser,jdbcType=VARCHAR},
      </if>
      <if test="backQualityTime != null" >
        back_quality_time = #{backQualityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="backQualityResult != null" >
        back_quality_result = #{backQualityResult,jdbcType=VARCHAR},
      </if>
      <if test="qualityCheckTime != null" >
        quality_check_time = #{qualityCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualityCheckUser != null" >
        quality_check_user = #{qualityCheckUser,jdbcType=VARCHAR},
      </if>
      <if test="finalCheckTime != null" >
        final_check_time = #{finalCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finalCheckUser != null" >
        final_check_user = #{finalCheckUser,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getOrderList" parameterType="com.yiban.erp.dto.SellBackQuery" resultMap="BaseResultMap">
    select
      s.*,
      u.nickname as saleName,
      w.name as warehouseName
    from sell_order_back s
    left join users u on s.sale_id=u.id
    left join warehouse w on s.warehouse_id = w.id
    where s.company_id = #{companyId} and s.status != 'DELETE'
    <if test="warehouseId != null" >
      and s.warehouse_id = #{warehouseId}
    </if>
    <if test="customerId != null" >
      and s.customer_id = #{customerId}
    </if>
    <if test="saleId != null" >
      and s.sale_id = #{saleId}
    </if>
    <if test="createdStartTime != null" >
      and s.created_time >= #{createdStartTime}
    </if>
    <if test="createdEndTime != null" >
      and #{createdEndTime} > s.created_time
    </if>
    <if test="statusList != null" >
      and s.status in
        <foreach collection="statusList" item="item" open="(" close=")" separator=", ">
          #{item}
        </foreach>
    </if>
  </select>

  <select id="getViewBackOrderById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
      s.*,
      u.nickname as saleName,
      w.name as warehouseName,
      ship.name as shipCompanyName
    from sell_order_back s
    left join users u on s.sale_id=u.id
    left join warehouse w on s.warehouse_id = w.id
    left join ship_company ship on s.ship_company_id = ship.id
    where s.id = #{backId} and s.status != 'DELETE'
  </select>

</mapper>