<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.SellReviewOptionMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.SellReviewOption" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sell_detail_id" property="sellDetailId" jdbcType="BIGINT" />
    <result column="review_type" property="reviewType" jdbcType="VARCHAR" />
    <result column="review_status" property="reviewStatus" jdbcType="VARCHAR" />
    <result column="review_comment" property="reviewComment" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sell_detail_id, review_type, review_status, review_comment, create_by, create_time, 
    update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sell_review_options
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sell_review_options
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.SellReviewOption" keyProperty="id" useGeneratedKeys="true" >
    insert into sell_review_options (id, sell_detail_id, review_type, 
      review_status, review_comment, create_by, 
      create_time, update_by, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{sellDetailId,jdbcType=BIGINT}, #{reviewType,jdbcType=VARCHAR}, 
      #{reviewStatus,jdbcType=VARCHAR}, #{reviewComment,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yiban.erp.entities.SellReviewOption" keyProperty="id" useGeneratedKeys="true">
    insert into sell_review_options
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sellDetailId != null" >
        sell_detail_id,
      </if>
      <if test="reviewType != null" >
        review_type,
      </if>
      <if test="reviewStatus != null" >
        review_status,
      </if>
      <if test="reviewComment != null" >
        review_comment,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sellDetailId != null" >
        #{sellDetailId,jdbcType=BIGINT},
      </if>
      <if test="reviewType != null" >
        #{reviewType,jdbcType=VARCHAR},
      </if>
      <if test="reviewStatus != null" >
        #{reviewStatus,jdbcType=VARCHAR},
      </if>
      <if test="reviewComment != null" >
        #{reviewComment,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.SellReviewOption" >
    update sell_review_options
    <set >
      <if test="sellDetailId != null" >
        sell_detail_id = #{sellDetailId,jdbcType=BIGINT},
      </if>
      <if test="reviewType != null" >
        review_type = #{reviewType,jdbcType=VARCHAR},
      </if>
      <if test="reviewStatus != null" >
        review_status = #{reviewStatus,jdbcType=VARCHAR},
      </if>
      <if test="reviewComment != null" >
        review_comment = #{reviewComment,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.erp.entities.SellReviewOption" >
    update sell_review_options
    set sell_detail_id = #{sellDetailId,jdbcType=BIGINT},
      review_type = #{reviewType,jdbcType=VARCHAR},
      review_status = #{reviewStatus,jdbcType=VARCHAR},
      review_comment = #{reviewComment,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getByDetailIdList" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from sell_review_options
    where sell_detail_id in
    <foreach collection="detailIdList" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
    <if test="reviewType != null">
      and review_type = #{reviewType}
    </if>
  </select>

  <delete id="deleteByDetailIdList" parameterType="map">
    delete from sell_review_options where sell_detail_id in
    <foreach collection="detailIdList" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
    <if test="reviewType != null">
      and review_type = #{reviewType}
    </if>
  </delete>

  <select id="getUnCheckDetailIdList" parameterType="map" resultType="java.lang.Long">
    select DISTINCT d.id as detailId
    from sell_order s, sell_order_detail d
    left join sell_review_options o on d.id = o.sell_detail_id
    where s.id = d.sell_order_id and s.id = #{sellOrderId}
    and (o.review_status is null or o.review_status != 'OK') ;
  </select>

  <insert id="replace" parameterType="com.yiban.erp.entities.SellReviewOption" keyProperty="id" useGeneratedKeys="true" >
    replace into sell_review_options (id, sell_detail_id, review_type,
    review_status, review_comment, create_by,
    create_time, update_by, update_time
    )
    values
    <foreach collection="recordList" item="item" open="(" close=")" separator="), (">
      #{item.id,jdbcType=BIGINT}, #{item.sellDetailId,jdbcType=BIGINT}, #{item.reviewType,jdbcType=VARCHAR},
      #{item.reviewStatus,jdbcType=VARCHAR}, #{item.reviewComment,jdbcType=VARCHAR}, #{item.createBy,jdbcType=VARCHAR},
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP}
    </foreach>
  </insert>

</mapper>