<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.SellOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.SellOrderDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sell_order_id" property="sellOrderId" jdbcType="BIGINT" />
    <result column="repertory_id" property="repertoryId" jdbcType="BIGINT" />
    <result column="quantity" property="quantity" jdbcType="DECIMAL" />
    <result column="fix_price" property="fixPrice" jdbcType="DECIMAL" />
    <result column="dis_price" property="disPrice" jdbcType="DECIMAL" />
    <result column="free" property="free" jdbcType="DECIMAL" />
    <result column="real_price" property="realPrice" jdbcType="DECIMAL" />
    <result column="single_price" property="singlePrice" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="check_status" property="checkStatus" jdbcType="VARCHAR" />
    <result column="check_result" property="checkResult" jdbcType="VARCHAR" />
    <result column="check_date" property="checkDate" jdbcType="TIMESTAMP" />
    <result column="check_user" property="checkUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sell_order_id, repertory_id, quantity, fix_price, dis_price, free, real_price, single_price,
    amount, tax_rate, create_by, create_time, update_by, update_time, check_status, check_result, check_date,
    check_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sell_order_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sell_order_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.SellOrderDetail" keyProperty="id" useGeneratedKeys="true" >
    insert into sell_order_detail (sell_order_id, repertory_id,
      quantity, fix_price, dis_price, 
      free, real_price, single_price, 
      amount, tax_rate, create_by, 
      create_time, update_by, update_time,
      check_status, check_result, check_date,
      check_user
      )
    values (#{sellOrderId,jdbcType=BIGINT}, #{repertoryId,jdbcType=BIGINT},
      #{quantity,jdbcType=DECIMAL}, #{fixPrice,jdbcType=DECIMAL}, #{disPrice,jdbcType=DECIMAL},
      #{free,jdbcType=DECIMAL}, #{realPrice,jdbcType=DECIMAL}, #{singlePrice,jdbcType=DECIMAL}, 
      #{amount,jdbcType=DECIMAL}, #{taxRate,jdbcType=DECIMAL}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
      #{checkStatus,jdbcType=VARCHAR}, #{checkResult,jdbcType=VARCHAR}, #{checkDate,jdbcType=TIMESTAMP},
      #{checkUser,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="replaceBatch" parameterType="map" keyProperty="id" useGeneratedKeys="true">
    replace into sell_order_detail (sell_order_id, repertory_id,
      quantity, fix_price, dis_price,
      free, real_price, single_price,
      amount, tax_rate, create_by,
      create_time, update_by, update_time,
      check_status, check_result, check_date,
      check_user
      )
    values
    <foreach collection="detailList" item="item" open="(" close=")" separator="), (">
      #{item.sellOrderId,jdbcType=BIGINT}, #{item.repertoryId,jdbcType=BIGINT},
      #{item.quantity,jdbcType=DECIMAL}, #{item.fixPrice,jdbcType=DECIMAL}, #{item.disPrice,jdbcType=DECIMAL},
      #{item.free,jdbcType=DECIMAL}, #{item.realPrice,jdbcType=DECIMAL}, #{item.singlePrice,jdbcType=DECIMAL},
      #{item.amount,jdbcType=DECIMAL}, #{item.taxRate,jdbcType=DECIMAL}, #{item.createBy,jdbcType=VARCHAR},
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP},
      #{item.checkStatus,jdbcType=VARCHAR}, #{item.checkResult,jdbcType=VARCHAR}, #{item.checkDate,jdbcType=TIMESTAMP},
      #{item.checkUser,jdbcType=VARCHAR}
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="com.yiban.erp.entities.SellOrderDetail" keyProperty="id" useGeneratedKeys="true" >
    insert into sell_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sellOrderId != null" >
        sell_order_id,
      </if>
      <if test="repertoryId != null" >
        repertory_id,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="fixPrice != null" >
        fix_price,
      </if>
      <if test="disPrice != null" >
        dis_price,
      </if>
      <if test="free != null" >
        free,
      </if>
      <if test="realPrice != null" >
        real_price,
      </if>
      <if test="singlePrice != null" >
        single_price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="taxRate != null" >
        tax_rate,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="checkStatus != null" >
        check_status,
      </if>
      <if test="checkResult != null" >
        check_result,
      </if>
      <if test="checkDate != null" >
        check_date,
      </if>
      <if test="checkUser != null" >
        check_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sellOrderId != null" >
        #{sellOrderId,jdbcType=BIGINT},
      </if>
      <if test="repertoryId != null" >
        #{repertoryId,jdbcType=BIGINT},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="fixPrice != null" >
        #{fixPrice,jdbcType=DECIMAL},
      </if>
      <if test="disPrice != null" >
        #{disPrice,jdbcType=DECIMAL},
      </if>
      <if test="free != null" >
        #{free,jdbcType=DECIMAL},
      </if>
      <if test="realPrice != null" >
        #{realPrice,jdbcType=DECIMAL},
      </if>
      <if test="singlePrice != null" >
        #{singlePrice,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkResult != null" >
        #{checkResult,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null" >
        #{checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkUser != null" >
        #{checkUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.SellOrderDetail" >
    update sell_order_detail
    <set >
      <if test="sellOrderId != null" >
        sell_order_id = #{sellOrderId,jdbcType=BIGINT},
      </if>
      <if test="repertoryId != null" >
        repertory_id = #{repertoryId,jdbcType=BIGINT},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="fixPrice != null" >
        fix_price = #{fixPrice,jdbcType=DECIMAL},
      </if>
      <if test="disPrice != null" >
        dis_price = #{disPrice,jdbcType=DECIMAL},
      </if>
      <if test="free != null" >
        free = #{free,jdbcType=DECIMAL},
      </if>
      <if test="realPrice != null" >
        real_price = #{realPrice,jdbcType=DECIMAL},
      </if>
      <if test="singlePrice != null" >
        single_price = #{singlePrice,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null" >
        tax_rate = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkResult != null" >
        check_result = #{checkResult,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null" >
        check_date = #{checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkUser != null" >
        check_user = #{checkUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.erp.entities.SellOrderDetail" >
    update sell_order_detail
    set sell_order_id = #{sellOrderId,jdbcType=BIGINT},
      repertory_id = #{repertoryId,jdbcType=BIGINT},
      quantity = #{quantity,jdbcType=DECIMAL},
      fix_price = #{fixPrice,jdbcType=DECIMAL},
      dis_price = #{disPrice,jdbcType=DECIMAL},
      free = #{free,jdbcType=DECIMAL},
      real_price = #{realPrice,jdbcType=DECIMAL},
      single_price = #{singlePrice,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      tax_rate = #{taxRate,jdbcType=DECIMAL},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      check_status = #{checkStatus,jdbcType=VARCHAR},
      check_result = #{checkResult,jdbcType=VARCHAR},
      check_date = #{checkDate,jdbcType=TIMESTAMP},
      check_user = #{checkUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getDetailList" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from sell_order_detail
    where sell_order_id = #{sellOrderId,jdbcType=BIGINT}
  </select>

  <select id="getDetailHistory" parameterType="map" resultType="com.yiban.erp.entities.SellOrderDetail">
    select
      t.id as id, t.sell_order_id as sellOrderId, t.repertory_id as repertoryId, t.quantity as quantity,
      t.fix_price as fixPrice, t.dis_price as disPrice, t.free as free, t.real_price as realPrice,
      t.single_price as singlePrice, t.amount as amount, t.tax_rate as taxRate,
      t.create_by as createBy, t.create_time as createTime, t.update_by as updateBy, t.update_time as updateTime,
      t.check_status as checkStatus, t.check_result as checkResult, t.check_date as checkDate, t.check_user as checkUser,
      c.name as customerName,
      s.create_order_date as createOrderDate,
      u.nickname as salerNickName,
      u.realname as salerRealName
    from sell_order_detail t, sell_order s, users u, customer c, repertory_info r
    where t.sell_order_id = s.id and s.customer_id = c.id
    and s.saler_id = u.id and t.repertory_id = r.id
    and s.company_id = #{companyId}
    and s.customer_id = #{customerId}
    and r.good_id in
    <foreach collection="goodIds" separator="," item="item" close=")" open="(">
      #{item}
    </foreach>
    order by s.create_order_date desc
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>

  <select id="getUnCheckDetailIdList" parameterType="java.lang.Long" resultType="java.lang.Long">
    select
      distinct d.id
    from sell_order s, sell_order_detail d
    where s.id = d.sell_order_id
    and s.id = #{sellOrderId}
    and (d.check_status is null or d.check_status != 'OK');
  </select>

  <select id="getCheckOkDetailIdList" parameterType="java.lang.Long" resultType="java.lang.Long">
    select
    distinct d.id
    from sell_order s, sell_order_detail d
    where s.id = d.sell_order_id
    and s.id = #{sellOrderId}
    and d.check_status = 'OK';
  </select>

  <update id="updateCheckResult" parameterType="map" >
    update sell_order_detail
      set check_status = #{reviewAction.checkStatus},
          check_result = #{reviewAction.checkResult},
          check_user = #{reviewAction.checkUser},
          check_date = #{reviewAction.checkDate},
          update_time = #{updateTime},
          update_by = #{updateBy}
    where id in
    <foreach collection="detailIdList" item="item" open="(" close=")" separator="," >
      #{item}
    </foreach>
  </update>

</mapper>