<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.SellOrderMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.SellOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="ref_no" property="refNo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="bill_status" property="billStatus" jdbcType="VARCHAR" />
    <result column="bill_type" property="billType" jdbcType="INTEGER" />
    <result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />
    <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="customer_rep_id" property="customerRepId" jdbcType="INTEGER" />
    <result column="sale_id" property="saleId" jdbcType="BIGINT" />
    <result column="temper_control_id" property="temperControlId" jdbcType="BIGINT" />
    <result column="create_order_date" property="createOrderDate" jdbcType="DATE" />
    <result column="take_goods_user" property="takeGoodsUser" jdbcType="VARCHAR" />
    <result column="pay_order_date" property="payOrderDate" jdbcType="DATE" />
    <result column="mark_up_rate" property="markUpRate" jdbcType="DECIMAL" />
    <result column="ship_method" property="shipMethod" jdbcType="BIGINT" />
    <result column="ship_tool" property="shipTool" jdbcType="BIGINT" />
    <result column="ship_company_id" property="shipCompanyId" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
    <result column="total_quantity" property="totalQuantity" jdbcType="DECIMAL" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="free_amount" property="freeAmount" jdbcType="DECIMAL" />
    <result column="dis_rate" property="disRate" jdbcType="DECIMAL" />
    <result column="paid_amount" property="paidAmount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, order_number, ref_no, status, bill_status,bill_type,tax_rate,invoice_title,customer_id, customer_rep_id, sale_id,
    temper_control_id, create_order_date, take_goods_user, pay_order_date, mark_up_rate,
    ship_method, ship_tool, ship_company_id, comment, create_by, create_time,
    update_by, update_time, warehouse_id, total_quantity, total_amount, free_amount, dis_rate, paid_amount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sell_order
    where id = #{id,jdbcType=BIGINT}
    and status != 'DELETE'
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sell_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.SellOrder" keyProperty="id" useGeneratedKeys="true" >
    insert into sell_order (company_id, order_number,
      ref_no, status,bill_status,bill_type,tax_rate,invoice_title, customer_id,
      customer_rep_id, sale_id, temper_control_id,
      create_order_date, take_goods_user, pay_order_date,
      mark_up_rate, ship_method, ship_tool, ship_company_id,
      comment, create_by, create_time, 
      update_by, update_time, warehouse_id, total_quantity, total_amount,
      free_amount, dis_rate, paid_amount)
    values (#{companyId,jdbcType=INTEGER}, #{orderNumber,jdbcType=VARCHAR},
      #{refNo,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},   #{billStatus,jdbcType=VARCHAR},
      #{billType,jdbcType=INTEGER},#{taxRate,jdbcType=DECIMAL},#{invoiceTitle,jdbcType=VARCHAR},
       #{customerId,jdbcType=BIGINT},
      #{customerRepId,jdbcType=INTEGER}, #{saleId,jdbcType=BIGINT}, #{temperControlId,jdbcType=BIGINT},
      #{createOrderDate,jdbcType=DATE}, #{takeGoodsUser,jdbcType=VARCHAR}, #{payOrderDate,jdbcType=DATE},
      #{markUpRate,jdbcType=DECIMAL}, #{shipMethod,jdbcType=BIGINT},
      #{shipTool,jdbcType=BIGINT}, #{shipCompanyId, jdbcType=INTEGER},
      #{comment,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{warehouseId,jdbcType=INTEGER},
      #{totalQuantity,jdbcType=DECIMAL}, #{totalAmount,jdbcType=DECIMAL},
      #{freeAmount,jdbcType=DECIMAL}, #{disRate,jdbcType=DECIMAL}, #{paidAmount,jdbcType=DECIMAL})
  </insert>


    <update id="updatePayment" parameterType="map" >
        update sell_order
        set paid_amount = paid_amount + #{payAmount, jdbcType=DECIMAL}
        where id = #{orderId,jdbcType=BIGINT}
        and total_amount > paid_amount
    </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.SellOrder" >
    update sell_order
    <set >
      <if test="refNo != null" >
        ref_no = #{refNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>

      <if test="billStatus != null" >
        bill_status = #{billStatus,jdbcType=VARCHAR},
      </if>
      <if test="billType != null" >
        bill_type = #{billType,jdbcType=INTEGER},
      </if>
      <if test="taxRate != null" >
        tax_rate = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="invoiceTitle != null" >
        invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
      </if>

      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerRepId != null" >
        customer_rep_id = #{customerRepId,jdbcType=INTEGER},
      </if>
      <if test="saleId != null" >
        sale_id = #{saleId,jdbcType=BIGINT},
      </if>
      <if test="temperControlId != null" >
        temper_control_id = #{temperControlId,jdbcType=BIGINT},
      </if>
      <if test="createOrderDate != null" >
        create_order_date = #{createOrderDate,jdbcType=DATE},
      </if>
      <if test="takeGoodsUser != null">
        take_goods_user = #{takeGoodsUser,jdbcType=VARCHAR},
      </if>
      <if test="payOrderDate != null" >
        pay_order_date = #{payOrderDate,jdbcType=DATE},
      </if>
      <if test="markUpRate != null" >
        mark_up_rate = #{markUpRate,jdbcType=DECIMAL},
      </if>
      <if test="shipMethod != null" >
        ship_method = #{shipMethod,jdbcType=BIGINT},
      </if>
      <if test="shipTool != null" >
        ship_tool = #{shipTool,jdbcType=BIGINT},
      </if>
      <if test="shipCompanyId != null" >
        ship_company_id = #{shipCompanyId, jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId, jdbcType=INTEGER},
      </if>
      <if test="totalQuantity != null">
        total_quantity = #{totalQuantity,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="freeAmount != null" >
        free_amount = #{freeAmount,jdbcType=DECIMAL},
      </if>
      <if test="disRate != null">
        dis_rate = #{disRate, jdbcType=DECIMAL},
      </if>
        <if test="paidAmount != null">
            paid_amount = #{paidAmount, jdbcType=DECIMAL},
        </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getListCount" parameterType="com.yiban.erp.dto.SellOrderQuery" resultType="java.lang.Integer">
    select count(1)
    from sell_order
    where company_id = #{companyId} and status != 'DELETE'
      <if test="customerId != null" >
        and customer_id = #{customerId}
      </if>
      <if test="saleId != null">
        and sale_id = #{saleId}
      </if>
      <if test="status != null" >
        and status = #{status}
      </if>
      <if test="refNo != null">
        <bind name="refNoVal" value="refNo + '%'"/>
        and ref_no like #{refNoVal}
      </if>
      <if test="formCreateOrderDate != null">
        and create_order_date >= #{formCreateOrderDate}
      </if>
      <if test="toCreateOrderDate != null">
        and #{toCreateOrderDate} > create_order_date
      </if>
  </select>

  <resultMap id="ListMap" type="com.yiban.erp.entities.SellOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="ref_no" property="refNo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="bill_status" property="billStatus" jdbcType="VARCHAR" />
    <result column="bill_type" property="billType" jdbcType="INTEGER" />
    <result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />
    <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR" />

    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="customer_rep_id" property="customerRepId" jdbcType="INTEGER" />
    <result column="sale_id" property="saleId" jdbcType="BIGINT" />
    <result column="temper_control_id" property="temperControlId" jdbcType="BIGINT" />
    <result column="create_order_date" property="createOrderDate" jdbcType="DATE" />
    <result column="take_goods_user" property="takeGoodsUser" jdbcType="VARCHAR" />
    <result column="pay_order_date" property="payOrderDate" jdbcType="DATE" />
    <result column="mark_up_rate" property="markUpRate" jdbcType="DECIMAL" />
    <result column="ship_method" property="shipMethod" jdbcType="BIGINT" />
    <result column="ship_tool" property="shipTool" jdbcType="BIGINT" />
    <result column="ship_company_id" property="shipCompanyId" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
    <result column="total_quantity" property="totalQuantity" jdbcType="DECIMAL" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="free_amount" property="freeAmount" jdbcType="DECIMAL" />
    <result column="dis_rate" property="disRate" jdbcType="DECIMAL" />
    <result column="paid_amount" property="paidAmount" jdbcType="DECIMAL" />
    <result column="sale_nick_name" property="saleNickName" jdbcType="VARCHAR" />
    <result column="sale_real_name" property="saleRealName" jdbcType="VARCHAR" />
    <result column="cust_name" property="customerName" jdbcType="VARCHAR"/>
    <association property="customer" javaType="com.yiban.erp.entities.Customer">
      <id column="customer_id" property="id" jdbcType="INTEGER" />
      <result column="cust_name" property="name" jdbcType="VARCHAR"/>
      <result column="can_sale_special" property="canSaleSpecial" jdbcType="BIT" />
      <result column="is_cold_business" property="isColdBusiness" jdbcType="BIT" />
    </association>
    <association property="customerRep" javaType="com.yiban.erp.entities.CustomerRep">
      <id column="rep_id" property="id" jdbcType="INTEGER"/>
      <result column="rep_name" property="name" jdbcType="VARCHAR"/>
      <result column="rep_contact_phone" property="contactPhone" jdbcType="VARCHAR" />
      <result column="rep_repertory_address" property="repertoryAddress" jdbcType="VARCHAR"/>
    </association>
  </resultMap>

  <sql id="ListColumn" >
    s.id, s.company_id, s.order_number, s.ref_no, s.status,s.bill_status,s.bill_type,s.tax_rate,s.invoice_title, s.customer_id, s.customer_rep_id, s.sale_id,
    s.temper_control_id, s.create_order_date, s.take_goods_user, s.pay_order_date, s.mark_up_rate,
    s.ship_method, s.ship_tool, s.ship_company_id, s.comment, s.create_by, s.create_time,
    s.update_by, s.update_time, s.warehouse_id, s.total_quantity, s.total_amount,
    s.free_amount, s.dis_rate, s.paid_amount,
    w.name as warehouse_name,
    c.name as cust_name, c.can_sale_special, c.is_cold_business,
    r.id as rep_id, r.name as rep_name, r.contact_phone as rep_contact_phone,
    r.repertory_address as rep_repertory_address,
    u.nickname as sale_nick_name, u.realname as sale_real_name
  </sql>


    <select id="selectOrderDetailById" resultMap="ListMap" parameterType="java.lang.Long" >
        select
        <include refid="ListColumn" />
        from sell_order s
        left join users u on s.sale_id=u.id
        left join customer c on s.customer_id = c.id
        left join customer_rep r on s.customer_rep_id = r.id
        left join warehouse w on s.warehouse_id = w.id
        where s.id = #{id,jdbcType=BIGINT}
        and s.status != 'DELETE'
    </select>

  <select id="getList" parameterType="map" resultMap="ListMap">
    select
      <include refid="ListColumn" />
    from sell_order s
    left join users u on s.sale_id=u.id
    left join customer c on s.customer_id = c.id
    left join customer_rep r on s.customer_rep_id = r.id
    left join warehouse w on s.warehouse_id = w.id
    where s.company_id = #{companyId} and s.status != 'DELETE'
    <if test="customerId != null" >
      and s.customer_id = #{customerId}
    </if>
    <if test="saleId != null">
      and s.sale_id = #{saleId}
    </if>
    <if test="status != null" >
      and s.status = #{status}
    </if>
    <if test="billStatus != null" >
      and s.bill_status = #{billStatus}
    </if>
    <if test="warehouseId != null" >
      and s.warehouse_id = #{warehouseId}
    </if>
    <if test="refNo != null">
      <bind name="refNoVal" value="refNo + '%'"/>
      and s.ref_no like #{refNoVal}
    </if>
    <if test="formCreateOrderDate != null">
      and s.create_order_date >= #{formCreateOrderDate}
    </if>
    <if test="toCreateOrderDate != null">
      and #{toCreateOrderDate} > s.create_order_date
    </if>
    order by id desc
    limit #{offset}, #{limit};
  </select>

  <select id="getAllCount" parameterType="com.yiban.erp.dto.SellOrderAllAction" resultType="java.lang.Integer">
    select count(1)
    from sell_order s
    where s.company_id = #{companyId} and s.status != 'DELETE'
    <if test="status != null" >
      and s.status = #{status}
    </if>
    <if test="billStatus != null" >
      and s.bill_status = #{billStatus}
    </if>
    <if test="warehouseId != null" >
      and s.warehouse_id = #{warehouseId}
    </if>
    <if test="customerId != null" >
      and s.customer_id = #{customerId}
    </if>
    <if test="orderNumber != null" >
      <bind name="orderNumberVal" value="orderNumber + '%'"/>
      and s.order_number like #{orderNumberVal}
    </if>
    <if test="saleId != null">
      and s.sale_id = #{saleId}
    </if>
    <if test="startDate != null" >
      and s.create_order_date >= #{startDate}
    </if>
    <if test="endDate != null" >
      and s.create_order_date &lt;= #{endDate}
    </if>
  </select>

  <select id="getAllList" parameterType="com.yiban.erp.dto.SellOrderAllAction" resultMap="ListMap">
    select <include refid="ListColumn" />
    from sell_order s
    left join users u on s.sale_id=u.id
    left join customer c on s.customer_id = c.id
    left join customer_rep r on s.customer_rep_id = r.id
    left join warehouse w on s.warehouse_id = w.id
    where s.company_id = #{companyId} and s.status != 'DELETE'
      <if test="status != null" >
        and s.status = #{status}
      </if>
    <if test="billStatus != null" >
      and s.bill_status = #{billStatus}
    </if>
    <if test="warehouseId != null" >
      and s.warehouse_id = #{warehouseId}
    </if>

      <if test="customerId != null" >
        and s.customer_id = #{customerId}
      </if>
      <if test="orderNumber != null" >
        <bind name="orderNumberVal" value="orderNumber + '%'"/>
        and s.order_number like #{orderNumberVal}
      </if>
      <if test="saleId != null">
        and s.sale_id = #{saleId}
      </if>
      <if test="startDate != null" >
        and s.create_order_date >= #{startDate}
      </if>
      <if test="endDate != null" >
        and s.create_order_date &lt;= #{endDate}
      </if>
      order by id desc
      <if test="offset != null and limit!= null" >
        limit #{offset}, #{limit} ;
      </if>
  </select>

  <select id="getListById" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from sell_order
    where id in
    <foreach collection="idList" item="id" open="(" close=")" separator=", " >
      #{id}
    </foreach>
    and s.status != 'DELETE'
  </select>

  <select id="getReviewOrderList" parameterType="com.yiban.erp.dto.SellReviewOrderQuery" resultMap="ListMap">
    select <include refid="ListColumn"/>
    from sell_order s
    left join users u on s.sale_id=u.id
    left join customer c on s.customer_id = c.id
    left join customer_rep r on s.customer_rep_id = r.id
    left join warehouse w on s.warehouse_id = w.id
    where s.company_id = #{companyId} and s.status != 'DELETE'
    <if test="customerId != null">
      and s.customer_id = #{customerId}
    </if>
    <if test="saleId != null" >
      and s.sale_id = #{saleId}
    </if>
    <if test="startDate != null">
      and s.create_order_date >= #{startDate}
    </if>
    <if test="endDate != null">
      and s.create_order_date &lt;= #{endDate}
    </if>
    <if test="statusList != null" >
      and s.status in
      <foreach collection="statusList" item="item" open="(" close=")" separator=",">
        #{item}
      </foreach>
    </if>
    order by s.id desc;
  </select>

  <select id="getReviewDetailById" parameterType="java.lang.Long" resultMap="ListMap">
    select <include refid="ListColumn" />
    from sell_order s
    left join users u on s.sale_id=u.id
    left join customer c on s.customer_id = c.id
    left join customer_rep r on s.customer_rep_id = r.id
    left join warehouse w on s.warehouse_id = w.id
    where s.id = #{id} and s.status != 'DELETE'
  </select>


    <select id="getOrderStatusStat" resultType="com.yiban.erp.entities.StatusCount" parameterType="java.lang.Long" >
        select status, count(1) as count
        from sell_order
        where status != 'DELETE'
        <if test="companyId != null">
            and company_id = #{companyId}
        </if>
        group by status
    </select>

    <select id="getOrderAmountStat" resultType="com.yiban.erp.entities.StatusCount" >
        select date(create_time) as tradeDate, sum(total_amount) as amount
        from sell_order
        where status = 'SALE_CHECKED'
        <if test="companyId != null">
            and company_id = #{companyId}
        </if>
        <if test="startDate != null">
            and create_time >= #{startDate}
        </if>
        <if test="endDate != null">
            and #{endDate} > create_time
        </if>
        group by tradeDate
        order by tradeDate
    </select>

    <select id="getGoodsAmountStat" resultType="com.yiban.erp.entities.StatusCount" >
        select g.name as goodsName, g.id as goodsId, sum(sod.amount) as amount
        from sell_order so, sell_order_detail sod, goods_info g, goods_detail gd
        where sod.sell_order_id = so.id and sod.goods_id=gd.id and gd.goods_info_id=g.id and so.status='SALE_CHECKED'
        <if test="companyId != null">
            and so.company_id = #{companyId}
        </if>
        <if test="startDate != null">
            and so.create_time >= #{startDate}
        </if>
        <if test="endDate != null">
            and #{endDate} > so.create_time
        </if>
        group by g.id
        order by amount desc
    </select>


    <select id="getCustomerStat" resultType="com.yiban.erp.entities.StatusCount" >
        select so.customer_id as customerId,
              c.name as customerName,
              c.account_amount as customerReceivable,
              count(distinct sod.sell_order_id) as orderCount,
              count(distinct sod.goods_id) as goodsCount,
              sum(sod.amount) as amount,
              min(so.create_time) as earliestOrderDate,
              max(so.create_time) as latestOrderDate
        from sell_order so, sell_order_detail sod, customer c
        where sod.sell_order_id = so.id and so.status='SALE_CHECKED'
        and so.customer_id = c.id
        <if test="companyId != null">
            and so.company_id = #{companyId}
        </if>
        <if test="customerId != null">
            and so.customer_id = #{customerId}
        </if>
        <if test="startDate != null">
            and so.create_time >= #{startDate}
        </if>
        <if test="endDate != null">
            and #{endDate} > so.create_time
        </if>
        group by so.customer_id
        order by so.customer_id
    </select>


</mapper>