<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.SystemErrorMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.SystemError" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="extra" property="extra" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yiban.erp.entities.SystemError" extends="BaseResultMap" >
    <result column="extra" property="extra" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    extra
  </sql>

  <sql id="Base_Column_List">
    id, key, code,
      message, comment, enabled,
      create_time, update_time, create_by,
      update_by, extra
  </sql>

  <insert id="insert" parameterType="com.yiban.erp.entities.SystemError" keyProperty="id" useGeneratedKeys="true">
    insert into system_error (key, code,
      message, comment, enabled, 
      create_time, update_time, create_by, 
      update_by, extra)
    values (#{key,jdbcType=VARCHAR}, #{code,jdbcType=INTEGER},
      #{message,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{enabled,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{extra,jdbcType=LONGVARCHAR})
  </insert>

  <update id="update" parameterType="com.yiban.erp.entities.SystemError" >
    update system_error
      set
        key = #{key,jdbcType=VARCHAR},
        code = #{code,jdbcType=INTEGER},
        message = #{message,jdbcType=VARCHAR},
        comment = #{comment,jdbcType=VARCHAR},
        enabled = #{enabled,jdbcType=BIT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        create_by = #{createBy,jdbcType=VARCHAR},
        update_by = #{updateBy,jdbcType=VARCHAR},
        extra = #{extra,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from system_error where enabled = '1'
  </select>

</mapper>