<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.TodoItemMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.TodoItems" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="deal_time" property="dealTime" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="ref_id" property="refId" jdbcType="BIGINT" />
    <result column="ref_type" property="refType" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getTodoItems" resultMap="BaseResultMap">
      select *
      from todo_items
      where if(deal_time is not null, deal_time = curdate(), 1=1 )
        and company_id =#{companyId} and status = 0
  </select>
  <insert id="addTodoItems" parameterType="com.yiban.erp.entities.TodoItems">
      insert into todo_items
      (content, create_time, create_by,status, company_id)
      values
      (#{content}, now(), #{createBy}, '0', #{companyId})
  </insert>
  <update id="updTodoItems">
    update todo_items
    set status = 1
    where id = #{id}
  </update>

  <select id="getTodoByGoodId" resultType="Integer">
    select count(*)
    from todo_items
    where ref_id = #{refId} and ref_type = "GOOD_CARE"
  </select>
  <update id="updTodoByGoodId" parameterType="com.yiban.erp.entities.TodoItems">
    update todo_items
    set create_time = now(), status = 0, deal_time = #{dealTime}, content = #{content}, create_by = #{createBy}
    where ref_id =#{refId} and ref_type = #{refType}
  </update>
  <insert id="addTodoByGoodId" parameterType="com.yiban.erp.entities.TodoItems">
    insert into todo_items
    (content,create_time,create_by,deal_time, status,company_id,ref_id,ref_type)
    values
    (#{content},now() , #{createBy},#{dealTime}, 0, #{companyId}, #{refId}, #{refType})
  </insert>
</mapper>