<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.erp.entities.UserRole" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="can_write" property="canWrite" jdbcType="BIT" />
    <result column="can_update" property="canUpdate" jdbcType="BIT" />
    <result column="can_audit" property="canAudit" jdbcType="BIT" />
    <result column="can_delete" property="canDelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, name, can_write, can_update, can_audit, can_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_roles
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from user_roles
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="findByRoles" resultMap="BaseResultMap">
    select
    ur.*, u.realname, u.nickname, u.mobile
    from user_roles ur, users u
    where
    ur.user_id = u.id
    and u.company_id = #{companyId, jdbcType=INTEGER}
    <if test="roleList != null" >
      and name in
      <foreach collection="roleList" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_roles
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yiban.erp.entities.UserRole" useGeneratedKeys="true" keyProperty="id">
    insert into user_roles (user_id, name,
      can_write, can_update, can_audit, 
      can_delete)
    values (#{userId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
      #{canWrite,jdbcType=BIT}, #{canUpdate,jdbcType=BIT}, #{canAudit,jdbcType=BIT}, 
      #{canDelete,jdbcType=BIT})
  </insert>
  <insert id="replaceInto" parameterType="com.yiban.erp.entities.UserRole" useGeneratedKeys="true" keyProperty="id">
    replace into user_roles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="canWrite != null" >
        can_write,
      </if>
      <if test="canUpdate != null" >
        can_update,
      </if>
      <if test="canAudit != null" >
        can_audit,
      </if>
      <if test="canDelete != null" >
        can_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="canWrite != null" >
        #{canWrite,jdbcType=BIT},
      </if>
      <if test="canUpdate != null" >
        #{canUpdate,jdbcType=BIT},
      </if>
      <if test="canAudit != null" >
        #{canAudit,jdbcType=BIT},
      </if>
      <if test="canDelete != null" >
        #{canDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>

  <insert id="insertSelective" parameterType="com.yiban.erp.entities.UserRole" useGeneratedKeys="true" keyProperty="id">
    insert into user_roles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="canWrite != null" >
        can_write,
      </if>
      <if test="canUpdate != null" >
        can_update,
      </if>
      <if test="canAudit != null" >
        can_audit,
      </if>
      <if test="canDelete != null" >
        can_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="canWrite != null" >
        #{canWrite,jdbcType=BIT},
      </if>
      <if test="canUpdate != null" >
        #{canUpdate,jdbcType=BIT},
      </if>
      <if test="canAudit != null" >
        #{canAudit,jdbcType=BIT},
      </if>
      <if test="canDelete != null" >
        #{canDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.erp.entities.UserRole" >
    update user_roles
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="canWrite != null" >
        can_write = #{canWrite,jdbcType=BIT},
      </if>
      <if test="canUpdate != null" >
        can_update = #{canUpdate,jdbcType=BIT},
      </if>
      <if test="canAudit != null" >
        can_audit = #{canAudit,jdbcType=BIT},
      </if>
      <if test="canDelete != null" >
        can_delete = #{canDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.erp.entities.UserRole" >
    update user_roles
    set user_id = #{userId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      can_write = #{canWrite,jdbcType=BIT},
      can_update = #{canUpdate,jdbcType=BIT},
      can_audit = #{canAudit,jdbcType=BIT},
      can_delete = #{canDelete,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>