
.goods-list {
    position: absolute;
    width: 99%;
    height: 98.4%;
    overflow: auto;
    .list-sider {
        position: absolute;
        width: 200px;
        top: 0;
        left: 0;
        z-index: 21;
        transition: width .3s;
    }
    .list-body {
        position: absolute;
        top: 0;
        left: 200px;
        width: 100%;
        z-index: 1;
        transition: left .3s;
    }
}