.block-sidebar {
  border-right: 1px solid #cccccc;
}
.block-content {
  padding-left: 20px;
  background-color: white;
  min-height: 250px;
  .ivu-layout-header {
    background-color: white;
    padding: 5px 0;
    height: 35px;
    line-height: 24px;
  }
}
.goods-tbl {
  .ivu-card-head {
    background-color: #453729;
    border-radius: 4px 4px 0 0;
    p {
      color: white;
    }
  }
  .ivu-card-extra {
    top: 10px;
  }
}
